@font-face {
	font-family: 'GothamPro';
	src: url('/fonts/GothamPro.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'GothamPro-Bold';
	src: url('/fonts/GothamPro-Bold.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'GothamPro-Black';
	src: url('/fonts/GothamPro-Black.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

