@media only screen and (max-width: 1250px) {
  .wrap {
    padding: 0 20px;
  }
}
/*-------------------------------------------*/
@media only screen and (max-width: 1080px) {
  html {
    font-size: 14px;
  }
  .header__info > div:nth-child(2n) {
    display: none;
  }
  .catalogLink a {
    width: 300px;
  }
}
/*-------------------------------------------*/
@media only screen and (max-width: 980px) {
  header {
    margin-bottom: 40px;
  }
  .targetLinks {
    margin: 0 auto 50px;
  }
  .catalogLink {
    margin: 0 auto 50px;
  }
  .catalogLink a {
    padding: 20px 0;
  }
  .baner {
    padding: 30px 0;
  }
  .baner img {
    display: none;
  }
}
