
@media only screen and (max-width : 1250px) {
    .wrap {
        padding:0 20px;
    }
}
/*-------------------------------------------*/
@media only screen and (max-width : 1080px) {
    html {
        font-size: 14px;
    }
    .header__info {
        &>div:nth-child(2n) {
            display: none;
        }
    }
    .catalogLink {
        a {
            width: 300px;
        }
    }
}
/*-------------------------------------------*/
@media only screen and (max-width : 980px) {
    header {
        margin-bottom: 40px;
    }
    .targetLinks {
        margin: 0 auto 50px;
    }
    .catalogLink {
        .flex(space-around);
        margin: 0 auto 50px;
        a {
            padding:20px 0;
        }
    }
    .baner {
        margin-bottom: 50px;
        padding:30px 0;
        img {display: none;}
    }
    .imgFront {
        margin: 0 auto 50px;
    }
    .about {
        padding-bottom: 50px;
    }
    footer {
        padding: 40px 0;
    }
    .header__option a:first-child {
        margin-right: 10px;
    }
}
@media only screen and (max-width : 840px) {
    .header__info {
        div:first-child {
            display: none;
        }
    }
    .about {
        .wrap {
            display: block;
        }
    }
    .about__img {
        margin:0 auto 20px;
    }
    .about__text {
        margin: auto;
    }
    .footer__nav:first-child {
        margin-right: 0%;
    }
    .footer_info_cntr {
        margin: 0;
    }
    footer .wrap {
        .flex(space-around);
    }
    .catalogLink {
        display: block;
        a {
            margin: 0 auto 25px;
        }
    }
}
@media only screen and (max-width : 690px) {
    .baner {
        .wrap {
            display: block;
        }
        p {
            max-width: 100%;
            margin: 0 auto 20px;
            text-align: center;
        }
    }
    .baner__buttons {
        margin-bottom: 20px;
    }
    .about__img {
        max-width: 100%;
    }
}
@media only screen and (max-width : 450px) {
}



