
@media only screen and (max-width : 1025px) {
}
/*-------------------------------------------*/
@media only screen and (max-width : 769px) {
}
/*-------------------------------------------*/
@media only screen and (max-width : 450px) {
  .nav {
    display: none;
  }
  header {
    .wrap {
      .flex(space-between);
    }
  }
  header, footer {
    .wrap {
      padding: 0 10px;
    }
  }
  footer {
    height: auto;
    padding: 20px 0;
  }
  footer {
    .wrap {
      display:block;
      text-align: center;
    }
  }
  .footer__item {
    &:first-child {
      margin-bottom: 20px;
    }
  }
  .data {
    font-size: 0.7rem;
  }
  .logo img {
    max-width: 150px;
  }
  .data_date  {
    width: 35%;
  }
  .data_avatar {
    width: 25%;
  }
  .data_avatar img {
    width:50px;
    height: 50px;
  }
  .mob {
    display: block;
  }
  main {
    padding: 20px 10px;
  }
}



