
@import "base.less";
/*-------------------END BASE STYLE----------------------------------*/
@import "fonts.less";
/*-------------------END FONTS STYLE---------------------------------*/

/*!!!!!!!!!!!!!!!!!!!STYLE CSS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
body {
	position: relative;
	font-family: 'SF UI Display';
	font-size: 16px;
	background:#E5E5E5;
	color: #000;
	&:after {
		content:"";
		position: absolute;
		top: 0;
		z-index: -1;
		left: 10%;
		width: 247px;
		height: 40%;
		background:url(../img/bg.svg);
		background-repeat:repeat-y;
		background-size:contain;
	}
	&:before {
		content:"";
		position: absolute;
		top: 0;
		transform: rotate(180deg);
		z-index: -1;
		right: 10%;
		width: 247px;
		height: 40%;
		background:url(../img/bg.svg);
		background-repeat:repeat-y;
		background-size:contain;
	}
	&.page {
		&:before, &:after {
			height:100%;
		}
	}
}
.wrap {
	max-width: 1440px;
	position: relative;
	margin: 0 auto;
	padding: 0 3.9vmax;
	box-sizing: border-box;
}
.wrap2 {
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
}
/*------------------END BODY && WRAP BASE STYLE------------------------------*/
header {
	padding: 35px 0;
	font-size: 0.875rem;
	margin-bottom: 65px;
	.wrap {
		.flex(space-between);
	}
}
.logo {
	max-width: 118px;
}
.header__lang {
	position: relative;
	.flex(center);
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background:#fff;
	font-weight: 700;
	color:@col;
	cursor: pointer;
	&:hover {
		.dropdown__lang {
			display: block;
		}
	}
	button {
		font-size: 14px;
		font-weight: 700;
	}
}
// .dropdown__lang {
// 	display: none;
// 	position: absolute;
// 	z-index: 1;
// 	bottom: -20px;
// 	width: 52px;
// 	padding: 8px 0 0px;
// 	background:#fff;
// 	text-align: center;
// 	border-bottom-left-radius:20px;
// 	border-bottom-right-radius:20px;
// 	.transition;
// 	li {
// 		margin-bottom: 15px;
// 	}
// 	&:hover {
// 		display: block;
// 	}
// }
.header__option {
	.flex(space-between);
}
.header__info {
	.flex(space-between, stretch);
	&>div {
		max-width: 288px;
		padding: 7px 15px;
		box-sizing: border-box;
		border: 1px solid rgba(130, 130, 130, 0.2);
		border-radius: 10px;
		background:@col;
		color:#fff;
		font-weight: 400;
		line-height: 1.25;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	&>div:last-child {
		.flex(space-between);
	}
	&>div:first-child {
		.flex(center);
	}
	&>div:nth-child(2n) {
		background:#CA2227;
	}
	&>div:not(:last-child){
		margin-right: 2vmax;
	}
	span {
		font-weight: 900;
	}
}
.header__phones {
	max-width: 118px;
	margin: 0 15px 0 15px;
	a {
		letter-spacing: 0.9px;
	}
}
.viber_svg {
	margin-right: 15px;
}
.header__option {
	a {
		position: relative;
		max-width: 59px;
		text-align: center;
		color:#4C4C4C;
		&:first-child {
			margin-right: 2.9vmax;
		}
	}
}
.cartLink__total {
	position: absolute;
	top:30px;
	right: 5px;
	display: inline-flex;
	align-items:center;
	justify-content: center;
	width: 18px;
	height: 18px;
	border-radius:50%;
	background:#F11016;
	font-size: 12px;
	font-weight: 700;
	color:#fff;
}
/*-------------------END HEADER--------------------------------------*/

/*+++++++++++++++++++START MAIN++++++++++++++++++++++++++++++++++++++*/
main {
	text-align: center;
}
.animals {
	display: inline-flex;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	a {
		.flex(center);
		width: 236px;
		padding: 15px 0;
		box-sizing:border-box;
		box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.15);
		border-radius: 20px;
		background:#fff;
		font-size: 1.125rem;
		font-weight: 700;
		color:#BDBDBD;
		&:last-child {
			&.active {
				margin-left: -30px;
			}
			svg {
				width:62px;
				 height:47px;
				margin-left: 25px;
			}
		}
		&:first-child {
			&.active {
				margin-right: -30px;
			}
			svg {
				width:60px;
				 height:47px;
				margin-right: 25px;
			}
		}
		&.active {
			position: relative;			
			background:@col;
			color:#fff;
			svg {
				fill: #fff;	
						
			}
		}
		svg {
			fill:#BDBDBD;
		}
	}
}
.search {
	position: relative;
	max-width: 692px;
	margin: 35px auto;
	border-radius: 10px;
	background:#fff;
	input {
		display: block;
		width: 100%;
		height: 50px;
		padding-left: 12px;
		box-sizing:border-box;
		border-radius: 10px;
		border: 3px solid #FCC000;
		font-size: 1.125rem;font-family: 'SF UI Display';
		//box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
	}
	button {
		position: absolute;
		right: 0.7%;
		top: 50%;
		transform: translateY(-50%);
		height: 83%;
		padding:0 18px;
		border-radius: 6px;
		background:@col;
		font-size: 1.125rem;font-family: 'SF UI Display';
		color:#fff;
	}
	:-moz-placeholder {color: @col;font-size: 1.125rem;font-family: 'SF UI Display';}
    ::-moz-placeholder {color: @col;font-size: 1.125rem;font-family: 'SF UI Display';}
	:-ms-input-placeholder {color: @col;font-size: 1.125rem;font-family: 'SF UI Display';}
	::-webkit-input-placeholder {color: @col;font-size: 1.125rem;font-family: 'SF UI Display';}
}
.targetLinks {
	.flex(center);
	max-width: 759px;
	margin: 0 auto 100px;
	border-radius: 10px;
	box-sizing: border-box;
	border: 1px solid rgba(130, 130, 130, 0.2);
	a {
		position: relative;
		.flex(center);
		width: 33.333%;
		padding:14px 0;	
		background:#fff;
		color:#828282;
		&:not(:last-child) {
			&:before {
				content:"";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				width: 2px;
				height: 34px;
				background: #E1E1E1;
			}
		}
		&:first-child {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		&:last-child {
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		svg {
			margin-right: 30px;
		}
		&:first-child {
			color:#F11016;
		}
	}
}
.catalogLink {
	.flex(space-between);
	max-width: 1180px;
	margin:0 auto 150px;
	a {
		.flex(center);
		width: 370px;
		padding:39px 0;
		border-radius: 20px;
		box-shadow: 0px 0px 20px rgba(95, 95, 95, 0.15);
		background: #FFFFFF;
		font-size: 1.5rem;
		color:#4F4F4F;
		text-transform: uppercase;
		text-align: center;
		svg {
			margin-right: 10%;
		}
	}
}
.baner {
	margin-bottom: 80px;
	padding-top: 30px;
	box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.15);
	background: #FFFFFF url(../img/bg2.svg) no-repeat;
	background-position:center;
	background-size: cover;
	.wrap {
		.flex;
	}
	img {
		margin-right: 1.53%;
	}
	p {
		max-width: 300px;
		font-size: 1.5rem;
		letter-spacing: 0.1rem;
		color:#4F4F4F;
		font-weight: 600;
	}
	span {
		font-size: 1.875rem;
		color:#F11016;
		font-weight: 800;
	}
}
.baner__buttons {
	.flex(space-between);
	margin: 0 2.08% 0 7.92%;
	button {
		box-sizing: border-box;
		font-size: 1.125rem;
		border-radius: 10px; 
		border: 2px solid #FCC000;
	}
}
.baner__enter {
	margin-right: 30px;
	padding: 1.0625rem 2.75rem;
	color:@col;
	background: rgba(252, 192, 0, 0.1);
}
.baner__register {
	padding: 1.0625rem 1.625rem;
	background: @col;
	color:#fff;
}
.baner__social {
	.flex(space-between);
	a {
		display: inline-flex;
		justify-content: center;
		align-items:center;
		width: 43px;
		height: 43px;
		box-sizing: border-box;
		border-radius: 10px;
		border: 2px solid #FCC000;
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}
.imgFront {
	margin: 0 auto 90px; 
}
.about {
	padding-bottom: 150px;
	.wrap {
		.flex;
	}
	h2 {
		.flex(center, flex-end);
		margin-bottom: 25px;
		font-size: 1.5rem;
		font-weight: normal;
		span {
			display: inline-block;
			margin:0 5px 11px 0;
		}
	}
	
}
.about__img {
	max-width: 446px;
	margin-right: 75px;
}
.about__text {
	max-width: 570px;
	text-align: left;
	p {
		margin-bottom: 25px;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.05rem;
	}
}
/*-------------------END MAIN----------------------------------------*/

/*+++++++++++++++++++START FOOTER +++++++++++++++++++++++++++++++++++*/
footer {
	padding:38px 0 68px;
	box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1);
	background: #FFFFFF url(../img/bg2.svg) no-repeat;
	background-position: center;
	background-size: cover;
	.wrap {
		.flex(flex-start, flex-start);
	}
	h3 {
		margin-bottom: 15px;
		font-size: 1.125rem;
		font-weight: 700;
		color:@col;
	}
}
.footer__nav {
    &:first-child {
		margin-right: 10%;
	}
	li {
		margin-bottom: 5px;
	}
	a {
		color:#828282;
		font-weight: 500;
	}

}
.footer_info {

	color:#828282;
	font-weight: 500;
	span {
		display: block;
		margin-bottom: 5px;
	}
}
.logoFooter {
	display: block;
	max-width: 95px;
	margin: 0 auto 25px;
}
.footer__social {
	.flex;	
	a {
		.flex(center);
		width: 43px;
		height: 43px;
		box-sizing: border-box;
		border: 2px solid #B8B8B8;
		border-radius: 10px;
		&:not(:last-child){
			margin-right: 10px;
		}
	}
}

.footer_info_cntr {
	margin:0 14%;
}
.footer__wrap {
	.flex;
}
.vh {
	height:100vh;
	overflow: hidden;
}
.mob {
	display: none;
	width: 45px;
  height: 70px;
  overflow: hidden;
  background: none;	
}
.mob span {
	display: block;
  position: relative;
  width: 100%;
  height: 6px;
  background: @col;
  border-radius: 4px;
  .transition(0.1s);
  &:before {
    content: "";
    width: 100%;
    border-radius: 4px;
    position: absolute;
    top: -15px;
    left: 0;
    height: 6px;
    background-color: @col;
    .transition;
  }
  &:after {
    border-radius: 4px;
  	content: "";
  	width: 100%;
    position: absolute;
    height: 6px;
    left: 0;
    background-color: @col;
    bottom: -15px;
    .transition;
  }
}
.mob .active {
  background: none;
}
.mob .active:before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mob .active:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav_mob {
	position: absolute;
	z-index: 111;
	left: 0;
	padding:20px 0;
	right: 0;
	height: 100vh;
	background:#fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	ul {
		padding-left: 20px;
	}
	li {
		margin-bottom: 20px;
	}
	a {
		font-size: 18px
	}
}
.nav_mob_img {
	position: absolute;
	top: 20px;
	right: 35px;
}
.modal {
	display: none;
	position: absolute;
	z-index: 888;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
	backdrop-filter: blur(4px);
	&.active {
		display:block;
	}
}
.modal__wrap {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 5vh;
	width: 568px;
	padding: 100px 100px 140px;
	box-sizing:border-box;
	background: rgba(240, 240, 240, 0.9);
	border-radius: 10px;
	text-align: center;
	h2 {
		margin-bottom: 25px;
		font-size: 1.5rem;
		font-weight: 500;
		letter-spacing: 0.1rem;
	}
	:-moz-placeholder {font-size: 14px;letter-spacing:0.05rem; font-style: italic;font-family: 'SF UI Display';}
    ::-moz-placeholder {font-size: 14px;letter-spacing:0.05rem; font-style: italic;font-family: 'SF UI Display';}
	:-ms-input-placeholder {font-size: 14px;letter-spacing:0.05rem; font-style: italic;font-family: 'SF UI Display';}
	::-webkit-input-placeholder {font-size: 14px;letter-spacing:0.05rem; font-style: italic;font-family: 'SF UI Display';}
}
.modal__register {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom:2px solid #C4C4C4;
}
.inpt {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 20px 5px 0 8px;
	box-sizing: border-box;
	border: 1.5px solid #FCC000;
	border-radius: 10px;
	background:none;
	height: 50px;
	font-size: 1rem;
	color:#666666;
}
.moreRegister {
	.flex;
	margin-bottom: 15px;
	p {
		margin-right: 58px;
		max-width: 96px;
		font-size: 14px;
		line-height: 1.13;
		font-weight: 500;
		color: #666666;
		letter-spacing: 0.05em;
		text-align: left;
	}
}
.btn {
	display: block;
	width: 100%;
	padding: 13px 0;
	background:@col;
	color:#fff;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1.5px solid #FCC000;
	font-size: 1.25rem;
	letter-spacing: 0.1rem;
}
.btn2 {
	background: rgba(252, 192, 0, 0.1);
	color:@col;
}
.close {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor:pointer;
}
.all {
	.wrap {
		.flex(space-between);
		flex-wrap: wrap;
		max-width:1200px;
		padding:0 15px;
		margin-top: 100px;
	}
}
.all__item {
	.flex(space-between);
	width: 270px;
	height: 140px;
	margin-bottom: 30px;
	padding:35px;
	box-sizing:border-box;
	border-radius: 10px;
	background:#fff;
	box-shadow: 0px 4px 20px rgba(95, 95, 95, 0.15);
}

.all__img {
	box-sizing:border-box;	
	border-radius:50%;
}
.all__text {
	line-height: 1.5;
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-align: center;
	color: #4F4F4F;
}
.catalogPage {
	header {
		margin-bottom: 0;
	}
}
.crumbs {
	.flex;
	margin-bottom: 10px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0.1rem;
	color: #4D4C4C;
	font-style: italic;
}
.caret {
	margin:0 5px;
}

aside {
	max-width: 270px;
}
.filter {
	text-align: left;
}
.filter__wrap {
	margin: 10px 0;
	
	input[type="checkbox"] {
		display: none;
	}	
	label {
		position: relative;
		font-size: 14px;
		letter-spacing: 0.05rem;
		color: #4F4F4F;
		cursor: pointer;
		&:before {
			content:"";
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 11px;
			border: 2px solid #FCC000;
			box-sizing: border-box;
			border-radius: 2px;
		}
		&:after {
			content:"";
			display: none;
			position: absolute;
			left:0;
			bottom:4px;
			width: 20px;
			height:15.5px;
			background:url(../img/checked.svg) no-repeat;
		}
	}
	input[type="checkbox"]:checked + label:after {
			display: inline-block;
	}
}
/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
	display: none
  }
  /* Убираем стандартный маркер Firefox */
  details > summary {
	list-style: none;
  }
  details.filter {
	//border-top: 2px solid #A1A1A1;
	border-bottom: 2px solid #A1A1A1;
	summary {
		.flex(space-between);
		padding:10px 13px;
		font-size: 1.125rem;
		font-weight: bold;
		letter-spacing:0.05rem;
		color: #666666;
		&::after {
			content:"+";
			.flex(center);
			box-sizing:border-box;
			width: 20px;
			height:20px;
			border-radius:50%;
			border: 2px solid transparent;
			background: #C4C4C4;
			color:#fff;
			text-align: center;
			cursor: pointer;
		}
	}
	
}
details.filter[open] {
	summary {
		background:@col;
		color:#fff;
		&::after {
			content:"-";
			border: 2px solid #FFFFFF;
			color:#fff;
			background:@col;
		}
	}
}
.filter__price {
	width: 90%;
	margin-top: 10px;
	padding-bottom: 15px;
	border-bottom: 2px solid #A1A1A1;
	h3 {
		margin-bottom: 15px;
		padding-left: 13px;
		font-size: 1.125rem;
		font-weight: bold;
		letter-spacing:0.05rem;
		color: #666666;
		text-align: left;
		span {
			font-weight: normal;
			font-size: 14px;
		}
	}
}
.filter__price_inputs {	
	.flex(space-between);

	margin-top: 15px;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
	}
}
.filter__price_input {
	border:none;
	background:none;
}

.filter__price_label {
	.flex;
	width: 62px;
	height: 30px;
	box-sizing: border-box;
	padding-left: 10px;
	background: #F5F5F5;
	border: 2px solid #FCC000;
	border-radius: 5px;
}
.filter__price_btn {
	display: inline-block;
	width: 62px;
	height: 30px;
	border-radius: 5px;
	background:@col;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 0.05rem;
}
.noUi-target {
	height: 12px;
	box-sizing:border-box;
	border-radius: 5px;
	// background-color: #fff;
	border: 2px solid #FCC000;
	border-radius: 5px;
	box-shadow: none;
}
.noUi-connect {
	background-color:@col;
	top: -1px;
    height: 10px;	
}
.noUi-connects {
	overflow: visible;
}
.noUi-handle::after,
.noUi-handle::before {
	display: none;
}
.noUi-handle {
	cursor: pointer;
	box-shadow: none;
	border-radius: 50%;
	background-color: #858585;
}
.noUi-horizontal .noUi-handle {
	width: 16px;
	height: 16px;
	left: 19px;
	top: -4px;
}
/*~~~~~~~~~~~~~~~~~~~MEDIA~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import "media.less";