* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  line-height: 1;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
a {
  text-decoration: none ;
  color: inherit;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
ul {
  list-style: none;
}
input,
select,
button,
textarea {
  outline: none;
  border: none;
}
button {
  background: none;
  display: inline-block;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
hr {
  margin-block-start: 0em;
  margin-block-end: 0em;
  border-width: 0px;
}
.abs {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.midle {
  top: 50%;
  transform: translateY(-50%);
}
.mob {
  width: 45px;
  height: 70px;
  overflow: hidden;
  display: none;
  background: none;
}
.mob span {
  display: block;
  position: relative;
  width: 100%;
  height: 6px;
  background: #d19f02;
  border-radius: 4px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.mob span:before {
  content: "";
  width: 100%;
  border-radius: 4px;
  position: absolute;
  top: -15px;
  left: 0;
  height: 6px;
  background-color: #d19f02;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.mob span:after {
  border-radius: 4px;
  content: "";
  width: 100%;
  position: absolute;
  height: 6px;
  left: 0;
  background-color: #d19f02;
  bottom: -15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.mob .active {
  background: none;
}
.mob .active:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mob .active:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/*-------------------END BASE STYLE----------------------------------*/
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*-------------------END FONTS STYLE---------------------------------*/
/*!!!!!!!!!!!!!!!!!!!STYLE CSS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.wrap {
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
/*------------------END BODY && WRAP BASE STYLE------------------------------*/
header {
  padding: 10px 0;
}
header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo:not(:last-child) {
  margin-right: 30px;
}
.headerItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headerItem__text {
  padding: 5px 0;
}
.headerItem__text:first-child {
  border-right: 1px solid;
}
.headerItem__text:first-child a {
  margin-right: 15px;
}
.headerItem__text:Last-child {
  padding-left: 20px;
}
.headerItem__text a,
.headerItem__text span {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.headerItem__text p {
  margin-bottom: 20px;
  font-size: 20px;
  color: #616161;
  text-transform: uppercase;
}
.headerBtn {
  padding: 24px 22px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  color: #fff;
  background: #11406D;
}
.headerBtn:hover,
.headerBtn:focus {
  background: #BA0100;
}
/*-------------------END HEADER--------------------------------------*/
.primero {
  position: relative;
  width: 100%;
  height: 900px;
  padding-top: 245px;
  background: url(../img/bg1.jpg) no-repeat;
  background-size: cover;
}
h1 {
  max-width: 618px;
  margin-left: 20px;
  padding: 35px 40px 35px 60px;
  border-radius: 50px 0px;
  background: rgba(229, 229, 229, 0.63);
  font-size: 48px;
  line-height: 1.22;
  font-weight: bold;
  color: #11406D;
}
h1 span {
  display: block;
  margin-top: 10px;
  font-size: 25px;
  font-weight: normal;
}
.plashka {
  position: absolute;
  right: 10%;
  bottom: 15%;
  font-size: 36px;
  letter-spacing: 0.1rem;
  color: #fff;
}
.plashka__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296px;
  height: 72px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.plashka__item:nth-child(1) {
  background: rgba(17, 64, 109, 0.9);
  box-shadow: 0px 0px 20px 3px #EAB734;
}
.plashka__item:nth-child(2) {
  background: rgba(234, 185, 53, 0.99);
  box-shadow: 0px 0px 20px 3px #EAB734;
}
.plashka__item:nth-child(3) {
  background: rgba(186, 1, 0, 0.9);
}
/*-------------------END MAIN----------------------------------------*/
/*+++++++++++++++++++START FOOTER +++++++++++++++++++++++++++++++++++*/
/*~~~~~~~~~~~~~~~~~~~MEDIA~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*-------------------------------------------*/
/*-------------------------------------------*/
