* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 16px;
  line-height: 1;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
a {
  text-decoration: none ;
  font-size: 14px;
  color: inherit;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
ul {
  list-style: none;
}
input,
select,
button,
textarea {
  outline: none;
  border: none;
}
button {
  background: none;
  display: inline-block;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
hr {
  margin-block-start: 0em;
  margin-block-end: 0em;
  border-width: 0px;
}
/*-------------------END BASE STYLE----------------------------------*/
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*-------------------END FONTS STYLE---------------------------------*/
/*!!!!!!!!!!!!!!!!!!!STYLE CSS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
body {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #000;
}
h1 {
  margin-bottom: 1rem;
  font-size: 1.875rem;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  padding: 0;
}
.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 1.875rem;
  font-size: 14px;
  color: #000;
}
.btn svg {
  margin-right: 10px;
}
/*------------------END BODY && WRAP BASE STYLE------------------------------*/
header {
  background: #363636;
  font-size: 14px;
}
header .container-fluid {
  padding: 0 2.5%;
}
header .logo {
  margin-right: 80px;
}
.header__link {
  color: #fff;
  text-decoration: none;
}
.header__link:not(:last-child) {
  margin-right: 38px;
}
.header__link__grey {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.header__linkImg {
  display: inline-block;
  margin-right: 14px;
}
#exitSvg {
  fill: #fff;
  opacity: 0.8;
}
/*-------------------END HEADER--------------------------------------*/
.topSection {
  background: #575757;
  color: #fff;
}
.topSection .btn {
  margin-right: 2.6875rem;
  background: #fff;
}
.topSection .btn svg {
  fill: #F67555;
}
.topSection a:not(:last-child) {
  margin-right: 2.6785rem;
}
.topSection a svg {
  margin-right: 12px;
}
.topSection__top {
  padding: 1.85rem 0;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}
.topSection__bottom {
  padding: 1.25rem 0;
}
.navSection {
  padding: 2.5rem;
  background: #F8F8F8;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}
.navSection .btn {
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}
.navSection .btn:not(:last-child) {
  margin-right: 1.25rem;
}
.navSection .btn svg {
  fill: rgba(0, 0, 0, 0.6);
}
.navSection .btn.active {
  background: #F67555;
  color: #fff;
  border: 1px solid #F67555;
}
.navSection .btn.active svg {
  fill: #fff;
}
.navSection__cart {
  color: rgba(0, 0, 0, 0.4);
}
.navSection__cart svg {
  fill: rgba(0, 0, 0, 0.4);
}
.sortFilter span {
  color: rgba(0, 0, 0, 0.6);
}
.main {
  padding: 1.25rem 0;
}
.mainTitle {
  margin: 3.75rem 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #C4C4C4;
  font-size: 14px;
  font-weight: normal;
}
.mainTitle span {
  display: inline-block;
  margin-left: 1.25rem;
  color: rgba(0, 0, 0, 0.4);
}
.main__item {
  margin-bottom: 20px;
  padding: 10px 1.875rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.main__item svg {
  fill: #000;
}
.main__item .setingBtn {
  margin-left: 2.875rem;
}
.main__img {
  margin-right: 1.875rem;
}
.main__info h3 {
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
.main__info span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}
.setingBtn {
  display: inline-block;
  position: relative;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
}
.setingBtn:before {
  content: "";
  position: absolute;
  top: -5px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
}
.setingBtn:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
}
/*~~~~~~~~~~~~~~~~~~~MEDIA~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*-------------------------------------------*/
/*-------------------------------------------*/
