.arrow {
  color: #fff; width: 70px; height: 70px; margin: 0 1px; font-size: 45px; cursor: pointer; border: 3px solid transparent; background: #d44154; display: flex; align-items: center; justify-content: center; transition: .3s;

  &:hover { color: #5a5a5a; background: #fff; border: 3px solid #eaeaea; }
}