// bp
screen-tn-max = 383px;
screen-xxs-min = 384px;
screen-xxs-max = 479px;
screen-xs-min = 576px;
screen-xs-max = 769px;
screen-sm-min = 770px;
screen-sm-max = 991px;
screen-md-min = 992px;
screen-md-max = 1199px;
screen-lg-min = 1200px;
screen-lg-max = 1459px;
screen-xl-min = 1460px;