.feedback-block {
  color: #fff; font-size: 22px; line-height: 31px; display: flex; align-items: center; justify-content: space-between;;

  &__text { padding-right: 90px; }
  &__btn { border-radius: 4px; cursor: pointer; padding: 18px 40px; font-weight: 700; line-height: 32px; white-space: nowrap; border: 3px solid #fff; transition: .3s;
    &:hover { background: #fff; color: #d64356; }
  }
}

@media(max-width: 980px) {
  .feedback-block {
    flex-wrap: wrap;

    &__text { padding-right: 0; margin-bottom: 30px; }
    &__btn { width: 100%; text-align: center; }
  }
}