.header-2 { color: mainRed; font-size: 50px; font-weight: bold; line-height: 72px; margin: 0; }
.sub-header { color: #7D879C; font-size: 18px; font-weight: normal; line-height: 29px; }

// bg colors 
.bg-F9 { background: #F9F9F9; }
.bg-FF { background: #FFFFFF; }