.about-company {
  background-size: contain; background-position: center; background-repeat: no-repeat; display: flex;

  &__left { width: 50%; padding: 0 48px 0 15px; }
  &__title { color: #2B2F3B; font-weight: 900; font-size: 36px; line-height: 1.33; margin-bottom: 24px; }
  &__text { color: #4b4e58; font-weight: 300; font-size: 18px; line-height: 24px; margin-bottom: 37px; }

  &__right { width: 50%; padding: 0 15px; }
  &__img { width: 100%; }
}