.block1 {
  display: flex; flex-wrap: wrap; margin: 0 -10px -20px;

  &__item { width: 100%;  padding: 0 10px; cursor: pointer; margin-bottom: 20px; }

  &__item-grid { padding: 0; margin-bottom: 0; }

  &__head {
    position: relative; color: #fff; display: block; height: auto; transition: .3s; padding: 15px 55px 15px 15px; background: url('../img/block-bg/block-red-pattern.svg') #d64356 top right/contain no-repeat;

    &:hover { background: url('../img/block-bg/pattern-hover.svg') #9e3589 center right/contain no-repeat; }
    &:hover .block1__head-icon { opacity: 0; }

    &_blue-plane-hover:hover { background: url('../img/block-bg/pattern-hover-modal.png') #3A35BA center right/contain no-repeat; }

    &-content  { position: relative; z-index: 1; height: 100%; display: flex; flex-direction: column; justify-content: space-between; }
    &-title { font-size: 22px; line-height: 28px; font-weight: 600; margin-bottom: 35px;
      &_font-w500 { font-weight: 500;} }
    &-subtitle { color: #eaeaea; font-size: 16px; margin-bottom: 15px; }

    &-text { font-size: 15px; font-weight: 400; line-height: 24px; }

    &-icon:after, &-icon:before { content: ''; display: block; width: 11px; height: 2px; background-color: #fff; transform: rotate(45deg); transition-duration: .15s; }
    &-icon { position: absolute; top: 0; right: 0; display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; transition: .3s; transform: rotate(-90deg); background-color: rgb(0 0 0 / 10%);
           &:after { margin-left: -4px; transform: rotate(-45deg); }
    }

    //новый блок head-price
    &-price {
      &-title { color: #E7B3B8; }
    }
  }

  &__price-text {
    p { font-size: 23px; font-weight: 500; margin: 0; }
  }

  &__content { display: flex; flex-direction: column; justify-content: space-between; padding: 30px 20px; color: #6c778f; font-size: 18px; font-weight: 400; line-height: 26px; background: #fff; border: 1px solid #dddddd;
    &-text{
      margin-bottom: 20px;

      ul { margin: 0; padding-left: 15px; }
      p { margin: 0 0 25px;
          &:last-child { margin: 0; } }
    }
  }


  &_no-description {
    .block1__head-content { justify-content: flex-end; }
    .block1__head-title { font-size: 22px; line-height: 28px; font-weight: 700; margin-bottom: 0; }
  }

  &_gray {
    .block1__head {
      color: #252B39;
      background: url('../img/block-bg/block-gray-pattern.svg') #F4F4F4 top right/contain no-repeat;

      &-icon { background-color: redCC; }

      &:hover { color: #fff; background: url('../img/block-bg/pattern-hover.svg') redCC center right/contain no-repeat; }
    }
  }

  &_modal &__head:hover { background: url('../img/block-bg/pattern-hover-modal.png') #9e3589 125%/contain no-repeat; }

  &__btn { height: 50px; margin: auto; font-size: 18px; font-weight: 500; }
}

@media(min-width: 992px) {

  .block1 {
    &__item { width: 33.33%; }

    &__head {
      min-height: 260px;
      padding: 30px 55px 30px 30px;

      &-title { font-size: 24px; }
      &-text { font-size: 18px; line-height: 24px; }
      &-icon { width: 50px; height: 50px; }

      &-price {
        padding-right: 80px;
        &_tall { min-height: 350px; }
      }
    }

    &__btn { margin: 0; }

    &_min &__head { padding: 25px 55px 25px 25px; }

    &_width2 &__item { width: 50%; }
  }


}

@media(max-width: 900px){
  .block1 {
    &__head {
      &-price {
        padding-right: 0;
        &-text {
          p { font-size: 20px; }
        }
      }
    }
  }
}

@media(max-width: 430px){
  .block1__item-grid {
    grid-column: 1;
  }
}