.block11 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -20px;
    
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
        padding-bottom: 20px;

        &-inner {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 22px 22px 24px 24px;
            transition: .3s ease;
            background-color: #D64356;
            color: #fff;
            overflow: hidden;

            &::before, &::after {
                content: '';
                position: absolute;
                top: 58px;
                right: 0;
                bottom: 0;
                left: 0;
                transition: .3s ease;
                background-size: 100% auto;
                background-repeat: no-repeat;
            }

            &::after { background-image: url('../img/block-bg/block11/block11-bg.svg'); }
            &::before { background-image: url('../img/block-bg/block11/block11-bg-hover.svg'); transform: translateX(-100%); }
            &:hover { background-color: #2E3139; }
            
            &:hover::after { transform: translateX(-100%); }
            &:hover::before { transform: translateX(0); }

        }

    }
    
    &__top {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 20px;

        &-title { font-weight: 500; font-size: 27px; line-height: 1.17; }
    }  


    &__icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: #FFFFFF;
        border-radius: 8px
    }

    &__icon { fill: #D64356; width: 31px; height: 31px; }
    
    &__content { position: relative; z-index: 1; margin-top: auto; }
    
    &__title {
        font-weight: 500;
        font-size: 21px;
        line-height: 1.17;
        display: flex;
        align-items: flex-end;
        margin-bottom: 13px;
    }
    &__desc { font-weight: 300; font-size: 15px; line-height: 1.5; }
}

@media (min-width: 1000px) {
    .block11{
    
    &__item { 
        width: 33.33%;
        &-inner { min-height: 420px; padding: 26px 26px 29px 29px; }
    }

    &__top-title { font-size: 35px; }
    &__title { font-size: 28px; }
    &__desc { font-size: 17px; }

    }
}