.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: screen-xs-min) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: screen-sm-min) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: screen-md-min) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: screen-lg-min) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: screen-xl-min) {
  .container {
    max-width: 1400px;
  }
}