.block7 {
  margin: -10px; display: flex; flex-wrap: wrap;

  &__item { width: calc(100% - 10px); margin: 10px; padding: 32px 15px 32px 15px; display: flex; flex-direction: column; justify-content: space-between; background: #f4f4f4; border-bottom: 5px solid #d64356; transition: 0.3s; }
  &__item:hover { background-color: #d64356; }
  &__item:hover &__title { color: #ffffff; }
  &__item:hover &__text { color: rgba(255, 255, 255, 0.7); }
  &__icon { margin-bottom: 40px; }
  &__icon-img { width: 60px; height: 60px; }
  &__title { font-weight: 600; font-size: 22px; line-height: 1.23; color: #323232; margin-bottom: 26px; transition: 0.3s; }
  &__text { font-weight: 300; font-size: 16px; line-height: 26px; color: rgba(65, 65, 65, 0.7); transition: 0.3s; }

  &_only-title &__item { display: flex; flex-direction: column; }
  &_only-title &__title { margin-top: auto; margin-bottom: 0; }

  &_modal &__item { background-repeat: no-repeat; background-position: 0 20%; }
  &_modal &__item:hover { background-image: url('../img/bem/pattern-hover-modal.png'); background-position: 76% 20%; }
  &_modal .block7__item:hover &__icon { opacity: 0; transition: 0.3s; }
}

@media(min-width: 768px) {
  .block7 {
    &__item { width: calc(50% - 20px); }
  }
}
@media(min-width: 992px) {
  .block7 {
    &__item { width: calc(33.33% - 20px); padding: 32px 25px 32px 25px; }
    &__icon { margin-bottom: 70px; }
    &__text { font-size: 18px; line-height: 28px; }
  }
}
@media(min-width: 1200px) {
  .block7 {
    &__item { padding: 32px 25px 32px 25px; }
  }
}