.r60 { width: 100%; height: 60px; }
.r50 { width: 100%; height: 50px; }
.r30 { width: 100%; height: 30px; }
.r20 { width: 100%; height: 20px; }
.r10 { width: 100%; height: 10px; }
.r5 { width: 100%; height: 5px; }
.r2 { height: 2px; }
.r1 { height: 1px; }

.r_bg-red { background: #CC4052; }
.r_bg-gray { background: #E5E5E5; }