.nav {
  width: 100%; background: #fff;
  &_scroll { position: fixed; top: 0; z-index: 1; box-shadow: 0 0 10px 0 #e4e4e4; }

  &__container { z-index: 10; padding: 13px 15px; display: flex; align-items: center; justify-content space-between; border-top: 1px solid #EBECEE; }
  &__item { color: #5A5D65; font-size: 15px; line-height: 19px; }
  &__item:hover { text-decoration: underline; }
  &__item-box { position: relative; }
  &__submenu { position: absolute; z-index: 10; width: calc(1140px - 30px); min-height: 500px; background: #fff; }
  &__submenu-head { margin: 35px 0; }
  &__submenu-head-title-box { display: flex; align-items: center; }
  &__submenu-head-title { color: #333333;  font-weight: 300; font-size: 36px; line-height: 32px; }
  &__submenu-head-btn { color: #000; background: #fff; margin-left: 35px; }

  &__burger { width: 36px; cursor: pointer; }
  &__burger-line { position: relative; width: 36px; height: 2px; background: #ABB1BF; margin-bottom: 7px; }
  &__burger-line:last-child { left: 10px; width: 26px; margin-bottom: 0; transition: all 100ms linear; }
  &__burger:hover &__burger-line { left: 0; width: 36px; }

  &__hidden { display: none; position: fixed; top: 0; left: 0; z-index: 10; padding-top: 40px; width 100%; height: 100%; overflow-y: auto; background: #3D4047; }
  &__hidden_open { display: block; }
  &__hidden-container { padding: 0 120px; }
  &__hidden-container_border-top { border-top: 1px solid #313339; }
  &__hidden-close { position: absolute; top: 0; right: 0; width: 50px; height: 50px; border: none; cursor: pointer; background: #313339; }
  &__hidden-close:after, &__hidden-close:before { position: absolute; top: 23px; left: 10px; content: '';  width: 30px; height: 2px; background: #fff; transform: rotate(45deg); }
  &__hidden-close:before { transform: rotate(-45deg); }
  &__hidden-logo { display: block; margin-bottom: 40px; }
  &__hidden-logo-icon { width: 102px; height: 22px; }

  &__hidden-item-box { color: #fff; display: flex; flex-wrap: wrap; justify-content: space-between; }
  &__hidden-item { position: relative; padding: 25px 0; width: 25%; padding-right: 10%; }
  &__hidden-item-line { position: absolute; top: 0; left: 0; width: 100%; height: 3px; }
  &__hidden-item-title { display: block; font-weight: 500; font-size: 21px; line-height: 28px; margin-bottom: 25px; }
  &__hidden-item-title-span { color: #fff; border-bottom: 1px solid #55575d; transition: .3s; }
  &__hidden-item-title:hover &__hidden-item-title-span { border-bottom: 1px solid transparent; }
  &__hidden-item-point { color: #d8d9da; display: block; font-weight: 300; font-size: 15px; line-height: 22px; margin-bottom: 20px; transition: .3s; }
  &__hidden-item-point:hover { color: #fff; }
  &__hidden-article { position: relative; width: 50%; padding: 25px 0 25px 0; }
  &__hidden-article:before { position: absolute; top: 0; left: -65px; content: ''; width: 1px; height: 100%; background: #313339; }
  &__hidden-item-article-box { column-count: 2; }
  &__hidden-item-article-box &__hidden-item-point { padding-right: 15px; }
  &__hidden-item-btn { color: #fff; width: 230px; height: 45px; margin-top: 30px; background: transparent; border: 1px solid #818387; }


}