extends ../layouts/default

block variables
  - const title = "meeting-room-dubai";
  - page = "meeting-room-dubai";

block content
    | {block 'content'}
    svg(width='0', height='0', style='position:absolute')

        symbol#btn__icon-modal(viewBox="0 0 27 28", xmlns="http://www.w3.org/2000/svg")
          path(d="M17.1196 27.1335C16.8904 27.1335 16.6805 27.0013 16.5822 26.7926L11.576 16.1526L1.1548 11.3626C0.936898 11.2625 0.800633 11.041 0.809242 10.8012C0.818149 10.5613 0.970445 10.3505 1.19518 10.2668L25.9284 1.03191C26.1449 0.951456 26.3892 1.00341 26.5534 1.1661C26.7181 1.32878 26.7727 1.57252 26.6944 1.79013L17.678 26.7416C17.5966 26.9675 17.387 27.1216 17.1472 27.1329C17.1377 27.1332 17.1285 27.1335 17.1196 27.1335ZM2.94793 10.8798L12.2686 15.1643C12.396 15.2228 12.4984 15.3244 12.5581 15.4508L17.0474 24.9921L25.1414 2.59347L2.94793 10.8798Z")
          path(d="M12.021 16.2972C11.869 16.2972 11.7173 16.2393 11.6012 16.1233C11.3694 15.8917 11.3694 15.5156 11.6012 15.2837L25.7162 1.16848C25.948 0.936618 26.3239 0.936618 26.5557 1.16848C26.7876 1.40034 26.7876 1.77618 26.5557 2.00804L12.4408 16.1233C12.3247 16.2393 12.173 16.2972 12.021 16.2972Z")
        symbol#btn__icon(viewBox="0 0 14 12", xmlns="http://www.w3.org/2000/svg")
          path(d="M0.291748 10.7884L1.27464 11.6392L1.76608 11.2126L7.82088 5.98838L1.76608 0.764161L1.27464 0.337599L0.291748 1.18838L0.783192 1.6126L5.85239 5.98838L0.783192 10.3642L0.291748 10.7884ZM5.84968 10.7884L6.83256 11.6392L7.324 11.2126L13.3788 5.98838L7.324 0.764161L6.83256 0.337599L5.84968 1.18838L6.34112 1.6126L11.4103 5.98838L6.34112 10.3642L5.84968 10.7884Z")
        symbol#search(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512.005 512.005")
        
        symbol#location-mark_gray(viewBox="0 0 50 50", fill="none")
            path(d="M40 17C40 30.604 25 48 25 48C25 48 10 30.928 10 17C10 8.715 16.715 2 25 2C33.284 2 40 8.715 40 17Z" stroke="#D3D3D3" stroke-width="1.7647" stroke-miterlimit="10" stroke-linejoin="round")
            path(d="M25 24C28.3137 24 31 21.3137 31 18C31 14.6863 28.3137 12 25 12C21.6863 12 19 14.6863 19 18C19 21.3137 21.6863 24 25 24Z" stroke="#D3D3D3" stroke-width="1.7647" stroke-miterlimit="10" stroke-linejoin="round")
        symbol#business-center_gray(viewBox="0 0 50 50", fill="none")
            path(d="M47.9585 50.75H44.3335V36.25C45.8005 35.9506 47.104 35.1171 47.9914 33.9112C48.8787 32.7053 49.2867 31.2128 49.1362 29.7232C48.9858 28.2335 48.2875 26.8528 47.1769 25.8487C46.0663 24.8447 44.6224 24.2887 43.1252 24.2887C41.6279 24.2887 40.1841 24.8447 39.0734 25.8487C37.9628 26.8528 37.2646 28.2335 37.1141 29.7232C36.9636 31.2128 37.3716 32.7053 38.259 33.9112C39.1463 35.1171 40.4499 35.9506 41.9168 36.25V50.75H32.2502V6.04167C32.2624 5.77514 32.186 5.51206 32.033 5.29348C31.88 5.0749 31.6589 4.9131 31.4043 4.83334C31.159 4.75977 30.8969 4.76446 30.6543 4.84675C30.4118 4.92904 30.2009 5.08484 30.051 5.29251C28.2298 7.95095 25.9363 10.2527 23.2843 12.0833C20.1332 13.0101 16.893 13.6015 13.6177 13.8475C12.0638 14.0759 10.6459 14.8611 9.62784 16.057C8.60978 17.2529 8.06094 18.778 8.0835 20.3483V21.75H4.4585C3.49709 21.75 2.57505 22.1319 1.89523 22.8117C1.21541 23.4916 0.833496 24.4136 0.833496 25.375V51.9583C0.833496 52.2788 0.960803 52.5862 1.18741 52.8128C1.41402 53.0394 1.72136 53.1667 2.04183 53.1667H47.9585C48.279 53.1667 48.5863 53.0394 48.8129 52.8128C49.0395 52.5862 49.1668 52.2788 49.1668 51.9583C49.1668 51.6379 49.0395 51.3305 48.8129 51.1039C48.5863 50.8773 48.279 50.75 47.9585 50.75ZM39.5002 30.2083C39.5002 29.4914 39.7128 28.7905 40.1111 28.1944C40.5094 27.5983 41.0756 27.1336 41.7379 26.8593C42.4003 26.5849 43.1292 26.5131 43.8324 26.653C44.5355 26.7929 45.1815 27.1381 45.6884 27.6451C46.1954 28.152 46.5406 28.798 46.6805 29.5011C46.8204 30.2043 46.7486 30.9332 46.4742 31.5956C46.1999 32.2579 45.7352 32.8241 45.1391 33.2224C44.543 33.6207 43.8421 33.8333 43.1252 33.8333C42.1638 33.8333 41.2417 33.4514 40.5619 32.7716C39.8821 32.0918 39.5002 31.1698 39.5002 30.2083ZM10.5002 50.75V43.5H15.3335V50.75H10.5002ZM17.7502 50.75V42.2917C17.7502 41.9712 17.6229 41.6639 17.3963 41.4373C17.1696 41.2106 16.8623 41.0833 16.5418 41.0833H9.29183C8.97136 41.0833 8.66402 41.2106 8.43741 41.4373C8.2108 41.6639 8.0835 41.9712 8.0835 42.2917V50.75H3.25016V25.375C3.25016 25.0545 3.37747 24.7472 3.60408 24.5206C3.83068 24.294 4.13803 24.1667 4.4585 24.1667H21.3752C21.6956 24.1667 22.003 24.294 22.2296 24.5206C22.4562 24.7472 22.5835 25.0545 22.5835 25.375V50.75H17.7502ZM25.0002 50.75V25.375C25.0002 24.4136 24.6182 23.4916 23.9384 22.8117C23.2586 22.1319 22.3366 21.75 21.3752 21.75H10.5002V20.3483C10.4929 19.3694 10.8461 18.4221 11.4923 17.6867C12.1385 16.9514 13.0326 16.4795 14.0043 16.3608C17.4915 16.1656 20.9412 15.5406 24.2752 14.5C26.4171 13.2551 28.3033 11.615 29.8335 9.66667V50.75H25.0002Z" fill="#D3D3D3")
            path(d="M16.5418 31.4167H9.29183C8.97136 31.4167 8.66402 31.544 8.43741 31.7706C8.2108 31.9972 8.0835 32.3045 8.0835 32.625C8.0835 32.9455 8.2108 33.2528 8.43741 33.4794C8.66402 33.706 8.97136 33.8333 9.29183 33.8333H16.5418C16.8623 33.8333 17.1696 33.706 17.3963 33.4794C17.6229 33.2528 17.7502 32.9455 17.7502 32.625C17.7502 32.3045 17.6229 31.9972 17.3963 31.7706C17.1696 31.544 16.8623 31.4167 16.5418 31.4167Z" fill="#D3D3D3")                            
        symbol#train_gray(viewBox="0 0 50 50", fill="none")
            path(d="M32 13C32 13.552 31.553 14 31 14H19C18.448 14 18 13.552 18 13V11C18 10.448 18.448 10 19 10H31C31.553 10 32 10.448 32 11V13Z" stroke="#D3D3D3" stroke-width="2" stroke-miterlimit="10")
            path(d="M7.57715 49L13.3461 44.166" stroke="#D3D3D3" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
            path(d="M42.4228 49L36.6538 44.166" stroke="#D3D3D3" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
            path(d="M28.033 4H22.123M16.991 4H15C11.688 4 9 6.56 9 9.714V38.286C9 41.44 11.688 44 15 44H35C38.312 44 41 41.44 41 38.286V9.714C41 6.56 38.312 4 35 4H33.068H16.991Z" stroke="#D3D3D3" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
            path(d="M30.5 6C31.8807 6 33 4.88071 33 3.5C33 2.11929 31.8807 1 30.5 1C29.1193 1 28 2.11929 28 3.5C28 4.88071 29.1193 6 30.5 6Z" stroke="#D3D3D3" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
            path(d="M19.5 6C20.8807 6 22 4.88071 22 3.5C22 2.11929 20.8807 1 19.5 1C18.1193 1 17 2.11929 17 3.5C17 4.88071 18.1193 6 19.5 6Z" stroke="#D3D3D3" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
            path(d="M13 15.833C13 14.821 13.896 14 15 14H35C36.104 14 37 14.821 37 15.833V24.166C37 25.178 36.104 26 35 26H15C13.896 26 13 25.178 13 24.166V15.833Z" stroke="#D3D3D3" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
            path(d="M16 39C17.6569 39 19 37.6569 19 36C19 34.3431 17.6569 33 16 33C14.3431 33 13 34.3431 13 36C13 37.6569 14.3431 39 16 39Z" stroke="#D3D3D3" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
            path(d="M34 39C35.6569 39 37 37.6569 37 36C37 34.3431 35.6569 33 34 33C32.3431 33 31 34.3431 31 36C31 37.6569 32.3431 39 34 39Z" stroke="#D3D3D3" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
        
        symbol#icon_discount(viewbox='0 0 27 30')
          path(d='M0.726874 6.60815C0.726874 4.8894 1.28026 3.48315 2.38703 2.3894C3.4938 1.28263 4.94562 0.729248 6.7425 0.729248C8.56542 0.729248 10.0237 1.28263 11.1175 2.3894C12.2243 3.48315 12.7777 4.92196 12.7777 6.70581V8.11206C12.7777 9.81779 12.2243 11.2175 11.1175 12.3113C10.0237 13.405 8.57844 13.9519 6.78156 13.9519C5.02375 13.9519 3.57193 13.4181 2.42609 12.3503C1.29328 11.2696 0.726874 9.81779 0.726874 7.99487V6.60815ZM4.04719 8.11206C4.04719 9.0105 4.29458 9.73966 4.78937 10.2996C5.29719 10.8464 5.96125 11.1199 6.78156 11.1199C7.58885 11.1199 8.2399 10.8464 8.73469 10.2996C9.22948 9.73966 9.47687 8.98446 9.47687 8.03394V6.60815C9.47687 5.70972 9.22297 4.98055 8.71516 4.42065C8.22036 3.86076 7.56281 3.58081 6.7425 3.58081C5.92219 3.58081 5.26463 3.86727 4.76984 4.44019C4.28807 5.00008 4.04719 5.74227 4.04719 6.66675V8.11206ZM14.3987 22.6042C14.3987 20.8595 14.9652 19.4467 16.098 18.366C17.2308 17.2852 18.6761 16.7449 20.4339 16.7449C22.2047 16.7449 23.6501 17.2852 24.7698 18.366C25.9027 19.4467 26.4691 20.905 26.4691 22.741V24.1277C26.4691 25.8204 25.9222 27.2201 24.8284 28.3269C23.7477 29.4207 22.2959 29.9675 20.473 29.9675C18.6501 29.9675 17.1787 29.4272 16.0589 28.3464C14.9521 27.2527 14.3987 25.8139 14.3987 24.03V22.6042ZM17.7191 24.1277C17.7191 25.0131 17.973 25.7423 18.4808 26.3152C19.0016 26.8751 19.6657 27.155 20.473 27.155C21.3063 27.155 21.9573 26.8881 22.4261 26.3542C22.9079 25.8074 23.1487 25.0457 23.1487 24.0691V22.6042C23.1487 21.6928 22.8948 20.9636 22.387 20.4167C21.8792 19.8699 21.2282 19.5964 20.4339 19.5964C19.6266 19.5964 18.9691 19.8699 18.4612 20.4167C17.9665 20.9636 17.7191 21.7188 17.7191 22.6824V24.1277ZM7.75812 27.448L5.31672 26.0417L19.2034 3.81519L21.6448 5.22144L7.75812 27.448Z')
        symbol#block11__icon(viewbox='0 0 35 35', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(d='M2.75721 21.6876L19.5841 4.86066H30.101V15.3775L13.274 32.2044L2.75721 21.6876Z', stroke='#D64356', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
          path(d='M24.8426 12.2224C26.0042 12.2224 26.9459 11.2807 26.9459 10.1191C26.9459 8.95739 26.0042 8.01569 24.8426 8.01569C23.6809 8.01569 22.7392 8.95739 22.7392 10.1191C22.7392 11.2807 23.6809 12.2224 24.8426 12.2224Z', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
          path(d='M25.8942 9.06736L32.2043 2.75726', stroke='#D64356', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
          path(d='M18.5325 12.2224L10.119 20.6359', stroke='#D64356', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
          path(d='M22.7392 16.4291L18.5325 20.6359', stroke='#D64356', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')        

          path(fill="white" d="M505.749,475.587l-145.6-145.6c28.203-34.837,45.184-79.104,45.184-127.317c0-111.744-90.923-202.667-202.667-202.667S0,90.925,0,202.669s90.923,202.667,202.667,202.667c48.213,0,92.48-16.981,127.317-45.184l145.6,145.6c4.16,4.16,9.621,6.251,15.083,6.251s10.923-2.091,15.083-6.251C514.091,497.411,514.091,483.928,505.749,475.587zM202.667,362.669c-88.235,0-160-71.765-160-160s71.765-160,160-160s160,71.765,160,160S290.901,362.669,202.667,362.669z")        

        symbol#coins-red(viewBox="0 0 80 49", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M25.8725 46.715C38.2405 46.715 48.2667 36.749 48.2667 24.4552C48.2667 12.1615 38.2405 2.19543 25.8725 2.19543C13.5045 2.19543 3.47827 12.1615 3.47827 24.4552C3.47827 36.749 13.5045 46.715 25.8725 46.715Z" stroke="#414141" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
            path(d="M33.1594 3.40267C36.5315 2.25214 40.1313 1.91852 43.6593 2.42958C47.1873 2.94063 50.5415 4.28158 53.443 6.34089C56.3445 8.4002 58.7095 11.1184 60.3411 14.2693C61.9728 17.4202 62.824 20.9128 62.824 24.4567C62.824 28.0005 61.9728 31.4932 60.3411 34.6441C58.7095 37.795 56.3445 40.5132 53.443 42.5725C50.5415 44.6318 47.1873 45.9727 43.6593 46.4838C40.1313 46.9949 36.5315 46.6612 33.1594 45.5107" stroke="#414141" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
            path(d="M48 3.45735C51.3721 2.30682 54.9719 1.97321 58.4998 2.48427C62.0278 2.99532 65.3821 4.33627 68.2836 6.39558C71.1851 8.45489 73.55 11.173 75.1817 14.324C76.8134 17.4749 77.6646 20.9675 77.6646 24.5114C77.6646 28.0552 76.8134 31.5479 75.1817 34.6988C73.55 37.8497 71.1851 40.5679 68.2836 42.6272C65.3821 44.6865 62.0278 46.0274 58.4998 46.5385C54.9719 47.0495 51.3721 46.7159 48 45.5654" stroke="#414141" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
            path(d="M20.5797 29.0997C20.5797 31.6408 22.9536 33.7095 25.8812 33.7095C28.8087 33.7095 31.1797 31.6495 31.1797 29.0997C31.1797 26.5499 29.1507 25.0488 25.8812 24.4898C22.9246 23.9136 20.5797 22.4298 20.5797 19.88C20.5797 17.3302 22.9536 15.2701 25.8812 15.2701C28.8087 15.2701 31.1797 17.3302 31.1797 19.88" stroke="#CD4051" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
            path(d="M25.8725 37.4953V34.0869" stroke="#CD4051" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
            path(d="M25.8725 15.296V11.8876" stroke="#CD4051" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
        symbol#social-red(viewBox="0 0 60 60", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M52.4877 45.0304C50.9657 45.0313 49.481 45.5018 48.2363 46.3777L43.6856 41.7071C46.4369 38.4618 47.947 34.3453 47.947 30.0907C47.947 25.8361 46.4369 21.7196 43.6856 18.4743L48.3262 13.8637C49.712 14.7906 51.3676 15.2284 53.0305 15.1075C54.6933 14.9865 56.2682 14.3139 57.5053 13.1962C58.7425 12.0785 59.571 10.5797 59.8595 8.9376C60.148 7.2955 59.88 5.60407 59.098 4.1316C58.3159 2.65913 57.0647 1.48992 55.5426 0.809408C54.0206 0.128901 52.3149 -0.0239396 50.6961 0.37513C49.0773 0.7742 47.6381 1.70233 46.6067 3.01231C45.5754 4.32229 45.0109 5.93913 45.0029 7.60636C45.0116 9.08584 45.4483 10.5312 46.2603 11.7679L41.6198 16.3486C38.3788 13.6131 34.2744 12.1125 30.0333 12.1125C25.7922 12.1125 21.6878 13.6131 18.4468 16.3486L13.7763 11.7979C14.8306 10.2532 15.2736 8.37194 15.0193 6.51911C14.7651 4.66628 13.8318 2.9739 12.4004 1.77025C10.969 0.566604 9.14164 -0.0625206 7.27267 0.00490963C5.40369 0.0723399 3.62637 0.831519 2.28546 2.13519C0.944541 3.43886 0.135608 5.19409 0.0155675 7.06042C-0.104473 8.92676 0.472937 10.7712 1.6358 12.2359C2.79865 13.7006 4.46407 14.6812 6.30901 14.9875C8.15394 15.2938 10.0469 14.904 11.6207 13.8936L16.3211 18.4743C13.5698 21.7196 12.0597 25.8361 12.0597 30.0907C12.0597 34.3453 13.5698 38.4618 16.3211 41.7071L11.8602 46.4076C10.6134 45.5097 9.11529 45.0278 7.57887 45.0304C6.09852 45.0304 4.65141 45.4694 3.42054 46.2918C2.18967 47.1142 1.23032 48.2832 0.663816 49.6509C0.0973088 51.0186 -0.0509153 52.5235 0.237888 53.9754C0.52669 55.4273 1.23955 56.761 2.28632 57.8078C3.33309 58.8545 4.66675 59.5674 6.11866 59.8562C7.57057 60.145 9.07551 59.9968 10.4432 59.4302C11.8109 58.8637 12.9798 57.9044 13.8023 56.6735C14.6247 55.4427 15.0637 53.9955 15.0637 52.5152C15.0634 51.1265 14.6688 49.7665 13.926 48.5932L18.5067 43.8029C19.1127 44.3149 19.7529 44.785 20.4228 45.21C23.2769 47.027 26.59 47.9922 29.9734 47.9922C33.3568 47.9922 36.6699 47.027 39.524 45.21C40.1939 44.785 40.8341 44.3149 41.4401 43.8029L46.0508 48.5632C45.3355 49.7552 44.9722 51.1254 45.0029 52.5152C45.0029 53.9955 45.4419 55.4427 46.2643 56.6735C47.0868 57.9044 48.2557 58.8637 49.6234 59.4302C50.9911 59.9968 52.496 60.145 53.9479 59.8562C55.3998 59.5674 56.7335 58.8545 57.7803 57.8078C58.827 56.761 59.5399 55.4273 59.8287 53.9754C60.1175 52.5235 59.9693 51.0186 59.4028 49.6509C58.8363 48.2832 57.8769 47.1142 56.646 46.2918C55.4152 45.4694 53.9681 45.0304 52.4877 45.0304ZM52.4877 3.11548C53.2275 3.09555 53.9607 3.25875 54.6222 3.59057C55.2837 3.92238 55.853 4.41253 56.2793 5.01742C56.7057 5.62231 56.976 6.32319 57.0661 7.05773C57.1562 7.79227 57.0634 8.53771 56.796 9.22774C56.5285 9.91777 56.0947 10.531 55.5331 11.0129C54.9714 11.4948 54.2994 11.8305 53.5768 11.99C52.8541 12.1496 52.1032 12.128 51.3909 11.9274C50.6786 11.7267 50.0269 11.3531 49.4938 10.8398C48.6889 10.0463 48.2177 8.97533 48.1765 7.84588C48.1442 7.25112 48.2307 6.65589 48.4307 6.09486C48.6307 5.53382 48.9404 5.01818 49.3416 4.57795C49.7428 4.13773 50.2276 3.78171 50.7677 3.53063C51.3078 3.27956 51.8925 3.13843 52.4877 3.11548ZM3.08799 7.60636C3.08799 6.41531 3.56114 5.27303 4.40334 4.43083C5.24554 3.58862 6.38782 3.11548 7.57887 3.11548C8.76993 3.11548 9.9122 3.58862 10.7544 4.43083C11.5966 5.27303 12.0698 6.41531 12.0698 7.60636C12.0727 8.20357 11.9548 8.7952 11.7233 9.34571C11.4918 9.89621 11.1514 10.3942 10.7225 10.8099C9.88182 11.6313 8.75426 12.0931 7.57887 12.0972C6.38782 12.0972 5.24554 11.6241 4.40334 10.7819C3.56114 9.93969 3.08799 8.79742 3.08799 7.60636ZM30.0333 15.0912C33.0086 15.1032 35.9129 16.0016 38.3754 17.6716C40.8378 19.3417 42.7467 21.7078 43.8584 24.4677C44.9701 27.2276 45.2341 30.2561 44.6167 33.1668C43.9993 36.0774 42.5286 38.738 40.3923 40.809C40.1326 38.4702 39.0754 36.2922 37.3983 34.6415C36.6299 33.8853 35.7518 33.2495 34.7936 32.7553C35.6384 32.0679 36.3188 31.2004 36.785 30.2162C37.2512 29.2319 37.4914 28.1559 37.4882 27.0669C37.4937 25.8058 37.1805 24.5638 36.5776 23.4562C35.9748 22.3486 35.1019 21.4112 34.04 20.7311C32.978 20.051 31.7614 19.6503 30.5032 19.5661C29.245 19.4819 27.9858 19.7169 26.8427 20.2495C25.6996 20.782 24.7096 21.5947 23.9646 22.6121C23.2195 23.6295 22.7436 24.8187 22.5811 26.0693C22.4185 27.3198 22.5745 28.5911 23.0347 29.7652C23.4948 30.9393 24.2441 31.9782 25.2131 32.7852C23.7 33.5702 22.4033 34.7155 21.4374 36.12C20.4715 37.5245 19.866 39.1451 19.6743 40.8389C17.5275 38.7697 16.0475 36.1066 15.4241 33.1908C14.8006 30.275 15.0621 27.2395 16.175 24.4733C17.2879 21.7072 19.2016 19.3363 21.6706 17.6648C24.1397 15.9932 27.0516 15.097 30.0333 15.0912ZM25.5424 27.0669C25.5424 26.1786 25.8058 25.3104 26.2993 24.5719C26.7927 23.8333 27.4941 23.2577 28.3147 22.9178C29.1353 22.5779 30.0383 22.489 30.9094 22.6623C31.7806 22.8355 32.5808 23.2633 33.2088 23.8913C33.8369 24.5194 34.2646 25.3196 34.4379 26.1907C34.6112 27.0619 34.5222 27.9648 34.1823 28.7854C33.8424 29.606 33.2668 30.3074 32.5283 30.8009C31.7898 31.2944 30.9215 31.5577 30.0333 31.5577C28.8422 31.5577 27.7 31.0846 26.8578 30.2424C26.0156 29.4002 25.5424 28.2579 25.5424 27.0669ZM7.57887 57.0061C6.38782 57.0061 5.24554 56.5329 4.40334 55.6907C3.56114 54.8485 3.08799 53.7062 3.08799 52.5152C3.08799 51.3241 3.56114 50.1819 4.40334 49.3397C5.24554 48.4975 6.38782 48.0243 7.57887 48.0243C8.18601 48.0214 8.78708 48.1451 9.34379 48.3873C9.90049 48.6296 10.4006 48.9852 10.8123 49.4314C11.5646 50.2446 11.9724 51.3178 11.95 52.4254C11.9741 53.6114 11.528 54.7589 10.709 55.6171C9.89006 56.4753 8.76476 56.9747 7.57887 57.0061ZM22.5485 42.9346V42.0365C22.5485 40.0514 23.3371 38.1476 24.7407 36.7439C26.1444 35.3402 28.0482 34.5517 30.0333 34.5517C32.0184 34.5517 33.9222 35.3402 35.3258 36.7439C36.7295 38.1476 37.5181 40.0514 37.5181 42.0365V42.9346C35.2626 44.3068 32.6734 45.0326 30.0333 45.0326C27.3932 45.0326 24.8039 44.3068 22.5485 42.9346ZM52.4877 57.0061C51.6203 57.0151 50.7692 56.771 50.0384 56.3038C49.3075 55.8366 48.7288 55.1664 48.373 54.3753C48.0172 53.5842 47.8997 52.7066 48.0349 51.8498C48.1702 50.993 48.5523 50.1942 49.1345 49.5512V49.4015C49.5648 48.9485 50.0859 48.5917 50.6638 48.3543C51.2417 48.117 51.8633 48.0045 52.4877 48.0243C53.6788 48.0243 54.821 48.4975 55.6632 49.3397C56.5054 50.1819 56.9786 51.3241 56.9786 52.5152C56.9786 53.7062 56.5054 54.8485 55.6632 55.6907C54.821 56.5329 53.6788 57.0061 52.4877 57.0061Z" fill="#414141")
            circle(cx="29.9863" cy="27.0522" r="6" stroke="#CD4051" stroke-width="3")
        symbol#parking-red(viewBox="0 0 61 61", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M1.86365 52.8213C1.86365 56.0488 4.48027 58.6654 7.7078 58.6654H53.2922C56.5198 58.6654 59.1364 56.0488 59.1364 52.8213V7.23686C59.1364 4.00932 56.5198 1.3927 53.2922 1.3927H7.7078C4.48027 1.3927 1.86365 4.00932 1.86365 7.23686V52.8213Z" stroke="#414141" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
            path(d="M32.0943 34.0514H27.8772V41.4914C27.8772 42.5204 27.02 43.3772 25.9572 43.3772C24.9286 43.3772 24.0715 42.5204 24.0715 41.4914V21.2636C24.0715 20.2004 24.9286 19.3779 25.9572 19.3779H25.9915H32.0943C36.1739 19.3779 39.4654 22.669 39.4654 26.7494C39.4654 30.7604 36.1739 34.0514 32.0943 34.0514ZM27.8772 30.2461H32.0943C34.0829 30.2461 35.6254 28.6694 35.6596 26.7494C35.625 24.7608 34.0825 23.1836 32.0943 23.1836H27.8772V30.2461Z" fill="#CD4051")
        symbol#business-center-red(viewBox="0 0 60 60", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M58.4372 57.0032H53.942V39.0225C55.7611 38.6512 57.3776 37.6177 58.478 36.1223C59.5783 34.6269 60.0843 32.7762 59.8977 30.929C59.7111 29.0817 58.8452 27.3696 57.468 26.1245C56.0908 24.8794 54.3003 24.19 52.4436 24.19C50.587 24.19 48.7965 24.8794 47.4193 26.1245C46.0421 27.3696 45.1762 29.0817 44.9896 30.929C44.803 32.7762 45.309 34.6269 46.4093 36.1223C47.5097 37.6177 49.1261 38.6512 50.9453 39.0225V57.0032H38.9581V1.56279C38.9733 1.23228 38.8786 0.90605 38.6888 0.634998C38.4991 0.363946 38.225 0.163315 37.9093 0.064403C37.605 -0.0268207 37.28 -0.0210071 36.9792 0.0810356C36.6785 0.183078 36.417 0.376281 36.2311 0.633791C33.9727 3.93039 31.1286 6.78463 27.8401 9.05474C23.9326 10.204 19.9146 10.9373 15.853 11.2424C13.9261 11.5256 12.1678 12.4993 10.9054 13.9823C9.64295 15.4652 8.96237 17.3564 8.99034 19.3037V21.0419H4.49517C3.30298 21.0419 2.15961 21.5155 1.3166 22.3585C0.473597 23.2015 0 24.3448 0 25.537V58.5016C0 58.899 0.157866 59.2801 0.438869 59.5611C0.719871 59.8421 1.10099 60 1.49839 60H58.4372C58.8346 60 59.2157 59.8421 59.4967 59.5611C59.7777 59.2801 59.9356 58.899 59.9356 58.5016C59.9356 58.1042 59.7777 57.7231 59.4967 57.4421C59.2157 57.1611 58.8346 57.0032 58.4372 57.0032ZM47.9485 31.5306C47.9485 30.6415 48.2121 29.7724 48.7061 29.0332C49.2 28.294 49.902 27.7178 50.7234 27.3776C51.5448 27.0374 52.4486 26.9483 53.3206 27.1218C54.1926 27.2952 54.9935 27.7234 55.6222 28.352C56.2509 28.9807 56.679 29.7817 56.8524 30.6536C57.0259 31.5256 56.9369 32.4294 56.5966 33.2508C56.2564 34.0722 55.6803 34.7743 54.941 35.2682C54.2018 35.7621 53.3327 36.0258 52.4436 36.0258C51.2515 36.0258 50.1081 35.5522 49.2651 34.7092C48.4221 33.8661 47.9485 32.7228 47.9485 31.5306ZM11.9871 57.0032V48.0129H17.9807V57.0032H11.9871ZM20.9775 57.0032V46.5145C20.9775 46.1171 20.8196 45.736 20.5386 45.455C20.2576 45.174 19.8765 45.0161 19.4791 45.0161H10.4887C10.0913 45.0161 9.71021 45.174 9.42921 45.455C9.14821 45.736 8.99034 46.1171 8.99034 46.5145V57.0032H2.99678V25.537C2.99678 25.1396 3.15465 24.7585 3.43565 24.4775C3.71665 24.1965 4.09777 24.0386 4.49517 24.0386H25.4726C25.87 24.0386 26.2512 24.1965 26.5322 24.4775C26.8132 24.7585 26.971 25.1396 26.971 25.537V57.0032H20.9775ZM29.9678 57.0032V25.537C29.9678 24.3448 29.4942 23.2015 28.6512 22.3585C27.8082 21.5155 26.6648 21.0419 25.4726 21.0419H11.9871V19.3037C11.9782 18.0898 12.4161 16.9151 13.2174 16.0032C14.0187 15.0914 15.1275 14.5062 16.3325 14.359C20.6567 14.1169 24.9345 13.3419 29.0688 12.0515C31.7249 10.5078 34.0638 8.47398 35.9614 6.05796V57.0032H29.9678Z" fill="#414141")
            path(d="M19.4791 33.0289H10.4887C10.0913 33.0289 9.7102 33.1868 9.42919 33.4678C9.14819 33.7488 8.99033 34.1299 8.99033 34.5273C8.99033 34.9247 9.14819 35.3058 9.42919 35.5868C9.7102 35.8678 10.0913 36.0257 10.4887 36.0257H19.4791C19.8765 36.0257 20.2576 35.8678 20.5386 35.5868C20.8196 35.3058 20.9774 34.9247 20.9774 34.5273C20.9774 34.1299 20.8196 33.7488 20.5386 33.4678C20.2576 33.1868 19.8765 33.0289 19.4791 33.0289Z" fill="#CD4051")
        symbol#boat-red(viewBox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M55.6726 40.207C55.6586 39.5547 55.126 39.0334 54.4742 39.0334L2.36436 39.0306C1.93311 39.0306 1.53531 39.2622 1.32216 39.6369C1.10901 40.0117 1.11344 40.4721 1.33356 40.8426C1.70091 41.4604 10.4386 55.9749 19.8575 55.9749H50.6804C50.7299 55.9776 50.8143 55.9801 50.9254 55.9801C52.7527 55.9801 54.8932 55.2007 55.4191 53.0127C55.8881 51.0655 55.6961 41.3124 55.6726 40.207ZM53.0878 52.452C52.8424 53.4723 51.494 53.5821 50.9253 53.5821C50.8556 53.5821 50.8087 53.58 50.8021 53.58C50.7727 53.5773 50.744 53.5767 50.7151 53.5767H19.8575C13.5865 53.5767 7.15664 45.2073 4.57349 41.4288L53.2966 41.4315C53.3629 45.5245 53.3589 51.3252 53.0878 52.452Z" fill="#4D4D4D")
            path(d="M2.08366 37.364C2.25863 37.364 2.43563 37.3252 2.60123 37.2462C2.69828 37.1993 12.4042 32.5925 19.7942 32.5925C28.013 32.5925 36.3686 37.1252 36.452 37.1705C36.824 37.3748 37.2753 37.3681 37.64 37.1519C38.0045 36.9357 38.2285 36.5444 38.2285 36.1201V1.21887C38.2285 0.5564 37.6916 0.0197754 37.0295 0.0197754C21.5832 0.0197754 1.87396 34.1175 1.04258 35.5687C0.781655 36.0244 0.847505 36.5966 1.20488 36.9806C1.43693 37.2308 1.75756 37.364 2.08366 37.364ZM35.8304 2.49687V34.1843C32.806 32.7758 26.3667 30.1943 19.7943 30.1943C14.6548 30.1943 8.70601 32.1589 5.03558 33.5989C10.1472 25.3921 24.5015 3.9602 35.8304 2.49687Z" fill="#4D4D4D")
            path(d="M41.6988 22.1864C41.6988 32.3041 39.9682 35.4972 39.9542 35.5227C39.6878 35.9769 39.7483 36.5517 40.104 36.9399C40.4596 37.3279 41.0267 37.4389 41.5021 37.2135C41.5433 37.194 45.645 35.2636 48.667 35.2636C51.1957 35.2636 53.6847 37.0931 53.7261 37.1237C53.9389 37.2837 54.192 37.364 54.4462 37.364C54.6831 37.364 54.9206 37.2937 55.126 37.1525C55.5502 36.8603 55.7402 36.3288 55.5984 35.8338C53.7315 29.3366 47.1601 8.13623 40.9879 8.13623C40.6045 8.13623 40.2441 8.31953 40.0187 8.62936C39.7928 8.93911 39.7289 9.33863 39.8466 9.70321C40.6805 12.2888 41.6988 18.5564 41.6988 22.1864ZM52.4596 33.7005C51.3708 33.2456 50.046 32.8656 48.667 32.8656C46.7623 32.8656 44.6017 33.4657 42.9769 34.0371C43.5235 31.8438 44.0969 28.1268 44.0969 22.1864C44.0969 19.263 43.5052 14.9271 42.836 11.7541C45.6835 15.0174 49.5657 24.335 52.4596 33.7005Z" fill="#4D4D4D")
            path(d="M18.6005 43.4878C16.4182 43.4878 14.6427 45.2636 14.6427 47.4462C14.6427 49.6282 16.4182 51.404 18.6005 51.404C20.7832 51.404 22.5587 49.6282 22.5587 47.4462C22.5588 45.2636 20.7832 43.4878 18.6005 43.4878ZM18.6005 49.0059C17.7404 49.0059 17.0408 48.3059 17.0408 47.4462C17.0408 46.5857 17.7404 45.8858 18.6005 45.8858C19.4607 45.8858 20.1606 46.5857 20.1606 47.4462C20.1607 48.3059 19.4607 49.0059 18.6005 49.0059Z" fill="#CD4051")
        symbol#car-red(viewBox="0 0 70 37", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M12.7969 25.0469C10.8281 25.0469 9.29688 26.5781 9.29688 28.5469C9.29688 30.5156 10.8281 32.0469 12.7969 32.0469C14.7656 32.0469 16.2969 30.5156 16.2969 28.5469C16.2969 26.5781 14.7656 25.0469 12.7969 25.0469ZM12.7969 29.6406C12.1406 29.6406 11.7031 29.2031 11.7031 28.5469C11.7031 27.8906 12.1406 27.4531 12.7969 27.4531C13.4531 27.4531 13.8906 27.8906 13.8906 28.5469C13.8906 29.0938 13.4531 29.6406 12.7969 29.6406Z" fill="#CD4051")
            path(d="M52.8281 25.0469C50.8593 25.0469 49.3281 26.5781 49.3281 28.5469C49.3281 30.5156 50.8593 32.0469 52.8281 32.0469C54.7968 32.0469 56.3281 30.5156 56.3281 28.5469C56.3281 26.5781 54.7968 25.0469 52.8281 25.0469ZM52.8281 29.6406C52.1718 29.6406 51.7343 29.2031 51.7343 28.5469C51.7343 27.8906 52.1718 27.4531 52.8281 27.4531C53.4843 27.4531 53.9218 27.8906 53.9218 28.5469C53.9218 29.0938 53.4843 29.6406 52.8281 29.6406Z" fill="#CD4051")
            path(d="M67.0469 10.5H66.3906C65.625 5.90625 60.5938 0 53.2656 0H28.4375C21.875 0 16.1875 9.95312 14.7656 12.6875H8.42188C3.71875 12.6875 0 16.5156 0 21.1094V27.2344C0 28.5469 1.09375 29.6406 2.40625 29.6406H4.92188C5.46875 33.4688 8.85938 36.4219 12.7969 36.4219C16.7344 36.4219 20.125 33.4688 20.6719 29.6406H44.9531C45.5 33.4688 48.8906 36.4219 52.8281 36.4219C56.7656 36.4219 60.1562 33.4688 60.7031 29.6406H64.0938C65.4062 29.6406 66.5 28.5469 66.5 27.2344V21.5469H67.0469C68.6875 21.5469 70 20.2344 70 18.5938V13.4531C70 11.8125 68.6875 10.5 67.0469 10.5ZM12.7969 34.0156C9.73438 34.0156 7.21875 31.5 7.21875 28.4375C7.21875 25.375 9.73438 22.8594 12.7969 22.8594C15.8594 22.8594 18.375 25.375 18.375 28.4375C18.375 31.6094 15.8594 34.0156 12.7969 34.0156ZM52.8281 34.0156C49.7656 34.0156 47.25 31.5 47.25 28.4375C47.25 25.375 49.7656 22.8594 52.8281 22.8594C55.8906 22.8594 58.4062 25.375 58.4062 28.4375C58.4062 31.6094 55.8906 34.0156 52.8281 34.0156ZM64.0938 27.3438H60.7031C60.1562 23.5156 56.7656 20.5625 52.8281 20.5625C48.8906 20.5625 45.5 23.5156 44.9531 27.3438H20.6719C20.125 23.5156 16.7344 20.5625 12.7969 20.5625C8.85938 20.5625 5.46875 23.5156 4.92188 27.3438H2.40625V21.2188C2.40625 17.9375 5.14062 15.2031 8.42188 15.2031H15.4219C15.8594 15.2031 16.2969 14.9844 16.5156 14.5469C18.1562 11.1562 23.5156 2.51563 28.4375 2.51563H53.1562C59.9375 2.51563 63.9844 8.53125 63.9844 11.8125V20.4531V27.3438H64.0938ZM67.5938 18.5938C67.5938 18.9219 67.375 19.1406 67.0469 19.1406H66.5V12.9062H67.0469C67.375 12.9062 67.5938 13.125 67.5938 13.4531V18.5938Z" fill="black")
            path(d="M39.2657 5.03125H31.1719C28 5.03125 24.9375 6.5625 23.2969 9.1875L20.5625 13.3438C20.3438 13.6719 20.3438 14.2188 20.5625 14.5469C20.7813 14.9844 21.2188 15.2031 21.6563 15.2031H39.2657C39.9219 15.2031 40.4688 14.6563 40.4688 14V6.23438C40.4688 5.57813 39.9219 5.03125 39.2657 5.03125ZM38.0625 12.7969H23.8438L25.375 10.5C26.5782 8.64062 28.7657 7.4375 31.1719 7.4375H38.0625V12.7969Z" fill="black")
            path(d="M51.1875 5.03125H44.2969C43.6407 5.03125 43.0938 5.57813 43.0938 6.23438V14C43.0938 14.6563 43.6407 15.2031 44.2969 15.2031H59.5C60.1563 15.2031 60.7032 14.6563 60.7032 14C60.8125 9.07813 56.5469 5.03125 51.1875 5.03125ZM45.6094 12.7969V7.4375H51.2969C54.7969 7.4375 57.75 9.73438 58.2969 12.7969H45.6094Z" fill="black")
        symbol#girl-red(viewBox="0 0 55 65", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M49.2742 58.7097V40.8871C49.2742 37.9967 46.9227 35.6452 44.0323 35.6452H41.9355V32.6656C41.9355 31.3772 41.5759 30.1495 40.9636 29.0686C42.3423 28.7363 43.3885 28.2268 43.4525 28.1953L44.9171 27.4625L43.6381 26.4382C38.8742 22.6284 38.7903 16.8298 38.7903 16.771H38.7369C38.7683 16.4261 38.7903 16.0791 38.7903 15.7258V8.3871C38.7903 5.49669 36.4388 3.14516 33.5484 3.14516H33.0609L32.521 2.33476C31.546 0.872258 29.9157 0 28.1586 0H25.1613C19.9581 0 15.7258 4.23234 15.7258 9.43548V15.7258C15.7258 16.0802 15.7478 16.4282 15.7793 16.7742H15.7258C15.7258 16.8329 15.6702 22.6053 10.877 26.4393L9.59798 27.4635L11.0626 28.1964C11.1265 28.2278 12.1728 28.7363 13.5515 29.0697C12.9402 30.1495 12.5806 31.3772 12.5806 32.6656V35.6452H10.4839C7.59347 35.6452 5.24194 37.9967 5.24194 40.8871V58.7097H0V61.8548C0 63.5889 1.41113 65 3.14516 65H51.371C53.105 65 54.5161 63.5889 54.5161 61.8548V58.7097H49.2742ZM32.934 35.6452L34.8243 33.7549L33.9782 32.0639L37.0311 31.0459L35.5885 27.4394L36.4377 27.7581C38.4716 28.5203 39.8387 30.4923 39.8387 32.6656V35.6452H32.934ZM24.5469 35.6452L22.2436 33.3419L23.4944 30.8394L20.2569 29.7606L21.5842 26.4435L22.316 26.1688L25.762 35.6452H24.5469ZM36.6935 15.7258H34.4039C33.9698 14.5086 32.8166 13.629 31.4516 13.629C30.0866 13.629 28.9334 14.5086 28.4994 15.7258H26.0157C25.5817 14.5086 24.4285 13.629 23.0635 13.629C21.6985 13.629 20.5452 14.5086 20.1112 15.7258H17.8226V14.2769L19.2232 13.5766C20.5264 12.9245 21.9857 12.5806 23.4419 12.5806H27.4499C28.904 12.5806 30.311 12.155 31.5208 11.3477L32.3805 10.7743C33.5893 11.831 35.0916 12.4485 36.6925 12.5576V15.7258H36.6935ZM32.5 16.7742C32.5 17.3529 32.0303 17.8226 31.4516 17.8226C30.8729 17.8226 30.4032 17.3529 30.4032 16.7742C30.4032 16.1955 30.8729 15.7258 31.4516 15.7258C32.0303 15.7258 32.5 16.1955 32.5 16.7742ZM24.1129 16.7742C24.1129 17.3529 23.6432 17.8226 23.0645 17.8226C22.4858 17.8226 22.0161 17.3529 22.0161 16.7742C22.0161 16.1955 22.4858 15.7258 23.0645 15.7258C23.6432 15.7258 24.1129 16.1955 24.1129 16.7742ZM20.1123 17.8226C20.5463 19.0398 21.6995 19.9194 23.0645 19.9194C24.4295 19.9194 25.5827 19.0398 26.0168 17.8226H28.5004C28.9344 19.0398 30.0877 19.9194 31.4527 19.9194C32.8177 19.9194 33.9709 19.0398 34.4049 17.8226H36.4524C35.4952 22.0182 31.741 25.1613 27.2602 25.1613C22.7794 25.1613 19.0251 22.0182 18.0679 17.8226H20.1123ZM29.6673 27.0002L27.2581 33.627L24.8489 27.0012C25.6268 27.1669 26.4319 27.2581 27.2581 27.2581C28.0842 27.2581 28.8894 27.1669 29.6673 27.0002ZM32.2002 26.1688L32.9319 26.4435L34.2592 29.7606L31.0218 30.8394L32.2725 33.3419L29.9692 35.6452H28.7541L32.2002 26.1688ZM41.015 26.8901C40.5527 27.0295 40.0201 27.1522 39.4728 27.214C38.8071 26.6154 38.0407 26.1185 37.1737 25.7935L34.5349 24.8038L34.5223 24.7713L34.4867 24.7849L34.4081 24.7556C35.6756 23.7502 36.7271 22.4858 37.4819 21.0401C38.0837 22.8538 39.1436 24.9841 41.015 26.8901ZM25.1613 2.09677H28.1586C29.2123 2.09677 30.1904 2.61992 30.7754 3.49742L31.9391 5.24194H33.5484C35.2824 5.24194 36.6935 6.65306 36.6935 8.3871V10.4346C35.4869 10.3182 34.363 9.81605 33.4949 8.94903L32.6331 8.08726L30.3581 9.60427C29.4943 10.1798 28.4889 10.4839 27.451 10.4839H23.4419C21.6618 10.4839 19.8785 10.9043 18.2849 11.701L17.8226 11.9327V9.43548C17.8226 5.38976 21.1156 2.09677 25.1613 2.09677ZM17.0342 21.0411C17.789 22.4869 18.8395 23.7502 20.1081 24.7566L20.0294 24.786L19.9938 24.7723L19.9812 24.8048L17.3435 25.7945C16.4764 26.1195 15.7101 26.6164 15.0433 27.2151C14.496 27.1532 13.9624 27.0306 13.5011 26.8911C15.3725 24.9841 16.4324 22.8538 17.0342 21.0411ZM14.6774 32.6656C14.6774 30.4923 16.0445 28.5203 18.0794 27.7571L18.9265 27.4394L17.484 31.0459L20.5369 32.0639L19.6908 33.7549L21.5821 35.6452H14.6774V32.6656ZM7.33871 40.8871C7.33871 39.1531 8.74984 37.7419 10.4839 37.7419H44.0323C45.7663 37.7419 47.1774 39.1531 47.1774 40.8871V58.7097H7.33871V40.8871ZM52.4194 61.8548C52.4194 62.4335 51.9497 62.9032 51.371 62.9032H3.14516C2.56645 62.9032 2.09677 62.4335 2.09677 61.8548V60.8064H52.4194V61.8548Z" fill="#414141")
            path(d="M27.2581 44.0323C24.3677 44.0323 22.0161 46.3838 22.0161 49.2742C22.0161 52.1646 24.3677 54.5162 27.2581 54.5162C30.1485 54.5162 32.5 52.1646 32.5 49.2742C32.5 46.3838 30.1485 44.0323 27.2581 44.0323ZM27.2581 52.4194C25.524 52.4194 24.1129 51.0083 24.1129 49.2742C24.1129 47.5402 25.524 46.1291 27.2581 46.1291C28.9921 46.1291 30.4032 47.5402 30.4032 49.2742C30.4032 51.0083 28.9921 52.4194 27.2581 52.4194Z" fill="#CD4051")
        symbol#sale-red(viewBox="0 0 60 60", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M59.9987 31.2801V31.3075C59.9987 31.7249 59.79 32.081 59.4835 32.3197L34.7789 57.0243C34.282 57.5212 33.4771 57.5212 32.9775 57.0243C32.4806 56.526 32.4806 55.7198 32.9775 55.2228L57.3899 30.8105V22.1765C57.3899 21.4565 57.9755 20.8721 58.6943 20.8721C59.4156 20.8721 59.9987 21.4565 59.9987 22.1765V31.2723C59.9987 31.2749 59.9987 31.2762 59.9987 31.2801ZM24.5314 59.4453C24.4896 59.5079 24.4622 59.5783 24.4075 59.6331C24.1505 59.8888 23.8113 60.0075 23.4748 59.9996C23.1383 60.0075 22.7991 59.8888 22.5421 59.6331C22.4874 59.5783 22.4613 59.5079 22.4182 59.4453L0.554747 37.5805C0.492135 37.5387 0.423 37.5114 0.36691 37.4566C0.109938 37.1996 -0.00615569 36.8617 0.000366433 36.5252C-0.00746012 36.1887 0.109938 35.8495 0.36691 35.5925C0.423 35.5378 0.492135 35.5117 0.554747 35.4686L30.2904 5.73295C30.5291 5.42771 30.8839 5.2177 31.3014 5.2177H31.3287C31.3314 5.2177 31.334 5.2177 31.3366 5.2177H36.5921C36.7656 3.25845 37.5652 1.53922 38.7705 0.413503L38.7914 0.436982C39.0457 0.166966 39.3953 0 39.7801 0C40.5523 0 41.1785 0.667866 41.1785 1.49096C41.1785 1.98012 40.9437 2.39232 40.6032 2.66364C39.9784 3.24019 39.5336 4.14938 39.3849 5.2177H45.6135C45.6161 5.2177 45.6187 5.2177 45.6239 5.2177H45.65C46.0674 5.2177 46.4249 5.42641 46.661 5.73295L54.2658 13.3377C54.571 13.5765 54.781 13.9326 54.781 14.35V14.3774C54.781 14.38 54.781 14.3826 54.781 14.3852V28.6621C54.781 28.6647 54.781 28.6674 54.781 28.6713V28.6987C54.781 29.1161 54.5723 29.4722 54.2658 29.7096L24.5314 59.4453ZM52.1722 14.847L45.153 7.82786H39.6575C39.8871 8.40702 40.2106 8.90009 40.6032 9.26272C40.6567 9.30577 40.7232 9.33186 40.7689 9.38273L40.7923 9.35925C42.1503 10.6285 43.0425 12.6307 43.0425 14.9083C43.0425 14.9631 43.0294 15.0113 43.0268 15.0648C44.5882 15.9662 45.6513 17.6345 45.6513 19.5677C45.6513 22.4492 43.3151 24.7854 40.4336 24.7854C37.5522 24.7854 35.2159 22.4492 35.2159 19.5677C35.2159 16.7671 37.4269 14.5 40.1988 14.3735C40.0814 13.2151 39.6236 12.2238 38.9609 11.6107C38.9075 11.5676 38.8409 11.5416 38.7927 11.4907L38.7718 11.5142C37.8013 10.6076 37.0852 9.31621 36.746 7.82786H31.7983L3.10099 36.5252L23.4748 56.899L52.1722 28.2017V14.847ZM38.9596 18.2072C39.2831 17.9085 39.5479 17.5067 39.7645 17.0554C38.6492 17.3528 37.8235 18.3598 37.8235 19.5664C37.8235 21.0065 38.9922 22.1752 40.4323 22.1752C41.8737 22.1752 43.0412 21.0065 43.0412 19.5664C43.0412 18.9494 42.8194 18.3911 42.4607 17.9437C41.6585 19.959 40.7689 20.4338 40.7689 20.4338C40.5171 20.7038 40.1675 20.8695 39.7801 20.8695C39.0079 20.8695 38.3844 20.2016 38.3844 19.3785C38.3844 18.892 38.6179 18.4798 38.9596 18.2072ZM14.7169 34.2881C15.2152 33.7911 16.0213 33.7911 16.5183 34.2881L25.7132 43.483C26.2102 43.98 26.2102 44.7861 25.7132 45.2844C25.2162 45.7814 24.4088 45.7814 23.9118 45.2844L14.7169 36.0895C14.2199 35.5925 14.2199 34.7864 14.7169 34.2881ZM19.9346 29.0704C20.4329 28.5734 21.239 28.5734 21.736 29.0704L30.9309 38.2653C31.4266 38.7623 31.4266 39.5684 30.9309 40.0667C30.4339 40.5637 29.6265 40.5637 29.1295 40.0667L19.9346 30.8718C19.4376 30.3748 19.4376 29.5687 19.9346 29.0704Z" fill="#2D2D2D")
            rect(x="14.4494" y="31.6067" width="17.8683" height="3.10681" rx="1.5534" transform="rotate(44.9871 14.4494 31.6067)" fill="#CD4051")
            rect(x="19.67" y="26.3894" width="17.8683" height="3.10681" rx="1.5534" transform="rotate(44.9871 19.67 26.3894)" fill="#CD4051")
        symbol#doc-red(viewBox="0 0 46 52", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M16.6111 7.79999H8.94445C8.60556 7.79999 8.28055 7.93695 8.04092 8.18075C7.80129 8.42455 7.66667 8.75521 7.66667 9.09999C7.66667 9.44477 7.80129 9.77543 8.04092 10.0192C8.28055 10.263 8.60556 10.4 8.94445 10.4H16.6111C16.95 10.4 17.275 10.263 17.5146 10.0192C17.7543 9.77543 17.8889 9.44477 17.8889 9.09999C17.8889 8.75521 17.7543 8.42455 17.5146 8.18075C17.275 7.93695 16.95 7.79999 16.6111 7.79999Z" fill="black")
            path(d="M16.6111 15.6H8.94445C8.60556 15.6 8.28055 15.7369 8.04092 15.9807C7.80129 16.2245 7.66667 16.5552 7.66667 16.9C7.66667 17.2448 7.80129 17.5754 8.04092 17.8192C8.28055 18.063 8.60556 18.2 8.94445 18.2H16.6111C16.95 18.2 17.275 18.063 17.5146 17.8192C17.7543 17.5754 17.8889 17.2448 17.8889 16.9C17.8889 16.5552 17.7543 16.2245 17.5146 15.9807C17.275 15.7369 16.95 15.6 16.6111 15.6Z" fill="black")
            path(d="M16.6111 23.4H8.94445C8.60556 23.4 8.28055 23.537 8.04092 23.7808C7.80129 24.0246 7.66667 24.3552 7.66667 24.7C7.66667 25.0448 7.80129 25.3755 8.04092 25.6193C8.28055 25.8631 8.60556 26 8.94445 26H16.6111C16.95 26 17.275 25.8631 17.5146 25.6193C17.7543 25.3755 17.8889 25.0448 17.8889 24.7C17.8889 24.3552 17.7543 24.0246 17.5146 23.7808C17.275 23.537 16.95 23.4 16.6111 23.4Z" fill="black")
            path(d="M40.8889 36.4H38.3333C38.3998 34.557 39.1061 32.7975 40.3267 31.434C43.4444 29.068 46 26.312 46 22.1C45.9976 19.0997 44.865 16.2145 42.8351 14.0381C40.8052 11.8617 38.0326 10.5597 35.0878 10.4L25.1722 0.39C25.0178 0.204542 24.8135 0.0689942 24.5844 0H3.83333C2.81667 0 1.84165 0.410892 1.12276 1.14228C0.403868 1.87368 0 2.86566 0 3.9V48.1C0 49.1343 0.403868 50.1263 1.12276 50.8577C1.84165 51.5891 2.81667 52 3.83333 52H31.9444C32.9611 52 33.9361 51.5891 34.655 50.8577C35.3739 50.1263 35.7778 49.1343 35.7778 48.1V46.8H44.7222C45.0611 46.8 45.3861 46.663 45.6257 46.4192C45.8654 46.1754 46 45.8448 46 45.5V41.6C46 40.2209 45.4615 38.8982 44.503 37.923C43.5445 36.9479 42.2444 36.4 40.8889 36.4ZM43.4444 22.1C43.27 23.5954 42.7627 25.0306 41.9612 26.2966C41.1597 27.5626 40.085 28.626 38.8189 29.406C36.9535 31.2489 35.8634 33.7561 35.7778 36.4H33.2222C33.157 33.7671 32.095 31.2615 30.2578 29.406C28.9774 28.6347 27.8878 27.5751 27.0726 26.3086C26.2575 25.0421 25.7385 23.6024 25.5556 22.1C25.5556 19.6865 26.4979 17.3719 28.1753 15.6653C29.8527 13.9587 32.1278 13 34.5 13C36.8722 13 39.1473 13.9587 40.8247 15.6653C42.5021 17.3719 43.4444 19.6865 43.4444 22.1ZM31.4078 10.4H25.5556V4.446L31.4078 10.4ZM33.2222 48.1C33.2222 48.4448 33.0876 48.7754 32.848 49.0192C32.6083 49.263 32.2833 49.4 31.9444 49.4H3.83333C3.49445 49.4 3.16944 49.263 2.92981 49.0192C2.69018 48.7754 2.55556 48.4448 2.55556 48.1V3.9C2.55556 3.55522 2.69018 3.22456 2.92981 2.98076C3.16944 2.73696 3.49445 2.6 3.83333 2.6H23V11.7C23 12.0448 23.1346 12.3754 23.3743 12.6192C23.6139 12.863 23.9389 13 24.2778 13H27.37C26.0124 14.0817 24.9138 15.4627 24.1569 17.039C23.3999 18.6152 23.0044 20.3457 23 22.1C23 26.312 25.6833 29.068 28.5967 31.434C29.8286 32.7972 30.5598 34.5514 30.6667 36.4H28.1111C26.7556 36.4 25.4555 36.9479 24.497 37.923C23.5385 38.8982 23 40.2209 23 41.6V45.5C23 45.8448 23.1346 46.1754 23.3743 46.4192C23.6139 46.663 23.9389 46.8 24.2778 46.8H33.2222V48.1ZM43.4444 44.2H25.5556V41.6C25.5556 40.9104 25.8248 40.2491 26.3041 39.7615C26.7833 39.2739 27.4333 39 28.1111 39H40.8889C41.5667 39 42.2167 39.2739 42.6959 39.7615C43.1752 40.2491 43.4444 40.9104 43.4444 41.6V44.2Z" fill="black")
            path(d="M12.7778 31.2C11.7669 31.2 10.7787 31.505 9.9382 32.0764C9.09769 32.6478 8.44258 33.4599 8.05573 34.4101C7.66889 35.3602 7.56767 36.4058 7.76488 37.4145C7.9621 38.4232 8.44888 39.3497 9.16368 40.077C9.87849 40.8042 10.7892 41.2995 11.7807 41.5001C12.7721 41.7007 13.7998 41.5978 14.7337 41.2042C15.6677 40.8106 16.4659 40.1441 17.0275 39.289C17.5891 38.4338 17.8889 37.4285 17.8889 36.4C17.8889 35.0209 17.3504 33.6982 16.3919 32.7231C15.4334 31.7479 14.1333 31.2 12.7778 31.2ZM12.7778 39C12.2723 39 11.7783 38.8475 11.358 38.5618C10.9377 38.2761 10.6102 37.8701 10.4168 37.395C10.2233 36.9199 10.1727 36.3971 10.2713 35.8928C10.3699 35.3884 10.6133 34.9252 10.9707 34.5615C11.3281 34.1979 11.7835 33.9503 12.2792 33.85C12.775 33.7496 13.2888 33.8011 13.7558 33.9979C14.2227 34.1947 14.6218 34.528 14.9027 34.9555C15.1835 35.3831 15.3333 35.8858 15.3333 36.4C15.3333 37.0896 15.0641 37.7509 14.5848 38.2385C14.1056 38.7261 13.4556 39 12.7778 39Z" fill="#CD4051")
        
    // ШАПКА
    .bg_first-screen
        .first-screen
          .first-screen__content
            .first-screen__logo-box
              img.first-screen__logo(src='/assets/templates/main/img/mask.png', data-src='/assets/templates/main/img/logo-inner.gif', alt='SORP')
            h1.first-screen__title Аренда переговорных комнат в Дубае
            h4.first-screen__text
              | Современные помещения для проведения деловых встреч и бизнес-мероприятий, укомплектованные необходимым техническим оборудованием.
            a.first-screen__btn.btn.btn_w100-sm.btn_radius.btn_hover-red.btn_h55(href='#', onclick="toggleModal('form01')") Оставить заявку 
    .r60
    // Блок 36 - Три рекламных блока
    .container
        .r60
        // КРАСНАЯ РАМКА        
        .block-frames.block-frames_FF-before
          .block-frames__border
          .block-frames__wrapper Для реализации товаров на местном рынке недостаточно организовать логистику и найти рынок сбыта. Некоторые типы товаров требуют прохождения обязательной процедуры сертификации, без этого доступ на местный рынок будет невозможен. Эти процессы требуют опыта и знаний тонкостей местного законодательства.  Наша компания более 15 лет занимается сертификацией товаров, накопив богатый опыт и надежные связи в государственных контролирующих органах. Поручив все формальности экспертам SORP Group, Вы сэкономите ресурсы и время для выхода на рынок ОАЭ и других стран Персидского залива        
        .r60
        .r60
    .r1.r_bg-gray    
    section#renting.bg-F9
        .container
            .r60
            h2.header-2 Типы сертификации товаров, принятых в ОАЭ
            .r60     
            .flex.flex_width3
              .flex__item.flex__item_width2
                .block1.block1_width2
                  .block1__item
                    a.block1__head.block1__head-price_tall
                      .block1__head-content
                          .block1__head-title.block1__head-title_font-w500 Пакет Standard Room
                          .block1__head-price
                              .block1__head-price-title До 8 человек
                              .block1__head-price-text
                                  p 400 AED/полдня
                                  p 700 AED/день

                  .block1__item
                    a.block1__head.block1__head-price_tall
                      .block1__head-content
                          .block1__head-title.block1__head-title_font-w500 Пакет Maxi Room
                          .block1__head-price
                              .block1__head-price-title До 15 человек                              
                              .block1__head-price-text
                                  p 1000 AED/полдня
                                  p 1500 AED/день

                  .block1__item
                    a.block1__head.block1__head-price_tall
                      .block1__head-content
                          .block1__head-title.block1__head-title_font-w500 Пакет Business Meeting Room
                          .block1__head-price
                              .block1__head-price-title До 30 человек                              
                              .block1__head-price-text
                                p 1500 AED/полдня
                                p 2500 AED/день
                  .block1__item
                    a.block1__head.block1__head-price_tall
                      .block1__head-content
                          .block1__head-title.block1__head-title_font-w500 Пакет Conference Hall
                          .block1__head-price
                              .block1__head-price-title До 60 человек                              
                              .block1__head-price-text
                                p 2000 AED/полдня
                                p 3000 AED/день 


              .flex__item
                .plate12.plate12_width1
                  .plate12__item.plate12__item_no-icon-bg.block-height1.block-width1
                    .plate12__title Каждый пакет аренды включает в себя:
                    .plate12__description
                        .plate12__list
                            .plate12__list-item Смарт-экран
                            .plate12__list-item Входящие телефонные звонки
                            .plate12__list-item Высокоскоростной интернет и WI-FI
                            .plate12__list-item Встреча гостей
                            .plate12__list-item Реорганизация помещения согласно вашим пожеланиям и формату мероприятия
                            .plate12__list-item Муниципальный паркинг
                            .plate12__list-item Вода, горячий чай
                        .r60
                        a.btn.btn_center.btn_border2.btn_font-w500.btn_white.btn_w100(href='#', onclick="toggleModal('form01');")
                            | Забронировать
                            svg.btn__icon-svg.btn__icon-svg-right(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
                              use(xlink:href='#btn__icon-modal')
            //.grid.grid__prices
                .block1__item.block1__item-grid
                    a.block1__head.block1__head-price_tall
                      .block1__head-content
                          .block1__head-title.block1__head-price-title.block1__head-title_font-w500 Пакет Standard Room
                          .block1__head-price
                              .block1__head-price-title До 8 человек                              
                              .block1__head-price-text
                                  p 400 AED/полдня
                                  p 700 AED/день

                .block1__item.block1__item-grid
                    .block1__head.block1__head-price.block1__head-price_tall
                        .block1__head-title.block1__head-price-title.block1__head-title_font-w500 Пакет Maxi Room
                        .block1__head-price-content 
                            span До 15 человек
                            //-.block1__range                        
                            .block1__price-text
                                p 1000 AED/полдня
                                p 1500 AED/день

                .block1__item.block1__item-grid
                    .block1__head.block1__head-price.block1__head-price_tall
                        .block1__head-title.block1__head-price-title.block1__head-title_font-w500 Пакет Business Meeting Room
                        .block1__head-price-content 
                            span До 30 человек
                            //-.block1__range                        
                            .block1__price-text
                                p 1500 AED/полдня
                                p 2500 AED/день

                .block1__item.block1__item-grid
                    .block1__head.block1__head-price.block1__head-price_tall
                        .block1__head-title.block1__head-price-title.block1__head-title_font-w500 Пакет Conference Hall
                        .block1__head-price-content 
                            span До 60 человек
                            //-.block1__range                        
                            .block1__price-text
                                p 2000 AED/полдня
                                p 3000 AED/день            

                .plate12__item.plate12__item_no-icon-bg.plate12__item_grid-two-vertical.block-two-vertical
                    .plate12__title Каждый пакет аренды включает в себя:
                    .plate12__description
                        .plate12__list
                            .plate12__list-item Смарт-экран
                            .plate12__list-item Входящие телефонные звонки
                            .plate12__list-item Высокоскоростной интернет и WI-FI
                            .plate12__list-item Встреча гостей
                            .plate12__list-item Реорганизация помещения согласно вашим пожеланиям и формату мероприятия
                            .plate12__list-item Муниципальный паркинг
                            .plate12__list-item Вода, горячий чай
                        .r60
                        a.btn.btn_center.btn_border2.btn_font-w500.btn_white.btn_w100(href='#', onclick="toggleModal('form01');")
                            | Забронировать
                            svg.btn__icon-svg.btn__icon-svg-right(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
                              use(xlink:href='#btn__icon-modal')
            .r60

    .feedback-block
        .container
            .feedback-block__wrapper
                .feedback-block__text Проводите деловые собрания не отвлекаясь на организационные вопросы
                .feedback-block__btn Заказать обратный звонок
    
    .r60
    
    section#features
        .container
          h2.header-2 Особенности
          .r30
          .sub-header Арендуя переговорные комнаты в нашем бизнес-центре вы получаете качественный сервис, современное оборудование и удобное расположение
          .r60
          
          .block18
              .block18__item.block18__item_small
                .block18__icon-wrap
                  svg.block18__icon
                    use(href='#coins-red')
                .block18__text.block18__text-pr120
                  .block18__title Гибкая система оплаты
              .block18__item.block18__item_small
                .block18__icon-wrap
                  svg.block18__icon
                    use(href='#social-red')
                .block18__text.block18__text-pr120
                  .block18__title Социальная дистанция
              .block18__item.block18__item_small
                .block18__icon-wrap
                  svg.block18__icon
                    use(href='#parking-red')
                .block18__text.block18__text-pr120
                  .block18__title Парковка в здании
              .block18__item.block18__item_small
                .block18__icon-wrap
                  svg.block18__icon
                    use(href='#business-center-red')
                .block18__text.block18__text-pr120
                  .block18__title Новые офисы      
              .block18__item.block18__item_small
                .block18__icon-wrap
                  svg.block18__icon
                    use(href='#boat-red')
                .block18__text.block18__text-pr120
                  .block18__title Расположение на высоких этажах с видом на море   
              
              .block18__item.block18__item_small
                .block18__icon-wrap
                  svg.block18__icon
                    use(href='#car-red')
                .block18__text.block18__text-pr120
                  .block18__title Отсутствие пробок в час пик
              
              .block18__item.block18__item_small
                .block18__icon-wrap
                  svg.block18__icon
                    use(href='#girl-red')
                .block18__text.block18__text-pr120
                  .block18__title Офисные помещения для размещения от одного до двухсот человек          
                                  
              .block18__item.block18__item_small
                .block18__icon-wrap
                  svg.block18__icon
                    use(href='#sale-red')
                .block18__text.block18__text-pr120
                  .block18__title Скидки при оформлении долгосрочных контрактов          
                                      
              .block18__item.block18__item_small
                .block18__icon-wrap
                  svg.block18__icon
                    use(href='#doc-red')
                .block18__text.block18__text-pr120
                  .block18__title Официально признанный тип размещения в DED
          
          a.btn.btn_center.btn_space-between.btn_border2.btn_font-w500.btn_white(href='#', onclick="toggleModal('form01');")
            | Получить консультацию
            svg.btn__icon-svg.btn__icon-svg-right(width='36', height='36', viewBox='0 0 128 128')
              use(href='#btn__icon-modal')
          .r60 
            
    section#additional-services.bg-F9
      .container
        .r60
        h2.header-2 Дополнительные услуги
        .r30
        .sub-header Воспользуйтесь дополнительными решениями SORP Group по поддержке в проведении мероприятий:
        .r60
          
        .block1
          .block1__item
            .block1__head.block1__head-price.block1__head_blue-plane-hover
                .block1__head-title.block1__head-price-title.block1__head-title_font-w500 Пакет Standard Room
                .block1__head-price-content 
                    span Тариф                                  
                    .block1__price-text
                        p от 80 AED/час                

          .block1__item
            .block1__head.block1__head-price.block1__head_blue-plane-hover
                .block1__head-title.block1__head-price-title.block1__head-title_font-w500 Пакет Standard Room
                .block1__head-price-content 
                    span Тариф                                  
                    .block1__price-text
                        p от 85 AED/час  

          .block1__item
            .block1__head.block1__head-price.block1__head_blue-plane-hover
                .block1__head-title.block1__head-price-title.block1__head-title_font-w500 Пакет Standard Room
                .block1__head-price-content 
                    span Тариф                                  
                    .block1__price-text
                        p от 50 AED/час                                   
        .r60

    .feedback-block
      .container
        .feedback-block__wrapper
            .feedback-block__text Проводите деловые встречи в оборудованных переговорных престижного SORP Бизнес-центра
            .feedback-block__btn Забронировать

    section#advantages.bg-F9
      .container
        .r60
        h2.header-2 Получайте дополнительные выгоды подключаясь к абонентскому обслуживанию
        .r60
        
        .block11
          .block11__item
            .block11__item-inner
              .block11__top
                .block11__top-title
                  | Скидка 
                  br
                  |  30%
                .block11__icon-box
                  svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
                    use(href='#icon_discount')
              .block11__content
                .block11__title На услуги по учреждению или продлению компании
                .block11__desc При аренде рабочего места предоставляется скидка 30%
          .block11__item
            .block11__item-inner
              .block11__top
                .block11__top-title
                  | Скидка 
                  br
                  |  30%
                .block11__icon-box
                  svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
                    use(href='#block11__icon')
              .block11__content
                .block11__title Виртуальный офис в подарок
                .block11__desc При аренде коворкинга на 1 месяц и более пакет виртуально офиса Адрес на аналогичный период предоставляется бесплатно
          .block11__item
            .block11__item-inner
              .block11__top
                .block11__top-title
                  | Скидка 
                  br
                  |  30%
                .block11__icon-box
                  svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
                    use(href='#icon_discount')
              .block11__content
                .block11__title Аутсорсинговые услуги со скидкой
                .block11__desc Резидентам бизнес-центра аутсорсинговые услуги предоставляются с 30% скидкой
        

        .r60
        a.btn.btn_center.btn_space-between.btn_border2.btn_font-w500.btn_white(href='#', onclick="toggleModal('form01');")
          | Узнать стоимость
          svg.btn__icon-svg.btn__icon-svg-right(width='36', height='36', viewBox='0 0 128 128')
            use(href='#btn__icon-modal')
        .r60

    .r1.r_bg-gray

    section#why_sorp
      .container
        .r60
        h2.header-2 Почему клиенты выбирают SORP Бизнес-центр?
        .r50
    | {/block}
block scripts
  script(src="/dist/js/main.js")
  script(src="/dist/js/swiper/swiper.min.js")
  script(src="/dist/js/swiper/swiper-start.js")