extends ../layouts/default

block variables
  - const title = "real-estate-license";
  - page = "real-estate-license";

block content
  | {block 'content'}
  svg(width='0', height='0', style='position:absolute')
    symbol#btn__icon-modal(height='128', width='128', viewBox='0 0 128 128')
      path(d='M74.508,108.239c-0.772,0-1.479-0.445-1.81-1.148l-16.863-35.84L20.732,55.116c-0.734-0.337-1.193-1.083-1.164-1.891  c0.03-0.808,0.543-1.518,1.3-1.8l83.312-31.107c0.729-0.271,1.552-0.096,2.105,0.452c0.555,0.548,0.739,1.369,0.475,2.102  l-30.371,84.047c-0.274,0.761-0.98,1.28-1.788,1.318C74.569,108.238,74.538,108.239,74.508,108.239z M26.772,53.49l31.396,14.432  c0.429,0.197,0.774,0.539,0.975,0.965l15.122,32.139l27.264-75.448L26.772,53.49z')
      path(d='M57.334,71.738c-0.512,0-1.023-0.195-1.414-0.586c-0.781-0.78-0.781-2.047,0-2.828l47.545-47.546  c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828L58.748,71.152C58.357,71.543,57.846,71.738,57.334,71.738z')
    symbol#btn__icon(viewBox='0 0 14 12', xmlns='http://www.w3.org/2000/svg')
      path(d='M0.291748 10.7884L1.27464 11.6392L1.76608 11.2126L7.82088 5.98838L1.76608 0.764161L1.27464 0.337599L0.291748 1.18838L0.783192 1.6126L5.85239 5.98838L0.783192 10.3642L0.291748 10.7884ZM5.84968 10.7884L6.83256 11.6392L7.324 11.2126L13.3788 5.98838L7.324 0.764161L6.83256 0.337599L5.84968 1.18838L6.34112 1.6126L11.4103 5.98838L6.34112 10.3642L5.84968 10.7884Z')
    symbol#svg1(style='enable-background:new 0 0 512 512;', version='1.1', viewBox='0 0 512 512', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      g#Layer_1
      g#Layer_2
        g
          g
            g
              path(d='M416.5,280H158c-4.1,0-7.5-3.4-7.5-7.5s3.4-7.5,7.5-7.5h251V78H165.5v41.3c0,4.1-3.4,7.5-7.5,7.5s-7.5-3.4-7.5-7.5V70.5      c0-4.1,3.4-7.5,7.5-7.5h258.5c4.1,0,7.5,3.4,7.5,7.5v202C424,276.6,420.6,280,416.5,280z')
            g
              path(d='M381.5,252.6c-4.1,0-7.5-3.4-7.5-7.5V105.3H193c-4.1,0-7.5-3.4-7.5-7.5s3.4-7.5,7.5-7.5h188.4c4.1,0,7.5,3.4,7.5,7.5      v147.3C389,249.2,385.6,252.6,381.5,252.6z')
            g
              g
                path(d='M146.5,178.1c-19,0-34.4-15.4-34.4-34.4s15.4-34.4,34.4-34.4c19,0,34.4,15.4,34.4,34.4S165.5,178.1,146.5,178.1z        M146.5,124.2c-10.7,0-19.4,8.7-19.4,19.4s8.7,19.4,19.4,19.4c10.7,0,19.4-8.7,19.4-19.4S157.2,124.2,146.5,124.2z')
              g
                path(d='M197.5,280h-102c-4.1,0-7.5-3.4-7.5-7.5v-26c0-32.3,26.2-58.5,58.5-58.5s58.5,26.2,58.5,58.5v26       C205,276.6,201.7,280,197.5,280z M103,265h87v-18.5c0-24-19.5-43.5-43.5-43.5S103,222.5,103,246.5V265z')
              g
                path(d='M146.5,241.5c-2.5,0-4.9-1.3-6.3-3.4l-21.9-33.6c-2.3-3.5-1.3-8.1,2.2-10.4c3.5-2.3,8.1-1.3,10.4,2.2l15.6,24l15.6-24       c2.3-3.5,6.9-4.5,10.4-2.2c3.5,2.3,4.5,6.9,2.2,10.4l-21.9,33.6C151.4,240.2,149.1,241.5,146.5,241.5z')
            g
              path(d='M248.8,136h-31c-4.1,0-7.5-3.4-7.5-7.5s3.4-7.5,7.5-7.5h31c4.1,0,7.5,3.4,7.5,7.5S252.9,136,248.8,136z')
            g
              path(d='M304.8,178.1h-87c-4.1,0-7.5-3.4-7.5-7.5s3.4-7.5,7.5-7.5h87c4.1,0,7.5,3.4,7.5,7.5S309,178.1,304.8,178.1z')
            g
              path(d='M304.8,220.3h-87c-4.1,0-7.5-3.4-7.5-7.5s3.4-7.5,7.5-7.5h87c4.1,0,7.5,3.4,7.5,7.5S309,220.3,304.8,220.3z')
          g
            g
              g
                path(d='M131.1,381.6c-14.6,0-26.4-11.8-26.4-26.4s11.8-26.4,26.4-26.4s26.4,11.8,26.4,26.4S145.7,381.6,131.1,381.6z        M131.1,343.8c-6.3,0-11.4,5.1-11.4,11.4s5.1,11.4,11.4,11.4s11.4-5.1,11.4-11.4S137.4,343.8,131.1,343.8z')
              g
                path(d='M176.8,449H85.5c-4.1,0-7.5-3.4-7.5-7.5c0-28.7,23.3-52,52-52h2.3c28.7,0,52,23.3,52,52       C184.3,445.7,180.9,449,176.8,449z M93.7,434h74.8c-3.5-16.8-18.4-29.5-36.2-29.5H130C112.1,404.5,97.2,417.2,93.7,434z')
            g
              g
                path(d='M256,381.6c-14.6,0-26.4-11.8-26.4-26.4s11.8-26.4,26.4-26.4s26.4,11.8,26.4,26.4S270.6,381.6,256,381.6z M256,343.8       c-6.3,0-11.4,5.1-11.4,11.4s5.1,11.4,11.4,11.4s11.4-5.1,11.4-11.4S262.3,343.8,256,343.8z')
              g
                path(d='M301.7,449h-91.3c-4.1,0-7.5-3.4-7.5-7.5c0-28.7,23.3-52,52-52h2.3c28.7,0,52,23.3,52,52       C309.2,445.7,305.8,449,301.7,449z M218.6,434h74.8c-3.5-16.8-18.4-29.5-36.2-29.5h-2.3C237,404.5,222.1,417.2,218.6,434z')
            g
              g
                path(d='M380.9,381.6c-14.6,0-26.4-11.8-26.4-26.4s11.8-26.4,26.4-26.4s26.4,11.8,26.4,26.4S395.4,381.6,380.9,381.6z        M380.9,343.8c-6.3,0-11.4,5.1-11.4,11.4s5.1,11.4,11.4,11.4s11.4-5.1,11.4-11.4S387.2,343.8,380.9,343.8z')
              g
                path(d='M426.5,449h-91.3c-4.1,0-7.5-3.4-7.5-7.5c0-28.7,23.3-52,52-52h2.3c28.7,0,52,23.3,52,52       C434,445.7,430.7,449,426.5,449z M343.5,434h74.8c-3.5-16.8-18.4-29.5-36.2-29.5h-2.3C361.9,404.5,346.9,417.2,343.5,434z')
    symbol#svg2(style='enable-background:new 0 0 512 512;', version='1.1', viewBox='0 0 512 512', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      g#Layer_1
      g#Layer_2
        g
          g
            g
              path(d='M429.7,250.7H82.3c-13.9,0-25.1-11.3-25.1-25.1c0-13.9,11.3-25.1,25.1-25.1h347.4c13.9,0,25.1,11.3,25.1,25.1      C454.9,239.4,443.6,250.7,429.7,250.7z M82.3,215.4c-5.6,0-10.1,4.6-10.1,10.1c0,5.6,4.6,10.1,10.1,10.1h347.4      c5.6,0,10.1-4.6,10.1-10.1c0-5.6-4.6-10.1-10.1-10.1H82.3z')
            g
              g
                path(d='M124.8,429.7H86.6c-4.1,0-7.5-3.4-7.5-7.5v-179c0-4.1,3.4-7.5,7.5-7.5h38.2c4.1,0,7.5,3.4,7.5,7.5v179       C132.3,426.3,128.9,429.7,124.8,429.7z M94.1,414.7h23.2v-164H94.1V414.7z')
              g
                path(d='M425.4,429.7h-38.2c-4.1,0-7.5-3.4-7.5-7.5v-179c0-4.1,3.4-7.5,7.5-7.5h38.2c4.1,0,7.5,3.4,7.5,7.5v179       C432.9,426.3,429.6,429.7,425.4,429.7z M394.7,414.7h23.2v-164h-23.2V414.7z')
            g
              path(d='M387.2,323.9H124.8c-4.1,0-7.5-3.4-7.5-7.5v-73.2c0-4.1,3.4-7.5,7.5-7.5h262.4c4.1,0,7.5,3.4,7.5,7.5v73.2      C394.7,320.5,391.3,323.9,387.2,323.9z M132.3,308.9h247.4v-58.2H132.3V308.9z')
          g
            path(d='M314.6,181.3H197.4c-9.9,0-17.9-8-17.9-17.9v-63.2c0-9.9,8-17.9,17.9-17.9h117.2c9.9,0,17.9,8,17.9,17.9v63.2     C332.5,173.3,324.5,181.3,314.6,181.3z M197.4,97.3c-1.6,0-2.9,1.3-2.9,2.9v63.2c0,1.6,1.3,2.9,2.9,2.9h117.2     c1.6,0,2.9-1.3,2.9-2.9v-63.2c0-1.6-1.3-2.9-2.9-2.9H197.4z')
          g
            path(d='M275.3,215.4h-38.7c-4.1,0-7.5-3.4-7.5-7.5v-34.1c0-4.1,3.4-7.5,7.5-7.5h38.7c4.1,0,7.5,3.4,7.5,7.5v34.1     C282.8,212,279.5,215.4,275.3,215.4z M244.2,200.4h23.7v-19.1h-23.7V200.4z')
    symbol#svg3(style='enable-background:new 0 0 512 512;', version='1.1', viewBox='0 0 512 512', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      g#Layer_1
      g#Layer_2
        g
          g
            g
              path(d='M339.1,247.9H172.9c-4.1,0-7.5-3.4-7.5-7.5v-3.1c0-48.2,39.3-87.5,87.5-87.5h6.2c48.2,0,87.5,39.3,87.5,87.5v3.1      C346.6,244.5,343.3,247.9,339.1,247.9z M180.5,232.9h151c-2.3-37.9-33.9-68.1-72.4-68.1h-6.2      C214.4,164.7,182.8,194.9,180.5,232.9z')
            g
              path(d='M256,140c-19.9,0-36.2-16.2-36.2-36.2c0-19.9,16.2-36.2,36.2-36.2s36.2,16.2,36.2,36.2C292.2,123.8,275.9,140,256,140z       M256,82.7c-11.7,0-21.2,9.5-21.2,21.2S244.3,125,256,125s21.2-9.5,21.2-21.2S267.7,82.7,256,82.7z')
          g
            path(d='M256,379.5c-16.6,0-30-13.5-30-30s13.5-30,30-30s30,13.5,30,30S272.6,379.5,256,379.5z M256,334.5c-8.3,0-15,6.7-15,15     s6.7,15,15,15s15-6.7,15-15S264.3,334.5,256,334.5z')
          g
            g
              path(d='M386.7,444.3c-16.6,0-30-13.5-30-30s13.5-30,30-30s30,13.5,30,30S403.2,444.3,386.7,444.3z M386.7,399.3      c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15s15-6.7,15-15C401.7,406,394.9,399.3,386.7,399.3z')
            g
              path(d='M125.3,444.3c-16.6,0-30-13.5-30-30s13.5-30,30-30s30,13.5,30,30S141.9,444.3,125.3,444.3z M125.3,399.3      c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15s15-6.7,15-15C140.4,406,133.6,399.3,125.3,399.3z')
          g
            path(d='M386.7,399.3c-4.1,0-7.5-3.4-7.5-7.5V285.6H132.9v106.1c0,4.1-3.4,7.5-7.5,7.5s-7.5-3.4-7.5-7.5V278.1     c0-4.1,3.4-7.5,7.5-7.5h261.3c4.1,0,7.5,3.4,7.5,7.5v113.6C394.2,395.9,390.8,399.3,386.7,399.3z')
          g
            path(d='M256,334.5c-4.1,0-7.5-3.4-7.5-7.5v-86.6c0-4.1,3.4-7.5,7.5-7.5s7.5,3.4,7.5,7.5V327C263.5,331.1,260.1,334.5,256,334.5z     ')
    symbol#svg4(style='enable-background:new 0 0 512 512;', version='1.1', viewBox='0 0 512 512', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      g#Layer_1
      g#Layer_2
        g
          g
            g
              path(d='M100.3,413.9c-5.3,0-10.7-1.4-15.5-4.2c-9.8-5.6-15.6-15.7-15.6-27V129.3c0-17.2,14-31.1,31.1-31.1h311.4      c17.2,0,31.1,14,31.1,31.1v207.3c0,17.2-14,31.1-31.1,31.1H192.5c-2.8,0-5.6,0.8-8.1,2.2L116,409.6      C111.1,412.5,105.7,413.9,100.3,413.9z M100.3,113.1c-8.9,0-16.1,7.2-16.1,16.1v253.5c0,5.8,3,11.1,8.1,14      c5.1,2.9,11.1,2.9,16.2,0l68.4-39.7c4.7-2.8,10.2-4.2,15.6-4.2h219.2c8.9,0,16.1-7.2,16.1-16.1V129.3c0-8.9-7.2-16.1-16.1-16.1      H100.3z')
          g
            g
              path(d='M280.8,272.8c-1.9,0-3.8-0.7-5.2-2.1l-58-55.9l-58.1,47c-3.2,2.6-7.9,2.1-10.5-1.1c-2.6-3.2-2.1-7.9,1.1-10.5l63.3-51.1      c2.9-2.4,7.2-2.2,9.9,0.4l57.6,55.5l61.4-57.1c3-2.8,7.8-2.6,10.6,0.4c2.8,3,2.6,7.8-0.4,10.6l-66.6,62      C284.4,272.2,282.6,272.8,280.8,272.8z')
            g
              g
                polygon(points='326.1,185.9 363.3,225.9 364.7,187.3      ')
  .real_estate_license
    // ШАПКА
    .bg_first-screen
      .first-screen
        .first-screen__content
          .first-screen__logo-box
            img.first-screen__logo(src='/assets/templates/main/img/mask.png', data-src='/assets/templates/main/img/logo-inner.gif', alt='SORP')
          h1.first-screen__title Лицензия бизнеса в сфере недвижимости в ОАЭ
          h4.first-screen__text
            | Постоянно растущая бизнес-активность, строительный бум на рынке недвижимости и впечатляющие своими масштабами площадки по застройке жилых и коммерческих объектов — все это определяет основные потребности бизнеса в сфере недвижимости.
          a.first-screen__btn.btn.btn_w100-sm.btn_radius.btn_hover-red.btn_h55(href='#', onclick="toggleModal('form01')") Оставить заявку

    .r60
    // КРАСНАЯ РАМКА
    .container
      #scrollBlock01.license-info
        .license-info__border
        .license-info__wrapper
          | В рамках глобальной стратегической программы застройки ОАЭ Vision 2021 строительная отрасль показывает стабильный рост. В связи с этим, в геометрической прогрессии приобретает актуальность бизнес по оказанию ремонтных, сервисных, инженерных и инжиниринговых работ. В свою очередь, в стране наблюдается дефицит высокопрофессиональных компаний  в данной отрасли бизнеса. Не упустите свою возможность стать востребованной компанией на местном рынке.
    .r60
    .r30

    // Разделитель
    .divider.divider_2
    // //Разделитель

    // Виды block7
    style.
      .block7.block7_plane-hover .block7__item:hover {
        background-color: # [ [ *link_attributes ] ];
      }

      .desc {
        margin-bottom: 40px;
        max-width: 1060px;
      }

      .page-block_bg-1 {
        background-color: #fdfdfd;
      }
    #scrollBlock1.page-block.page-block_bg-1.page-block--z2
      .container
        h2#goals.fadeInUp(style='visibility: visible; animation-name: fadeInUp;') Основные виды лицензий
        .desc
          | Выбор лицензии определяет стратегию развития Вашего бизнеса, поэтому тщательно подойдите к определению подходящего вида деятельности. Консультанты SORP Group помогут разобраться в вопросах лицензирования.
        .block7.block7_modal
          .block7__item
            .block7__icon
              img.block7__icon-img(src='/assets/templates/main/img/vladit-icons/icon-tools-g.svg')
            .block7__title Девелоперская деятельность
            .block7__text
              | Ведение полного цикла по созданию и реализации проектов в недвижимости (покупка, аренда земли, найм проектировщиков и генерального подрядчика, запуск строительства и продажа объекта, в том числе на стадии строительства).
          .block7__item
            .block7__icon
              img.block7__icon-img(src='/assets/templates/main/img/vladit-icons/icon-office-g.svg')
            .block7__title Деятельность агентства по недвижимости
            .block7__text
              | Деятельность посредника – агента по сделкам купли-продажи недвижимости между собственниками и покупателями, а также сдача недвижимости в аренду третьим лицам.
          .block7__item
            .block7__icon
              img.block7__icon-img(src='/assets/templates/main/img/vladit-icons/icon-official-1.svg')
            .block7__title Профессиональное управление недвижимостью, принадлежащей третьему лицу
            .block7__text
              | Деятельность бизнес-центров, коммерческих торговых комплексов, торговых центров, гостевых домов, управление объектами, находящимися в собственности третьих лиц.
          .block7__item
            .block7__icon
              img.block7__icon-img(src='/assets/templates/main/img/vladit-icons/icon-bank.svg')
            .block7__title Инвестиции и управление собственной недвижимостью
            .block7__text
              | Приобретение и управление собственной недвижимостью с целью последующей сдачи её в аренду для извлечения доходов от деятельности. Данная лицензия также включает обслуживание недвижимости.
          .block7__item
            .block7__icon
              img.block7__icon-img(src='/assets/templates/main/img/vladit-icons/icon-worker-g.svg')
            .block7__title Обслуживание недвижимости
            .block7__text
              | Деятельность по эксплуатации, управлению и обслуживанию недвижимости, в том числе осуществление охранной деятельности, клининговый сервис, техническое обслуживание зданий, включая обслуживание инженерных сетей.
          .block7__item
            .block7__icon
              img.block7__icon-img(src='/assets/templates/main/img/vladit-icons/icon-registration-g.svg')
            .block7__title Консультации в сфере недвижимости
            .block7__text
              | Включает консалтинговую деятельность по вопросам покупки, продажи и аренды жилой и коммерческой недвижимости на территории ОАЭ, а также на международном пространстве.
      .r50
    // //Виды block7
    // ФОРМА 1
    .action-block
      .container
        .action-block__i.wow.fadeInUp
          .action-block__text
            | Получите индивидуальное предложение по лицензированию бизнеса в сфере недвижимости
          .action-block__btn(onclick="toggleModal('form01', this);update_url('/tourism-license/#1');")
            | Связаться со специалистом
    // //ФОРМА 1
    // Решения
    #scrollBlock2.page-block.page-block--z2.page-block--white
      .container
        h2.wow.fadeInUp.animated(id='', style='visibility: visible;') Решения платформы SORP
        .desc
          | Для основных направлений торговой деятельности созданы довольно простые и, главное, быстрые процедуры оформления лицензии. Однако стоит отметить, что при выборе типа торговой лицензии очень часто допускаются ошибки, которые в последующем накладывают порой серьезные ограничения на полноценное ведение бизнеса.
        .lpb-list.lpb-list-new.items_gray
          .lpb-block.lpb-block--red-line.wow.fadeInUp.animated(style='visibility: visible;')
            .lpb-block__name Услуги бизнес-центра
            .lpb-block__text Оборудованные офисы, переговорные комнаты и коворкинг в премиальной локации
          .lpb-block.lpb-block--red-line.wow.fadeInUp.animated(style='visibility: visible;')
            .lpb-block__name Бухгалтерский аутсорсинг
            .lpb-block__text
              | Учет хозяйственной деятельности, налоговое консультирование, формирование налоговой отчетности, аудит
          .lpb-block.lpb-block--red-line.wow.fadeInUp.animated(style='visibility: visible;')
            .lpb-block__name Местный локальный спонсор
            .lpb-block__text
              | Компания имеет аккредитацию для участия в локальном бизнесе в качестве местного партнера
          .lpb-block.lpb-block--red-line.wow.fadeInUp.animated(style='visibility: visible;')
            .lpb-block__name Услуги бизнес-центра
            .lpb-block__text Оборудованные офисы, переговорные комнаты и коворкинг в премиальной локации
          .lpb-block.lpb-block--red-line.wow.fadeInUp.animated(style='visibility: visible;')
            .lpb-block__name Содействие в открытии банковских счетов
            .lpb-block__text
              | Тесное сотрудничество с ведущими банками ОАЭ и понимание процедур их комплаенса гарантируют профессиональное сопровождение при открытии банковских счетов
          .lpb-block.lpb-block--red-line.wow.fadeInUp.animated(style='visibility: visible;')
            .lpb-block__name Аутсорсинг основных бизнес-процессов
            .lpb-block__text
              | Административная, налоговая, бухгалтерская поддержка и специалисты PRO позволяют существенно сэкономить на содержании целого штата высокооплачиваемых сотрудников
      // Кнопка
      .r30
      .page-block.page-block--white.page-block--z2.pt-0.pb-0
        .container
          .btn.btn_space-between.btn_font-w500.btn_white.btn_center.wow.fadeInUp(onclick="toggleModal('form01');", style='visibility: visible; animation-name: fadeInUp;')
            | Получить консультацию
            svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
              use(xlink:href='#btn__icon-modal')
      .r60
      // //Кнопка
      // //Решения
      // Особенности
      style.
        .page-block_bg-2 {
          background-color: #f9f9f9;
        }

        .block4_grey-border .block4__link-inner {
          background-color: #F9F9F9;
        }

        .page-block_bg-2 .btn_white {
          background-color: #F9F9F9;
        }

        .page-block_bg-2 .btn_white:hover {
          background-color: #CC4052;
        }
      #types.page-block.page-block_bg-2.page-block--z2.vit-pt-90
        .container
          h2#scrollBlock3.wow.fadeInUp(style='visibility: visible; animation-name: fadeInUp;') Особенности
          .desc
            | Узнайте особенности, которые стоит учитывать при оформлении лицензии в сфере недвижимости:
          .block-4.block4_width3.block4_grey-border
            .block4__links
              .wow.fadeInUp.animated.block4__link.block4__link_no-btn(style='visibility: visible; animation-name: fadeInUp;')
                .block4__link-inner.block4__link-inner_pseudoelmnt
                  // <div class="block4__content">
                  .block4__icon
                    img.block4__icon-img(src='/assets/templates/main/img/vladit-icons/icon-tax.svg', alt='')
                  .block4__link-title
                    | Контроль государства
                  .block4__link-content
                    | Ваша деятельность в ОАЭ регулируется государством, которое поддерживает развитие сферы обслуживания недвижимости, следит за отсутствием спекуляций и стабильностью рынка.
                    br
                    br
                    |                                     Практически вся деятельность попадает под контроль Департамента недвижимости, а именно так называемого регулирующего агентства недвижимости – Real Estate Regulatory Agency, а также прочих ведомств в зависимости от вида деятельности.
                  // </div>
              .wow.fadeInUp.animated.block4__link.block4__link_no-btn(style='visibility: visible; animation-name: fadeInUp;')
                .block4__link-inner.block4__link-inner_pseudoelmnt
                  // <div class="block4__content">
                  .block4__icon
                    img.block4__icon-img(src='/assets/templates/main/img/vladit-icons/icon-license.svg', alt='')
                  .block4__link-title
                    | Локальный партнер
                  .block4__link-content
                    | Вам нужно быть готовым к тому, что бизнес, связанный с недвижимостью в ОАЭ, предполагает обязательное наличие местного (локального) спонсора, который владеет не менее 51% акций в Вашей компании, а в особо контролируемых сферах – 100% акций.
                    br
                    br
                    |                                     Важно понимать, что такой местный спонсор является номинальным, не оказывает влияния на бизнес и не имеет отношения к управлению им.
                    br
                    br
                    |                                     Только единичные направления, связанные с консалтингом, обслуживанием (клининг, охрана объектов) и управлением (деятельность бизнес-центра), не требуют наличия местного партнера. Компании, оказывающие такого рода услуги, могут на 100% принадлежать зарубежному инвестору.
                  // </div>
              .wow.fadeInUp.animated.block4__link.block4__link_no-btn(style='visibility: visible; animation-name: fadeInUp;')
                .block4__link-inner.block4__link-inner_pseudoelmnt
                  // <div class="block4__content">
                  .block4__icon
                    img.block4__icon-img(src='/assets/templates/main/img/vladit-icons/icon-todolist.svg', alt='')
                  .block4__link-title
                    | Место регистрации
                  .block4__link-content
                    | Для ведения бизнеса в сфере сопровождения недвижимости возможно учреждение только местной (локальной) компании, поскольку только такие юридические лица имеют право свободно вести бизнес на внутреннем рынке ОАЭ.
                    br
                    br
                    |                                     Свободные экономические зоны страны не предусматривают возможность получения лицензии на ведение деятельности в сфере недвижимости за исключением отдельных консалтинговых направлений, инвестиций в недвижимость, создания порталов по продаже или аренде недвижимости и т.п.
                  // </div>
                  // Кнопка
                  .r30
                  .page-block.page-block--z2.pt-0.pb-0
                    .container
                      .btn.btn_space-between.btn_font-w500.btn_white.btn_center.wow.fadeInUp(onclick="toggleModal('form01');", style='visibility: visible; animation-name: fadeInUp;')
                        | Получить консультацию
                        svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
                          use(xlink:href='#btn__icon-modal')
                  .r30
                  // //Кнопка
                  // //Особенности
                  // Разделитель
                  .divider
                  // //Разделитель
                  // 5 основных требований государства для получения лицензии в сфере недвижимости
                  #scrollBlock4.page-block--white.page-block--z2.page-block
                    .container
                      .main
                        h2#stages.wow.fadeInUp 5 основных требований государства для получения лицензии в сфере недвижимости
                        .desc
                          | Государственные органы жёстко регулируют все направления деятельности, связанные с недвижимостью, что гарантирует отсутствие спекуляций и стабильность рынка. Поэтому любой предприниматель, который решил получить лицензию в данной отрасли, выполняет ряд требований
                      .block-line.block-line--line-right
                        .block-line__item.wow.fadeInUp(style='visibility: visible; animation-name: fadeInUp;')
                          .block-line__img
                            img(src='/assets/templates/main/img/vladit-icons/icon-bank-w.svg')
                          b Банковская гарантия
                          span
                            | Государством предусмотрено размещение банковской гарантии от 27 тысяч до 2,2 миллионов долларов США для отдельных видов деятельности. Для оформления девелоперской лицензии предусмотрено обязательное открытие эксроу-счета
                        .block-line__item.wow.fadeInUp(style='visibility: visible; animation-name: fadeInUp;')
                          .block-line__img
                            img(src='/assets/templates/main/img/vladit-icons/icon-ok-man-w.svg')
                          b Квалификация владельца
                          span
                            | Необходимо подтвердить наличие профильных знаний. В некоторых случаях на бизнесмена накладывается обязательство пройти обучающие курсы, организованные при Департаменте недвижимости
                        .block-line__item.wow.fadeInUp(style='visibility: visible; animation-name: fadeInUp;')
                          .block-line__img
                            img(src='/assets/templates/main/img/vladit-icons/new-tr-license/tr-lic-ic-1.svg')
                          b Квалификация менеджмента
                          span
                            | Необходимо подтвердить наличие профильных знаний у управляющего менеджмента компании, либо направить директоров на специальные курсы, организованные при Департаменте недвижимости
                      .block-line
                        .block-line__item.wow.fadeInUp(style='visibility: visible; animation-name: fadeInUp;')
                          .block-line__img
                            img(src='/assets/templates/main/img/vladit-icons/icon-official-w.svg', style='width:45px; ')
                          b Обучение сотрудников
                          span
                            | Лицензирование предусматривает обязательное прохождение сотрудниками компании, выполняющими отдельные функции, специальных обучающих курсов, организованных при Департаменте недвижимости
                        .block-line__item.wow.fadeInUp(style='visibility: visible; animation-name: fadeInUp;')
                          .block-line__img
                            img(src='/assets/templates/main/img/vladit-icons/new-save-icons/ic-sv-5.svg')
                          b Дополнительные согласования
                          span
                            | Кроме получения разрешений от основного надзорного органа в сфере недвижимости, для отдельных видов деятельности потребуется получение согласования в полиции, Департаменте туризма, Строительном департаменте и других органах власти
                    .r30
                  // //5 основных требований государства для получения лицензии в сфере недвижимости
                  // ФОРМА 1
                  .action-block
                    .container
                      .action-block__i.wow.fadeInUp
                        .action-block__text Получите индивидуальное предложение по лицензированию в сфере недвижимости
                        .action-block__btn(onclick="toggleModal('form01', this);update_url('/tourism-license/#1');")
                          | Связаться со специалистом
                  // //ФОРМА 1
                  // Почему SORP - Slider-2 с текстом
                  #why_sorp.page-block.page-block--z2
                    .container
                      h2#whySORPgroup Базовый потенциал SORP Group
                      p.desc.wow.fadeInUp
                        | When you connect to the SORP platform, you can receive the comprehensive support of our experts who will help you select the ideal project to meet your investment goals
                      #vslideouter.slider_02.text_slider
                        .text_slider__inner
                          .slide-elem.tslider-item-new.flex_column.second
                            .back
                            .tslider-item__number 15 лет на рынке ОАЭ
                            .tslider-item__text
                              | Статус эксперта позволяет нам взаимодействовать со всеми государственными ведомствами
                          .slide-elem.tslider-item-new.flex_column
                            .back
                            .tslider-item__number Штат экспертов
                            .tslider-item__text
                              | Юристов, налоговых консультантов, маркетологов и специалистов по развитию бизнеса.
                          .slide-elem.tslider-item-new.flex_column
                            .back
                            .tslider-item__number Собственный бизнес-центр
                            .tslider-item__text
                              | 5000 кв.м. офисных пространств и рабочих мест в коворкинге для регистрации компаний.
                          .slide-elem.tslider-item-new.flex_column
                            .back
                            .tslider-item__number Стратегические партнерства
                            .tslider-item__text Мы работаем с лучшими адвокатами и аудиторами ОАЭ и всего мира
                        .tns-controls
                          .button(onclick='slideup()')
                          .button(onclick='slidedown()')
                  // //Почему SORP
                  // Разделитель
                  .divider
                  // //Разделитель
                  // ФОРМА НИЗ
                  .sreg2.sreg2--white
                    .container
                      .sreg2__i
                        .sreg2__block
                          h2#scrollBlock6.min.wow.fadeInUp Лицензируйте бизнес в сфере недвижимости в ОАЭ
                          p.wow.fadeInUp
                            | Оставьте заявку и получите подробную консультацию по оформлению лицензии в ОАЭ в течение 20
                            | минут.
                            br
                            br
                            |                         Специалисты SORP Group помогут выбрать подходящие виды деятельности и определить оптимальныое
                            |                         место
                            |                         регистрации и тип юридического лица.
                            br
                            br
                            |                         Сделайте первый шаг на пути к созданию вашего туристического бизнеса в ОАЭ
                        .sopr-registration.wow.fadeInUp
                          p#reg Подобрать лицензию
                          #wpcf7-f273-o1.wpcf7(role='form', lang='ru-RU', dir='ltr')
                            .screen-reader-response
                            |                         {$_modx->getChunk('form4')}
                  // //ФОРМА НИЗ
  |     {/block}
  //- div {include 'footer'}


block scripts
  script(src="/dist/js/main.js")
