.title {
  color: #CC4052; font-size: 35px; line-height: 42px; font-weight: 900;

  &_black { color: #000; }
  &_dark { color: #2B2F3B; }
  &_gray { color: #abb1bf; }
  &_font-w-500 { font-weight: 500; }
  &_font-s38 { font-size: 27px; line-height: 40px; }

  &__color-dark { color: #2b2f3b; }
}

@media(min-width: screen-sm-min) {
  .title {
    font-size: 48px; line-height: 58px;

    &_font-s38 { font-size: 38px; line-height: 50px; }
  }
}