/*-------------------global.styl----------------------*/
@import '../base/global.styl';
/*-------------------swiper.styl----------------------*/
@import '../vendor/import/swiper.styl';
  /*-------------------first-screen.styl----------------------*/
@import '../../blocks/first-screen/first-screen.styl';
/*-------------------block-frames.styl----------------------*/
@import '../../blocks/block-frames/block-frames.styl';
/*-------------------feedback.styl----------------------*/
@import '../../blocks/Utilities/feedback-block/feedback.styl';
/*-------------------flex.styl----------------------*/
@import '../../blocks/Utilities/flex/flex.styl';
  /*-------------------width-height.styl----------------------*/
@import '../../blocks/Utilities/width-height/width-height.styl';

@import '../../blocks/block18/block18.styl';

/*-------------------block7.styl----------------------*/
@import '../../blocks/block7/block7.styl';
@import '../../blocks/block5/block5.styl';
@import '../../blocks/block14/block14.styl';
@import '../../blocks/decor/decor.styl';
@import '../../blocks/block-line/block-line.styl';
@import '../../blocks/gallery/gallery.styl';
/*-----------END STL----------*/
.block7_modal .block7__item:hover {
  background: #524DD2 url("../../img/pattern-hover-modal.png") no-repeat;
  background-position: 76% 20%;
  border-bottom: 5px solid #524DD2;
}
.block18__icon {
  margin-bottom :0;
}
.block18__item {
  padding: 0 10px;  
}
.container {
  position relative;  
}
.header-2, .block14 { 
  position relative;
}