@import '../base/global.styl';

@import '../vendor/import/swiper.styl';

@import '../../blocks/first-screen/first-screen.styl';
@import '../../blocks/block-frames/block-frames.styl';
@import '../../blocks/block7/block7.styl';
@import '../../blocks/Utilities/feedback-block/feedback.styl';
@import '../../blocks/Utilities/flex/flex.styl';
@import '../../blocks/Utilities/width-height/width-height.styl';

@import '../../blocks/block36/block36.styl';
@import '../../blocks/block1/block1.styl';
@import '../../blocks/plate12/plate12.styl';
@import '../../blocks/block18/block18.styl';
@import '../../blocks/block11/block11.styl';
@import '../../blocks/gallery/gallery.styl';