.bg {
  &_first-screen { background: #524dd2; }
  &_f9 { background: #F9F9F9; }
  &_fa { background: #fafafa; }
  &_red { background: #d64356; }
  &_gray-linear { background: linear-gradient(180deg, #F9F9F9 0%, rgba(255, 255, 255, 0) 100%); }
}