@import 'base/global.styl';

@import '../styles/vendor/import/owl.carousel.styl';
@import '../blocks/old-home-slider/old-home-slider.styl';
@import '../blocks/old-ss-slider/old-ss-slider.styl';
@import '../blocks/block21/block21.styl';
@import '../blocks/block22/block22.styl';
@import '../blocks/feedback-block/feedback-block.styl';
@import '../blocks/about-company/about-company.styl';
@import '../blocks/slider-number/slider-number.styl';
@import '../blocks/arrow/arrow.styl';