.slider-number {
  padding: 70px 0 140px; background-size: contain; background-position: center; background-repeat: no-repeat;

  &__box { position: relative; width: 530px; height: 250px; margin: auto; border: 17px solid #EBECEE; display: flex; align-items: center; justify-content: center; transition: .3s; }
  &__box:after, &__box:before { content: ''; position: absolute; top: 50%; left: -17px; width: 17px; height: 60px; transform: translateY(-50%); background: #fff; }
  &__box:before { right: -17px; left: auto; }
  &__box_animated { transform: scale(1.05); }
  &__box-logo { position: absolute; top: -50px; right: -160px; width: 201px; height: 135px; }

  &__carousel { margin-top: -150px; display: flex; }
  &__item { font-weight: 900; opacity: 0.35; transform: scale(0.7); display: flex; align-items: center; justify-content: center; transition: .3s; }
  &__number { color: #D64356; font-size: 55px; line-height: 64px; margin-right: 5px; }
  &__text { font-size: 14px; line-height: 16px; text-transform: uppercase; }

  & .center &__item { opacity: 1; transform: scale(1); }
  &__prev, &__next { position: absolute; }
  &__prev { right: 72px; bottom: -210px; }
  &__next { right: 0; bottom: -210px; }
}