.block36 {
    display: flex; justify-content: space-between;

    
    &__item {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    &__icon {
        width: 52px;
        height: 60px;        
    }

    &__content {    
        margin-left: 15px;
    }

    &__title {
        font-weight: 500;
        font-size: 23px;
        line-height: 46px;
    }

    &__description {
        font-size: 18px;
        font-weight: 300;
        color: #767676;
        line-height: 22px;
    }
}