.block21 {
  display: flex; flex-wrap: wrap;

  &__item { position: relative; width: 100%; margin: 10px; padding: 5px 15px; transition: .3s; }
  &__title { font-size: 23px; line-height: 30px; font-weight: bold; color: #2B2F3B; margin-bottom: 10px; }
  &__text { font-weight: 300; font-size: 16px; line-height: 24px; color: #8A919C; margin-bottom: 20px; }
  &__title, &__text { position: relative; z-index: 1; }
  &__icon-svg { margin-left: 0; }
  &__icon { position: absolute; top: -15px; right: 0; max-width: 125px; max-height: 125px; transition: .3s; }
  &__btn { width: 35px; padding: 5px; }
  &__icon-svg { margin-left: 0; }
}

@media (min-width: screen-xs-min) {
  .block21 {
    &__item { width: calc(50% - 30px); }
  }
}

@media (min-width: screen-sm-min) {
  .block21 {
    &__item { width: calc(33.33% - 30px); padding: 50px 20px 30px; }
  }
}

@media (min-width: screen-md-min) {
  .block21 {
    margin: -30px;

    &__btn { opacity: 0; }
    &__item:hover { z-index: 30; background: #fff; border: 1px solid #EBECEE; transform: scale(1.15); box-shadow: 0 30px 70px rgba(0, 0, 0, 0.1); }
    &__item:hover &__btn { opacity: 1; }
    &__item:hover &__icon  { top: 10px; right: 30px; }
  }
}