extends layouts/default
include helpers/mixins

block variables
  - const title = "Главная"

block content
  | {block 'content'}
  #home-slider-tmp.home-slider-tmp
    .container
      .row
        .col-md-6
          .home-slider-animation
            svg(height='0', width='0', x='0px', y='0px', viewBox='9 80 800 400')
              style(type='text/css').
                .st0 {
                  fill: #1D1D1D;
                  stroke: #000000;
                  stroke-miterlimit: 10;
                }

                .st1 {
                  fill: #CCCCCC;
                }
              path#check_mark(d='M44.55 118.3 61.18 103.21 90.77 132.79 152.41 71.15 168.63 86.93 90.91 164.65 44.55 118.3z')
              path#diagram(d='M70.2092684,148.280485 L70.2092684,103.250733 L93.5027824,103.250733 L93.5027824,148.280485 L97.9888016,148.280485 L97.9888016,85.881967 L119.81122,85.881967 L119.81122,148.280485 L124.562365,148.280485 L124.562365,57 L146,57 L146,152.945915 C96.6443382,153.018028 71.380761,153.018028 70.2092684,152.945915 C69.7050955,152.91488 70.2794816,152.618235 70.2092684,152.037836 C70.1473125,151.525695 70.1473125,150.273245 70.2092684,148.280485 Z')
              path#triangle(d='M84.81 78.95 84.81 143.52 141.93 111.24 141.93 111.24 84.81 78.95z')
              path#figur_L(d='M80.67 69.02 80.67 137.89 149.54 137.89 149.54 115.56 102.35 115.56 102.35 69.02 80.67 69.02z')
              path#figur_horiz(d='M218.92 98.9 106.59 98.9 106.6 123.58 218.91 123.58 218.92 98.9z')
              path#mountain(d='M10.02 133.74 70.02 133.74 109.02 82.74 148.02 133.74 208.02 133.74 208.02 109.74 160.52 109.74 109.02 43.74 57.52 109.74 10.02 109.74 10.02 133.74z')
              path#zigzag(d='M65.38 154.93 95.39 124.93 134.7 124.93 170.38 88.93 152.38 70.93 123.07 100.93 83.13 100.85 47.66 136.3 65.38 154.93z')
              circle#circle(cx='110', cy='110', r='35')
              rect#circle_center(width='112.5', height='24.5', rx='0', ry='0', x='50.5', y='99')
              path#frameUp_center(d='M1.91 0.24 1.91 73.24 23.91 73.24 23.91 24.24 193.91 24.24 193.91 73.24 217.91 73.24 217.91 0.24 9.91 0.24z')
              path#frameDown_center(d='M193.91 194.24 23.91 194.24 23.91 145.24 0.91 145.24 0.91 218.24 217.91 218.24 217.91 145.24 193.91 145.24 193.91 184.24z')
            style.
              #clips {
                transform: translateZ(0) !important;
              }

              #clips clipPath {
                transform: translateZ(0) scale(2, 2) !important;
              }
            svg#clips(viewBox='9 80 800 400', height='0', width='0')
              style(type='text/css').
                .st1 {
                  fill: #fff;
                }
              defs
                clippath#svgPath(transform='scale(2)')
                  path#frameUp(d='M9.91 10.24 9.91 73.24 33.91 73.24 33.91 34.24 183.91 34.24 183.91 73.24 207.91 73.24 207.91 10.24 9.91 10.24z')
                  path#animateSvg(d='M10.02 133.74 70.02 133.74 109.02 82.74 148.02 133.74 208.02 133.74 208.02 109.74 160.52 109.74 109.02 43.74 57.52 109.74 10.02 109.74 10.02 133.74z')
                  path#frameDown(d='M183.91 184.24 33.91 184.24 33.91 145.24 9.91 145.24 9.91 208.24 207.91 208.24 207.91 145.24 183.91 145.24 183.91 184.24z')
            .home-slider-animation__block
        .col-md-6
          .home-slider-tmp__carousel.owl-carousel(style='width: 98%;')
            .home-slider-tmp__item(data-anim-name='zigzag', data-dot='SORP Group')
              .home-slider-tmp__header
                | SORP
                span Group
              .home-slider-tmp__text
                | SORP GROUP - ведущая консалтинговая группа в Арабских Эмиратах, которая оказывает
                | предпринимателям всего мира уникальные услуги, опираясь на возможности законодательства ОАЭ
                | и 15 лет экспертизы в организации и развитии бизнеса
              a.home-slider-tmp__button(href='#', onclick="toggleModal('form01')") Узнать подробнее
            .home-slider-tmp__item(data-anim-name='check_mark', data-dot='Решения')
              .home-slider-tmp__header
                | Решения
                span SORP
              .home-slider-tmp__text
                | Понимая потребности клиентов, мы разработали уникальные решения, открывающие возможности для
                | международной деятельности, выхода на рынок ОАЭ, релокации бизнеса, инкорпорации юридических
                | лиц в ОАЭ, оптимизации налогов.
              a.home-slider-tmp__button(href='#solution') Ознакомиться с решениями
            .home-slider-tmp__item(data-anim-name='circle', data-dot='Наша миссия')
              .home-slider-tmp__header
                | Наша
                span миссия
              .home-slider-tmp__text
                | Мы заинтересованы в успехе наших клиентов и работаем на результат. Бизнес получает доступ к
                | услугам профессиональных управленцев, налоговых консультантов, бухгалтеров, юристов и PRO по
                | принципу аутсорсинга услуг.
              a.home-slider-tmp__button(onclick="toggleModal('form01')", href='#')
                | Заказать
                | консультацию
            .home-slider-tmp__item(data-anim-name='figur_L', data-dot='Вектор развития')
              .home-slider-tmp__header
                | Вектор
                span развития
              .home-slider-tmp__text
                | Являясь носителями колоссального опыта и практики, мы трансформировались в школу бизнеса,
                | бизнес-акселератор, площадку для обмена опытом и нетворкинга, центр бизнес-экспертизы и
                | методологии.
              a.home-slider-tmp__button(onclick="toggleModal('form01')", href='#')
                | Заказать
                | консультацию
            .home-slider-tmp__item(data-anim-name='figur_horiz', data-dot='Локация и активы')
              .home-slider-tmp__header
                | Локация
                span и активы
              .home-slider-tmp__text
                | SORP Group - не виртуальное пространство. Мы владеем бизнес-центром в престижном районе
                | Дубая площадью 5000 кв.м., в нашем штате 54 эксперта и мы обладаем большим инвестиционным
                | потенциалом.
              a.home-slider-tmp__button(href='#', onclick="toggleModal('form01')")
                | Заказать обратный
                | звонок
            .home-slider-tmp__item(data-anim-name='mountain', data-dot='Платформа SORP')
              .home-slider-tmp__header
                | Платформа
                span SORP
              .home-slider-tmp__text
                | SORP Group создала уникальную платформу для бизнеса на базе значимых подразделений Группы,
                | прошедших лицензирование и имеющих аккредитацию и поддержку ряда международных и локальных
                | ведомств.
              a.home-slider-tmp__button(href='#platform') Перейти в раздел
            .home-slider-tmp__item(data-anim-name='diagram', data-dot='Статус платформы')
              .home-slider-tmp__header
                | Статус
                span платформы
              .home-slider-tmp__text
                | Бизнес-платформа признана международными и локальными ведомствами, является официальным
                | партнером Дубайского Экономического Департамента и 45 свободно-экономических зон ОАЭ.
              a.home-slider-tmp__button(href='#', onclick="toggleModal('form01')")
                | Заказать
                | консультацию
    #top-slider-buttons
      a(onclick="toggleModal('form01')") Отправить заявку
      a(onclick='toggleMenu()') Решения и возможности
  .ss-slider
    .container
      .owl-carousel
        .ss-slider-item
          .ss-slider-top_section
            .ss-slider-item__logo
              img(src='/assets/templates/main/img/mobile_slider/3.svg')
            .ss-slider-item__header
              | SORP
              span Group
          .ss-slider-item__text
            | SORP Group - ведущая консалтинговая Группа в Арабских Эмиратах, которая с опорой на возможности
            | законодательства ОАЭ и 15 лет экспертизы в организации и развитии бизнеса оказывает предпринимателям
            | всего мира уникальные услуги.
          a.ss-slider-item__button(href='#', onclick="toggleModal('form01')") Узнать подробнее
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/4.svg')
          .ss-slider-item__header
            | Решения
            span SORP
          .ss-slider-item__text
            | Понимая потребности клиентов, мы разработали уникальные решения, открывающие возможности для
            | международной деятельности, выхода на рынок ОАЭ, релокации бизнеса, инкорпорации юридических лиц в
            | ОАЭ, оптимизации налогов.
          a.ss-slider-item__button(href='#solution') Ознакомиться с решениями
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/1.svg')
          .ss-slider-item__header
            | Наша
            span миссия
          .ss-slider-item__text
            | Мы заинтересованы в успехе наших клиентов и работаем на результат. Бизнес получает доступ к услугам
            | профессиональных управленцев, налоговых консультантов, бухгалтеров, юристов и PRO по принципу
            | аутсорсинга услуг.
          a.ss-slider-item__button(href='#', onclick="toggleModal('form01')") Заказать консультацию
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/5.svg')
          .ss-slider-item__header
            | Вектор
            span развития
          .ss-slider-item__text
            | Являясь носителями колоссального опыта и практики, мы трансформировались в школу бизнеса,
            | бизнес-акселератор, площадку для обмена опытом и нетворкинга, центр бизнес-экспертизы и методологии.
          a.ss-slider-item__button(href='#', onclick="toggleModal('form01')") Заказать консультацию
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/6.svg')
          .ss-slider-item__header
            | Локация
            span и активы
          .ss-slider-item__text
            | SORP Group - не виртуальное пространство. Мы владеем бизнес-центром в престижном районе Дубая
            | площадью 5000 кв.м., в нашем штате 54 эксперта и мы обладаем большим инвестиционным потенциалом.
          a.ss-slider-item__button(href='#', onclick="toggleModal('form01')") Заказать обратный звонок
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/2.svg')
          .ss-slider-item__header
            | Платформа
            span SORP
          .ss-slider-item__text
            | SORP Group создала уникальную платформу для бизнеса на базе значимых подразделений Группы, прошедших
            | лицензирование и имеющих аккредитацию и поддержку ряда международных и локальных ведомств.
          a.ss-slider-item__button(href='#platforma') Перейти в раздел
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/7.svg')
          .ss-slider-item__header
            | Статус
            span платформы
          .ss-slider-item__text
            | Бизнес-платформа признана международными и локальными ведомствами, является официальным партнером
            | Дубайского Экономического Департамента и 45 свободно-экономических зон ОАЭ.
          a.ss-slider-item__button(href='#', onclick="toggleModal('form01')") Заказать консультацию
  #stat.tslider-w
    .container
      h2.mobile-h2.dark.wow.fadeInUp(id='') SORP сегодня
      .tslider
        .tslider__border3
        .tslider__border
        .tslider__border2
        h2.dark.wow.fadeInUp(id='') SORP сегодня
        .tslider__image
        .owl-carousel
          .tslider-item
            .tslider-item__number.counterAnimate
              | 54
            .tslider-item__text.wow.fadeInUp
              | эксперта
              br
              | в офисе
          .tslider-item
            .tslider-item__number.counterAnimate
              | 4657
            .tslider-item__text
              | проведенных консультаций
          .tslider-item
            .tslider-item__number.counterAnimate
              | 7
            .tslider-item__text
              | юридических
              br
              | лиц
          .tslider-item
            .tslider-item__number
              | 94%
            .tslider-item__text
              | CSI индекс удовлетворенности потребителей
          .tslider-item
            .tslider-item__number
              | 15
            .tslider-item__text
              | лет опыта
              br
              | в ОАЭ
          .tslider-item
            .tslider-item__number
              | 1589
            .tslider-item__text
              | зарегистрированных юр лиц
          .tslider-item
            .tslider-item__number
              | 10
            .tslider-item__text
              | государственных
              br
              |  аккредитаций
          .tslider-item
            .tslider-item__number
              | 4000
            .tslider-item__text
              | + гостей посетили бизнес-центр в прошлом году
          .tslider-item
            .tslider-item__number
              | 5000
            .tslider-item__text
              | м2
              br
              |  офисных
              br
              |  пространств
          .tslider-item
            .tslider-item__number
              | 503
            .tslider-item__text
              | компаний
              br
              |  в управлении
          .tslider-item
            .tslider-item__number
              | 725
            .tslider-item__text
              | проведенных
              br
              |  экспертиз
          .tslider-item
            .tslider-item__number
              | 9 NPS
            .tslider-item__text
              | индекс
              br
              | лояльности
              br
              |  потребителя
  br
  br
  #opportunities
  .page-block.page-block--z2.page-block--white.sorp_opportunities
    .container.container--w
      h2.red.wow.fadeInUp
        | Решения
        span SORP Group
        |  открывают
        br
        |             возможности и перспективы:
      .clpa-list
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Выйти на рынок и вести бизнес в ОАЭ
          .clpa-block__text
            | От адаптации бизнес-стратегии до запуска локального проекта “под ключ”
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Релокация бизнеса в ОАЭ и иммиграция
          .clpa-block__text
            | Комплексные решения по иммиграции бизнеса и физических лиц
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Инкорпорация юридических лиц в ОАЭ
          .clpa-block__text
            | Ведение бизнеса без налогов и границ, выгодно и свободно
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Вести международную деятельность
          .clpa-block__text
            | Престиж, стабильность и свободное движение капитала без налогов
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Оптимизировать налоговое бремя
          .clpa-block__text
            | Эффективные инструменты международного налогового планирования
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Усовершенствовать торговлю и логистику
          .clpa-block__text
            | Импорт, экспорт, реэкспорт, трансфертное ценообразование и логистические решения
  // 55 решений - моб.
  #solution
  .container
    .big-header.wow.fadeInUp
      | SORP - это
      b.counterAnimate 55
      |  решений для вашего бизнеса на территории ОАЭ и всего мира
    #m-sitemap.m-sitemap
      .m-sitemap__content.m-sitemap--general.m-sitemap--open
        .m-sitemap__list
          .m-sitemap__item(onclick="openMobileSitemap('01')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/4.png', width='38', alt='')
            span
              | СОЗДАНИЕ
              br
              | БИЗНЕСА В ОАЭ
          .m-sitemap__item(onclick="openMobileSitemap('03')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/2.png', width='38', alt='')
            span
              | БИЗНЕС
              br
              | ПОД ФЛАГОМ ОАЭ
          .m-sitemap__item(onclick="openMobileSitemap('02')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/5.png', width='38', alt='')
            span
              | РЕГИСТРАЦИЯ
              br
              | БИЗНЕСА В ОАЭ
          .m-sitemap__item(onclick="openMobileSitemap('04')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/6.png', width='38', alt='')
            span
              | ПОДДЕРЖКА
              br
              | БИЗНЕСА В ОАЭ
          .m-sitemap__item(onclick="openMobileSitemap('05')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/3.png', width='58px', alt='')
            span
              | БИЗНЕС-ЦЕНТР
              br
              | В ДУБАЕ
          .m-sitemap__item(onclick="openMobileSitemap('06')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/1.png', width='38px', alt='')
            span
              | ЛИЦЕНЗИРОВАНИЕ
              br
              | БИЗНЕСА
      // СОЗДАНИЕ БИЗНЕСА В ОАЭ
      .m-sitemap__content.m-sitemap--el01
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='biznes-v-oae')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon1.png', width='38px', style='width:38px!important', alt='')
              span Какой бизнес открыть в ОАЭ
            a.m-sitemap__item(href='uae-business-setup')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon2.png', width='25', style='width:38px!important', alt='')
              span Как начать бизнес в ОАЭ
            a.m-sitemap__item(href='uae-market')
              img.lazy(data-src='/assets/templates/main/img/icon-007_w.png', width='25', style='width:38px!important', alt='')
              span Как выйти на рынок ОАЭ
            a.m-sitemap__item(href='investment')
              img.lazy(data-src='/assets/templates/main/img/i15_w.png', width='25', style='width:38px!important', alt='')
              span Как инвестировать в ОАЭ
          .m-sitemap__list
            a.m-sitemap__item(href='license')
              img.lazy(data-src='/assets/templates/main/img/icon026_w.png', width='25', style='width:38px!important', alt='')
              span Как лицензировать бизнес в ОАЭ
            a.m-sitemap__item(href='buy-business')
              img(src='/assets/templates/main/img/w20.svg', width='25', style='width:32px!important', alt='')
              span Как купить бизнес в ОАЭ
            a.m-sitemap__item(href='business-services')
              img(src='/assets/tabs/config-01.svg', width='25', style='width:38px!important', alt='')
              span Как организовать бизнес в сфере услуг и сервиса
            a.m-sitemap__item(href='manufacturing')
              img(src='/assets/tabs/i23.svg', width='25', style='width:38px!important', alt='')
              span Как открыть производство
          .m-sitemap__list
            a.m-sitemap__item(href='trade-hub')
              img(src='/assets/templates/main/img/i35_w.svg', width='25', style='width:38px!important', alt='')
              span Как начать торговлю в ОАЭ
            a.m-sitemap__item(href='import-trade')
              img.lazy(data-src='/assets/templates/main/img/i24_w.png', width='25', style='width:38px!important', alt='')
              span Как импортировать в ОАЭ
            a.m-sitemap__item(href='product-certification')
              img(src='/assets/tabs/i21.svg', width='25', style='width:32px!important', alt='')
              span Как сертифицировать продукцию
      // //СОЗДАНИЕ БИЗНЕСА В ОАЭ
      // БИЗНЕС ПОД ФЛАГОМ ОАЭ
      .m-sitemap__content.m-sitemap--el03
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='trading-opportunities')
              img.lazy(data-src='/assets/templates/main/img/f02_w.png', width='25', style='width:38px!important', alt='')
              span Международная торговля из ОАЭ
            a.m-sitemap__item(href='investment')
              img.lazy(data-src='/assets/tabs/w10.svg', width='25', style='width:38px!important', alt='')
              span Инвестиции под флагом ОАЭ
            a.m-sitemap__item(href='export-trading')
              img(src='/assets/templates/main/img/i25_w.svg', width='25', style='width:38px!important', alt='')
              span Как вести экспорт и реэкспорт из ОАЭ
            a.m-sitemap__item(href='tax-adviser')
              img.lazy(data-src='/assets/tabs/lic5.svg', width='25', style='width:38px!important', alt='')
              span Инструменты Международного налогового планирования
          .m-sitemap__list
            a.m-sitemap__item(href='tax-residency-in-uae')
              img.lazy(data-src='/assets/templates/main/img/icon-006_w.png', width='25', style='width:38px!important', alt='')
              span Статус налогового резидента ОАЭ
            a.m-sitemap__item(href='consolidation')
              img.lazy(data-src='/assets/templates/main/img/i15_w.png', width='25', style='width:38px!important', alt='')
              span Консолидация бизнеса и активов
            a.m-sitemap__item(href='kyc')
              img.lazy(data-src='/assets/templates/main/img/icon-002_w.png', width='25', style='width:38px!important', alt='')
              span Сохранность банковской тайны
            a.m-sitemap__item(href='holding-company-in-uae')
              img.lazy(data-src='/assets/templates/main/img/i32_w.png', width='25', style='width:38px!important', alt='')
              span Построение холдингов и структур
          .m-sitemap__list
            a.m-sitemap__item(href='[[~60]]')
              img.lazy(data-src='/assets/tabs/event-list-icon.svg', width='25', style='width:38px!important', alt='')
              span Подтверждение центра управления и контроля и Economic substance
            a.m-sitemap__item(href='international-business')
              img.lazy(data-src='/assets/tabs/i07.svg', width='25', style='width:38px!important', alt='')
              span Оптимизация международного бизнеса из ОАЭ
      // //БИЗНЕС ПОД ФЛАГОМ ОАЭ
      // РЕГИСТРАЦИЯ БИЗНЕСА В ОАЭ
      .m-sitemap__content.m-sitemap--el02
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='registratsiya-kompanii')
              img.lazy(data-src='/assets/templates/main/img/f06_w.png', width='25', style='width:38px!important', alt='')
              span Инкорпорация компаний в ОАЭ
            a.m-sitemap__item(href='local-company-in-uae')
              img(src='/assets/templates/main/img/i43_w.svg', width='25', style='width:38px!important', alt='')
              span Регистрация локальных компаний
            a.m-sitemap__item(href='freezone-company-in-uae')
              img.lazy(data-src='/assets/templates/main/img/i13_w.png', width='25', style='width:38px!important', alt='')
              span Регистрация фризон компаний
            a.m-sitemap__item(href='buy-company')
              img.lazy(data-src='/assets/templates/main/img/icon025_w.png', width='25', style='width:38px!important', alt='')
              span Продажа и покупка юридических лиц
          .m-sitemap__list
            a.m-sitemap__item(href='uae-offshore')
              img.lazy(data-src='/assets/tabs/w23.svg', width='25', style='width:38px!important', alt='')
              span Регистрация оффшорных компаний
            a.m-sitemap__item(href='holding-company-in-uae')
              img.lazy(data-src='/assets/templates/main/img/i32_w.png', width='25', style='width:38px!important', alt='')
              span Построение холдингов и структур
            a.m-sitemap__item(href='trust')
              img.lazy(data-src='/assets/templates/main/img/i14_w.png', width='25', style='width:38px!important', alt='')
              span Создание Арабского траста
            a.m-sitemap__item(href='bank-account')
              img.lazy(data-src='/assets/templates/main/img/i01_w.png', width='25', style='width:38px!important', alt='')
              span Открытие банковских счетов в ОАЭ
          .m-sitemap__list
            a.m-sitemap__item(href='business-management')
              img.lazy(data-src='/assets/templates/main/img/cc6_w.png', width='25', style='width:38px!important', alt='')
              span Номинальный сервис и управление бизнесом
            a.m-sitemap__item(href='tax-adviser')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon1.png', width='25', style='width:38px!important', alt='')
              span Инструменты Международного налогового планирования
      // //РЕГИСТРАЦИЯ БИЗНЕСА В ОАЭ
      // ПОДДЕРЖКА БИЗНЕСА В ОАЭ
      .m-sitemap__content.m-sitemap--el04
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='business-support')
              img.lazy(data-src='/assets/tabs/why-sopr4.svg', width='25', style='width:38px!important', alt='')
              span Сопровождение бизнеса
            a.m-sitemap__item(href='legal-support')
              img.lazy(data-src='/assets/tabs/lic2.svg', width='25', style='width:38px!important', alt='')
              span Правовая поддержка бизнеса
            a.m-sitemap__item(href='bank-account')
              img.lazy(data-src='/assets/templates/main/img/i01_w.png', width='25', style='width:38px!important', alt='')
              span Поддержка банковского обслуживания
            a.m-sitemap__item(href='license-renewal')
              img.lazy(data-src='/assets/templates/main/img/config-02_w.png', width='25', style='width:38px!important', alt='')
              span Сопровождение в продлении лицензий
          .m-sitemap__list
            a.m-sitemap__item(href='trade-and-logistic')
              img(src='/assets/templates/main/img/i45_w.svg', width='38', style='width:58px!important', alt='')
              span Решения по торговле и логистике
            a.m-sitemap__item(href='taxes-and-accounting')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon5.png', width='25', style='width:34px!important', alt='')
              span Налоги и бухгалтерия в ОАЭ
            a.m-sitemap__item(href='business-management')
              img.lazy(data-src='/assets/templates/main/img/cc6_w.png', width='25', style='width:38px!important', alt='')
              span Решения по управлению бизнесом и номинальному сервису
            a.m-sitemap__item(href='documents-legalization')
              img.lazy(data-src='/assets/templates/main/img/f06_w.png', width='25', style='width:35px!important', alt='')
              span Легализация документов в ОАЭ
          .m-sitemap__list
            a.m-sitemap__item(href='immigration-services')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon1.png', width='25', style='width:38px!important', alt='')
              span Иммиграция и релокация бизнеса
            a.m-sitemap__item(href='business-center')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='25', style='width:38px!important', alt='')
              span Размещение бизнеса в ОАЭ
      // //ПОДДЕРЖКА БИЗНЕСА В ОАЭ
      // БИЗНЕС-ЦЕНТР В ДУБАЕ
      .m-sitemap__content.m-sitemap--el05
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='office-rent-dubai')
              img.lazy(data-src='/assets/templates/main/img/vv4_w.png', width='25', style='width:38px!important', alt='')
              span Офисы для размещения бизнеса
            a.m-sitemap__item(href='coworking-dubai')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon4.png', width='25', style='width:28px!important', alt='')
              span Аренда рабочих мест в коворкинге
            a.m-sitemap__item(href='sustainability-office-dubai')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon5.png', width='25', style='width:34px!important', alt='')
              span Аренда Sustainability Spaces
            a.m-sitemap__item(href='virtual-office-dubai')
              img.lazy(data-src='/assets/templates/main/img/v4_w.png', width='25', style='width:38px!important', alt='')
              span Виртуальный (удалённый) офис
          .m-sitemap__list
            a.m-sitemap__item(href='meeting-room-dubai')
              img.lazy(data-src='/assets/tabs/w18.svg', width='25', style='width:52px!important', alt='')
              span Аренда переговорных и конференц-зала
            a.m-sitemap__item(href='meeting-room-dubai')
              img.lazy(data-src='/assets/tabs/w27.svg', width='25', style='width:38px!important', alt='')
              span Аудитории для тренингов и обучения
            a.m-sitemap__item(href='business-support')
              img.lazy(data-src='/assets/templates/main/img/vv4_w.png', width='25', style='width:38px!important', alt='')
              span Поддержка бизнеса
            a.m-sitemap__item(href='[[~60]]')
              img.lazy(data-src='/assets/templates/main/img/why_sopr3_w.png', width='25', style='width:38px!important', alt='')
              span Центр управления и Economic Substance
      // //БИЗНЕС-ЦЕНТР В ДУБАЕ
      // ЛИЦЕНЗИРОВАНИЕ БИЗНЕСА
      .m-sitemap__content.m-sitemap--el06
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='trading-license')
              img(src='/img/i11_white.svg', width='15', style='width:51px!important', alt='')
              span Лицензирование торгового бизнеса в ОАЭ
            a.m-sitemap__item(href='professional-license')
              img.lazy(data-src='/assets/templates/main/img/p23_w.png', width='25', style='width:38px!important', alt='')
              span Лицензирование профессиональной деятельности в ОАЭ
            a.m-sitemap__item(href='construction-license')
              img.lazy(data-src='/assets/templates/main/img/p23_w.png', width='25', style='width:38px!important', alt='')
              span Лицензирование строительного бизнеса в ОАЭ
            a.m-sitemap__item(href='international-license')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='25', style='width:38px!important', alt='')
              span Получение особых лицензий
          .m-sitemap__list
            a.m-sitemap__item(href='tourism-license')
              img.lazy(data-src='/assets/templates/main/img/i23_w.png', width='25', style='width:38px!important', alt='')
              span Лицензирование туристического бизнеса
            a.m-sitemap__item(href='educational-license')
              img.lazy(data-src='/assets/templates/main/img/pw4.png', width='25', style='width:38px!important', alt='')
              span Лицензирование в сфере образования
            a.m-sitemap__item(href='real-estate-license')
              img.lazy(data-src='/assets/templates/main/img/certificate.svg', width='25', style='width:38px!important', alt='')
              span Лицензирование в сфере недвижимости
            a.m-sitemap__item(href='investment-license')
              img.lazy(data-src='/img/w30.svg', width='25', style='width:44px!important', alt='')
              span Лицензирование инвестиционной деятельности
          .license-engineering
            a.m-sitemap__item(href='inzhiniringovaya')
              img.lazy(data-src='/img/w24.svg', width='25', style='width:43px!important', alt='')
              span Лицензирование инженерной и инжиниринговой деятельности
      // //ЛИЦЕНЗИРОВАНИЕ БИЗНЕСА
  // //55 решений - моб.
  // 55 решений - десктоп
  #napravleniya
  #home-sitemap.subpage
    #home-sitemap-bookmarks
      .home-sitemap-bookmark
        span Создание бизнеса в ОАЭ
      .home-sitemap-bookmark
        span Бизнес под флагом ОАЭ
      .home-sitemap-bookmark.active
        span Регистрация бизнеса в ОАЭ
      .home-sitemap-bookmark
        span Поддержка бизнеса в ОАЭ
      .home-sitemap-bookmark
        span Бизнес-центр в Дубае
      .home-sitemap-bookmark
        span Лицензирование бизнеса
    #home-sitemap-items
      // Создание бизнеса в ОАЭ
      .home-sitemap-items
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='biznes-v-oae/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon1.png', width='48', alt='')
            span Какой бизнес открыть в ОАЭ
          a(href='uae-business-setup/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon2.png', width='46', alt='')
            span Как начать бизнес в ОАЭ
          a(href='uae-market/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/icon-007_w.png', width='40', alt='')
            span Как выйти на рынок ОАЭ
          br
          a(href='investment/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i15_w.png', width='42', alt='')
            span Как инвестировать в ОАЭ
          a(href='license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/icon026_w.png', width='48', alt='')
            span Как лицензировать бизнес в ОАЭ
          a(href='buy-business/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/templates/main/img/w20.svg', width='37', alt='')
            span Как купить бизнес в ОАЭ
          a(href='business-services/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/tabs/config-01.svg', width='42', alt='')
            span Как организовать бизнес в сфере услуг и сервиса
          a(href='manufacturing/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/tabs/i23.svg', width='42', alt='')
            span Как открыть производство в ОАЭ
          a(href='trade-hub/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/templates/main/img/i35_w.svg', width='40', alt='')
            span Как начать торговлю в ОАЭ
          a(href='import-trade/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i24_w.png', width='46', alt='')
            span Как импортировать в ОАЭ
          a(href='product-certification/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/tabs/i21.svg', width='45', alt='')
            span Как сертифицировать продукцию в ОАЭ
          //
            a href="international-business">
            <div class="home-sitemap-item-redbg"></div>
            <img data-src="/assets/templates/main/img/d/sitemap_icon3.png" class="lazy" width="42" alt="">
            <span>Международная деятельность из ОАЭ</span>
            </a
      // //Создание бизнеса в ОАЭ
      // Бизнес под флагом ОАЭ
      .home-sitemap-items
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='trading-opportunities/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/f02_w.png', width='48', alt='')
            span Международная торговля из ОАЭ
          a(href='investment/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/w10.svg', width='42', alt='')
            span Инвестиции под флагом ОАЭ
          br
          a(href='export-trading/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/templates/main/img/i25_w.svg', width='42', alt='')
            span Как вести экспорт и реэкспорт из ОАЭ
          a(href='tax-adviser/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='48', alt='')
            span Инструменты Международного налогового планирования
          a(href='tax-residency-in-uae/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/icon-006_w.png', width='41', alt='')
            span Статус налогового резидента ОАЭ
          a(href='consolidation/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i15_w.png', width='51', alt='')
            span Консолидация бизнеса и активов
          br
          a(href='kyc/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/icon-002_w.png', width='44', alt='')
            span Сохранность банковской тайны
          a(href='holding-company-in-uae/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i32_w.png', width='52', alt='')
            span Построение холдингов и структур
          a(href='[[~60]]', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/event-list-icon.svg', width='42', alt='')
            span Подтверждение центра управления и контроля и Economic substance
          a(href='international-business/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/i07.svg', width='42', alt='')
            span Оптимизация международного бизнеса из ОАЭ
      // //Бизнес под флагом ОАЭ
      // Регистрация бизнеса в ОАЭ
      .home-sitemap-items.active
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='registratsiya-kompanii/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/f06_w.png', width='38', alt='')
            span Инкорпорация компаний в ОАЭ
          a(href='local-company-in-uae/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/templates/main/img/i43_w.svg', width='40', alt='')
            span Регистрация локальных компаний
          a(href='freezone-company-in-uae/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i13_w.png', width='42', alt='')
            span Регистрация фризон компаний
          br
          a(href='buy-company/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/icon025_w.png', width='38', alt='')
            span Продажа и покупка юридических лиц
          a(href='uae-offshore/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/w23.svg', width='50', alt='')
            span Регистрация оффшорных компаний
          a(href='holding-company-in-uae/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i32_w.png', width='52', alt='')
            span Построение холдингов и структур
          br
          a(href='trust/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i14_w.png', width='52', alt='')
            span Создание арабского траста
          a(href='bank-account/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i01_w.png', width='42', alt='')
            span Открытие банковских счетов в ОАЭ
          a(href='business-management/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/cc6_w.png', width='46', alt='')
            span Номинальный сервис и управление бизнесом
          a(href='tax-adviser/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/lic5.svg', width='48', alt='')
            span Инструменты Международного налогового планирования
      // //Регистрация бизнеса в ОАЭ
      // Поддержка бизнеса в ОАЭ
      .home-sitemap-items
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='business-support/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/why-sopr4.svg', width='42', alt='')
            span Сопровождение бизнеса
          a(href='legal-support/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/lic2.svg', width='42', alt='')
            span Правовая поддержка бизнеса
          a(href='bank-account/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i01_w.png', width='42', alt='')
            span Поддержка банковского обслуживания
          br
          a(href='license-renewal/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/config-02_w.png', width='42', alt='')
            span Сопровождение в продлении лицензий
          a(href='trade-and-logistic/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/templates/main/img/i45_w.svg', width='52', alt='')
            span Решения по торговле и логистике
          a(href='taxes-and-accounting/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon5.png', width='30', alt='')
            span Налоги и бухгалтерия в ОАЭ
          br
          a(href='business-management/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/cc6_w.png', width='46', alt='')
            span Решения по управлению бизнесом и номинальному сервису
          a(href='documents-legalization/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/f06_w.png', width='38', alt='')
            span Легализация документов в ОАЭ
          a(href='immigration-services/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon1.png', width='48', alt='')
            span Иммиграция и релокация бизнеса в ОАЭ
          a(href='business-center/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='48', alt='')
            span Размещение бизнеса в ОАЭ
      // //Поддержка бизнеса в ОАЭ
      // Бизнес-центр в Дубае
      .home-sitemap-items
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='office-rent-dubai/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/vv4_w.png', width='46', alt='')
            span Офисы для размещения бизнеса
          br
          a(href='coworking-dubai/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon4.png', width='30', alt='')
            span Аренда рабочих мест в коворкинге
          a(href='sustainability-office-dubai/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon5.png', width='30', alt='')
            span Аренда SUSTAINABILITY SPACES
          a(href='virtual-office-dubai/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/v4_w.png', width='52', alt='')
            span Виртуальный (удалённый) офис
          br
          a(href='meeting-room-dubai/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/w18.svg', width='52', alt='')
            span Аренда переговорных и конференц-зала
          a(href='conference-room/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/w27.svg', width='42', alt='')
            span Аудитории для тренингов и обучения
          a(href='business-support/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='42', alt='')
            span Консалтинговая поддержка арендаторам
          a(href='[[~60]]', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/why_sopr3_w.png', width='42', alt='')
            span Подтверждение центра управления и контроля и Economic substance
          //
            a href="business-school">
            <div class="home-sitemap-item-redbg"></div>
            <img data-src="/assets/templates/main/img/pw01.png" class="lazy" width="44" alt="">
            <span>Бизнес-школа</span>
            </a
      // //Бизнес-центр в Дубае
      // Лицензирование бизнеса
      .home-sitemap-items
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='trading-license/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/img/i11_white.svg', width='50', alt='')
            span Лицензирование торгового бизнеса в ОАЭ
          a(href='professional-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/p23_w.png', width='42', alt='')
            span Лицензирование профессиональной деятельности в ОАЭ
          br
          a(href='construction-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/p01_w.png', width='42', alt='')
            span Лицензирование строительного бизнеса в ОАЭ
          a(href='international-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='42', alt='')
            span Получение особых лицензий
          a(href='tourism-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i23_w.png', width='42', alt='')
            span Лицензирование туристического бизнеса
          br
          a(href='educational-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/pw4.png', width='42', alt='')
            span Лицензирование в сфере образования
          a(href='real-estate-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/certificate.svg', width='42', alt='')
            span Лицензирование в сфере недвижимости
          a(href='investment-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/img/w30.svg', width='51', alt='')
            span Лицензирование инвестиционной деятельности
          a(href='inzhiniringovaya/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/img/w24.svg', width='45', alt='')
            span Лицензирование инженерной и инжиниринговой деятельности
      // //Лицензирование бизнеса
    div
  // 55 решений - десктоп
  #platform
  // Платформа SORP
  .page-block.page-block--z2.page-block--white.sorp_platform
    .container.container--w
      h2.red.wow.fadeInUp
        | Платформа
        span SORP
      b.wow.fadeInUp.desc(style='visibility: visible; animation-name: fadeInUp;')
        | SORP Group создал уникальную
        | платформу для решения задач, возникающих в процессе организации и развития бизнеса. Платформа стала базой
        | для роста тысячи международных и локальных проектов.
      .lpb-list.lpb-list--desktop
        a.lpb-block.wow.fadeInUp(href='business-center')
          .lpb-block__name Бизнес центр
          .lpb-block__text
            p
              br
              | Офисы и рабочие места в аренду
            p Переговорные комнаты и конференц-залы
            |                     Консалтинговая и юридическая поддержка
        a.lpb-block.wow.fadeInUp(href='business-school')
          .lpb-block__name
            | Бизнес
            br
            |  школа
          .lpb-block__text
            p Бизнес-образование от практиков бизнеса
            p Государственное академическое признание и выдача дипломов
        .lpb-block.lpb-block--gray.wow.fadeInUp
          .lpb-block__name
            | Doing
            br
            |  Business
            br
            |  in Dubai
          .lpb-block__text
            p Уникальный обучающий опыт и нетворкинг
        a.lpb-block.wow.fadeInUp(href='uae-market')
          .lpb-block__name
            | Центр экспертиз
            br
            |  и методологий
          .lpb-block__text
            p Проверка гипотез и адаптация бизнес-стратегии
            p Анализ рынка и конкурентов
            p Лицензирование, выход на рынок
        .lpb-block.lpb-block--gray.wow.fadeInUp
          .lpb-block__name
            | Мульти-
            br
            | функциональный центр
          .lpb-block__content
            .lpb-block__text
              p
                | Комплексная налоговая, бухгалтерская, правовая и консалтинговая поддержка арендаторов SORP
                | Бизнес-центра
        .lpb-block.lpb-block--gray.wow.fadeInUp
          .lpb-block__name Бизнес-акселератор
          .lpb-block__text
            p Стартовая площадка для бизнеса
            p Экономия на развитии проекта до 70% при утверждении инвест плана
      .lpb-list.lpb-list--mobile
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('01')")
          .lpb-block__name Бизнес центр
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('02')")
          .lpb-block__name
            | Бизнес
            br
            |  университет
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('03')")
          .lpb-block__name
            | Doing
            br
            |  Business
            br
            |  in Dubai
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('04')")
          .lpb-block__name
            | Бизнес
            br
            |  экспертиза
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('05')")
          .lpb-block__name
            | Мульти-
            br
            | функциональный центр
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('06')")
          .lpb-block__name
            | Бизнес-акселератор
        .lpb-block-info.lpb-block-info--01
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Бизнес центр
          .lpb-block__text
            div
              br
              | Офисы и рабочие места в аренду
            div Переговорные комнаты и конференц-залы
            |                     Консалтинговая и юридическая поддержка
          br
          .lpb-block__link
            a(href='business-center') Смотреть
        .lpb-block-info.lpb-block-info--02
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Бизнес
            br
            |  университет
          .lpb-block__text
            div
              | Бизнес-образование от практиков бизнеса
            small
              | Государственное академическое
              | признание и выдача дипломов
          br
          .lpb-block__link
            a(href='business-school') Смотреть
        .lpb-block-info.lpb-block-info--03
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Doing
            br
            |  Business
            br
            |  in Dubai
          .lpb-block__text
            small
              | Уникальный обучающий
              | опыт и нетворкинг
        .lpb-block-info.lpb-block-info--04
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Бизнес
            br
            |  экспертиза
          .lpb-block__text
            small
              div
                | Проверка гипотез
                | и адаптация бизнес-стратегии
              |                         Анализ рынка и конкурентов
              |                         Лицензирование, выход на рынок
          br
          .lpb-block__link
            a(href='uae-market') Смотреть
        .lpb-block-info.lpb-block-info--05
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Мультифункциональный центр
          .lpb-block__content
            .lpb-block__text
              div
                | Аутсорсинг всех необходимых бизнес-процессов:
              small
                | От операционной деятельности
                | до решения стратегических задач
            .lpb-block__text
              | 54 эксперта
              br
              |  в штате
        .lpb-block-info.lpb-block-info--06
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Бизнес-акселератор
          .lpb-block__text
            div
              | Стартовая площадка для бизнеса
            small
              | Экономия на развитии
              | проекта до 70% при
              | утверждении инвест плана
      b#the-last-block.red-big.wow.fadeInUp.acreditation_block
        | Мы аккредитованы
        span
          | десятью
          | международными
        |  и локальными
        |             ведомствами:
      .rb-slider.owl-carousel
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l1.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l2.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l3.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l4.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l5.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l6.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l7.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l8.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l9.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l10.png')

  | {/block}



block scripts
  script(src="/dist/js/main.js")
