extends layouts/default
include helpers/mixins

block variables
  - const title = "Главная"
  - svgmorph = true;

block content
  svg(style="display: none;")
    symbol#solutions1(viewbox='0 0 116 125', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(opacity='0.6', d='M2.05592 125C1.51066 125 0.987726 124.794 0.602166 124.428C0.216606 124.062 0 123.565 0 123.047C0 122.529 0.216606 122.032 0.602166 121.666C0.987726 121.3 1.51066 121.094 2.05592 121.094H15.0761L16.4474 113.281C16.6221 112.17 17.3684 111.328 18.5033 111.328H28.7829L28.7808 41.0156H22.6151C22.0699 41.0156 21.5469 40.8099 21.1614 40.4436C20.7758 40.0773 20.5592 39.5805 20.5592 39.0625C20.5592 38.5445 20.7758 38.0477 21.1614 37.6814C21.5469 37.3151 22.0699 37.1094 22.6151 37.1094H28.7808L28.7829 1.95312C28.7829 1.43512 28.9995 0.938339 29.3851 0.572057C29.7706 0.205775 30.2935 0 30.8388 0C31.3841 0 31.907 0.205775 32.2926 0.572057C32.6781 0.938339 32.8947 1.43512 32.8947 1.95312V8.96875C46.6191 15.7434 58.5661 25.3603 67.8536 37.1094H76.0691C76.6143 37.1094 77.1373 37.3151 77.5228 37.6814C77.9084 38.0477 78.125 38.5445 78.125 39.0625C78.125 39.5805 77.9084 40.0773 77.5228 40.4436C77.1373 40.8099 76.6143 41.0156 76.0691 41.0156H70.7854C82.2983 57.1538 88.4372 76.2079 88.4046 95.7031C88.4046 101.021 87.9564 106.24 87.095 111.328H96.6283C97.6768 111.328 98.2936 111.988 98.6122 113.016L98.6904 113.32L100.055 121.094H113.076C113.621 121.094 114.144 121.3 114.529 121.666C114.915 122.032 115.132 122.529 115.132 123.047C115.132 123.565 114.915 124.062 114.529 124.428C114.144 124.794 113.621 125 113.076 125H2.05592ZM94.5724 115.234H20.5592L19.3257 121.094H95.8059L94.5724 115.234ZM32.8947 13.3984V37.1094H51.3713C48.1978 33.8076 44.7707 30.734 41.1184 27.9141V33.2031C41.1184 33.7211 40.9018 34.2179 40.5163 34.5842C40.1307 34.9505 39.6078 35.1562 39.0625 35.1562C38.5172 35.1562 37.9943 34.9505 37.6087 34.5842C37.2232 34.2179 37.0066 33.7211 37.0066 33.2031V23.4375C37.0046 22.9667 37.1817 22.511 37.5053 22.1544C37.8289 21.7978 38.2772 21.5642 38.7677 21.4967C39.2581 21.4292 39.7578 21.5323 40.1746 21.7869C40.5915 22.0416 40.8974 22.4308 41.0362 22.8828C64.815 40 80.1809 67.123 80.1809 97.6562C80.1809 100.752 80.0226 103.812 79.7142 106.832L79.6258 107.514C79.5558 107.974 79.315 108.396 78.9467 108.703C78.5785 109.01 78.107 109.182 77.6172 109.188L77.2841 109.168C76.8104 109.123 76.3708 108.913 76.0486 108.58C75.7265 108.247 75.5443 107.814 75.5366 107.361L75.5489 107.119L75.59 106.748C76.2122 100.872 76.2301 94.9519 75.6435 89.0723L47.7241 111.328L82.9276 111.33C83.8261 106.25 84.2928 101.027 84.2928 95.7031C84.2928 60.2031 63.5218 29.3105 32.8947 13.3984ZM37.0066 41.0156H32.8927L32.8947 111.328H37.0066V41.0156ZM70.7257 87.8906H41.1164L41.1184 111.328H41.3384L41.4576 111.225L70.7237 87.8906H70.7257ZM68.5423 62.4746L41.5543 83.9844H74.9815C73.7934 76.5862 71.63 69.3595 68.5423 62.4746ZM62.1094 62.5H41.1164V79.2344L62.1094 62.5ZM57.9831 44.8047L41.1164 58.2461V58.5938H66.6859C64.2247 53.7595 61.3121 49.1446 57.9831 44.8047ZM54.9116 41.0156H41.1184L41.1164 53.1465L55.4872 41.6953L54.9116 41.0156Z', fill='url(#paint0_linear)')
        defs
          lineargradient#paint0_linear(x1='57.5658', y1='0', x2='57.5658', y2='125', gradientunits='userSpaceOnUse')
            stop(stop-color='#E7E7E7')
              stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
    symbol#solutions2(viewbox='0 0 125 125', fill='none', xmlns='http://www.w3.org/2000/svg')
      g(opacity='0.6')
        path(d='M62.5 0C28.0363 0 0 28.0363 0 62.5C0 78.9073 6.52016 95.5323 17.4415 106.968C18.5948 108.177 20.2399 108.871 21.9577 108.871C25.4133 108.871 28.2258 106.058 28.2258 102.464C28.2258 100.919 27.6431 99.4214 26.5827 98.246C17.6492 88.3145 12.0968 74.6149 12.0968 62.5C12.0968 48.4637 17.7258 35.4294 27.9476 25.8024C38.1653 16.1794 51.5464 11.3407 65.6129 12.1895C87.4597 13.502 106.302 29.1552 111.431 50.2581C114.03 60.9476 113.198 71.9758 109.022 82.1573L112.752 83.6895C117.252 72.7157 118.153 60.8246 115.351 49.3044C109.806 26.5 89.4516 9.58266 65.8528 8.16532C50.6915 7.25403 36.2198 12.4778 25.1835 22.8669C14.1452 33.2661 8.06452 47.3387 8.06452 62.5C8.06452 75.5686 14.0121 90.3004 23.5867 100.944C23.9798 101.379 24.1935 101.919 24.1935 102.603C24.1935 103.835 23.1895 104.839 21.9577 104.839C21.3367 104.839 20.756 104.601 20.3609 104.185C10.1351 93.4778 4.03226 77.8952 4.03226 62.5C4.03226 30.2621 30.2621 4.03226 62.5 4.03226C94.7379 4.03226 120.968 30.2621 120.968 62.5C120.968 77.8911 114.865 93.4738 104.639 104.187C104.244 104.601 103.661 104.839 103.04 104.839C101.808 104.839 100.806 103.837 100.806 102.556C100.806 101.984 101.044 101.423 101.476 100.98C105.113 97.2359 108.204 92.9375 110.661 88.2036L107.083 86.3448C104.806 90.7298 101.948 94.7097 98.5867 98.1673C97.4173 99.369 96.7742 100.927 96.7742 102.605C96.7742 106.058 99.5847 108.871 103.04 108.871C104.76 108.871 106.405 108.177 107.556 106.97C118.48 95.5262 125 78.9032 125 62.5C125 28.0363 96.9637 0 62.5 0Z', fill='url(#paint0_linear)')
          path(d='M98.7722 87.1552C98.8952 85.5423 98.3831 83.9778 97.3347 82.7601C96.8609 82.2036 85.877 69.5786 68.5484 67.0262V66.8145C86.1412 67.9516 100.94 72.2863 101.103 72.3347C101.669 72.498 102.246 72.5806 102.823 72.5806C105.514 72.5806 107.843 70.8488 108.617 68.2681C109.575 65.0766 107.754 61.6976 104.556 60.7379C103.863 60.5302 87.8367 55.8286 68.5484 54.7016V54.373C80.0041 49.9758 97.1391 48.379 97.3186 48.3629C98.9274 48.2177 100.383 47.4536 101.417 46.2117C102.454 44.9698 102.944 43.3992 102.798 41.7883C102.508 38.6552 99.9254 36.2903 96.6976 36.2903C96.6956 36.2903 96.6936 36.2903 96.6916 36.2903L96.2117 36.3165C94.5545 36.4677 80.6149 37.8286 68.5484 41.5867V41.0827C74.0605 35.8347 78.6956 32.6653 81.6371 32.1754C83.2299 31.9093 84.625 31.0403 85.5645 29.7238C86.5041 28.4093 86.875 26.8085 86.6109 25.2198C86.1291 22.2863 83.625 20.1573 80.6613 20.1573C80.3166 20.1573 79.9657 20.1895 79.6291 20.248C76.3307 20.7984 72.6109 22.5242 68.5484 25.3569V22.1774C68.5484 18.8427 65.8347 16.129 62.5 16.129C59.1653 16.129 56.4516 18.8427 56.4516 22.1774V25.3569C52.3891 22.5242 48.6714 20.7984 45.3891 20.25C41.9819 19.6653 38.9295 21.9456 38.3891 25.2157C38.123 26.8085 38.496 28.4093 39.4355 29.7238C40.375 31.0383 41.7702 31.9093 43.3609 32.1754C46.3045 32.6653 50.9395 35.8347 56.4516 41.0827V41.5867C44.3851 37.8286 30.4395 36.4677 28.7057 36.3105L28.2077 36.2883C25.0746 36.2883 22.494 38.6532 22.2016 41.7923C22.0565 43.3992 22.5464 44.9677 23.5827 46.2097C24.619 47.4516 26.0726 48.2157 27.6835 48.3609C27.8629 48.375 44.998 49.9738 56.4536 54.371V54.6996C37.1633 55.8266 21.1391 60.5262 20.4395 60.7359C17.248 61.6976 15.4294 65.0746 16.3851 68.2661C17.1573 70.8488 19.4859 72.5806 22.1774 72.5806C22.754 72.5806 23.3307 72.498 23.9073 72.3286C24.0605 72.2843 38.8589 67.9496 56.4516 66.8125V67.0242C39.121 69.5766 28.1391 82.2036 27.6734 82.75C26.617 83.9758 26.1049 85.5423 26.2278 87.1552C26.3508 88.7681 27.0968 90.2339 28.3165 91.2782C29.4133 92.2218 30.8125 92.7419 32.2581 92.7419C34.0323 92.7419 35.7057 91.9718 36.8226 90.6593C36.9053 90.5665 44.8065 81.7863 56.4516 79.3064V81.8266L53.6008 84.6774H51.7843C48.7984 84.6774 46.371 87.1048 46.371 90.0907C46.371 92.5786 48.0565 94.7399 50.4718 95.3407L52.4194 95.8286V114.573C52.4194 119.909 56.4153 124.466 61.5182 124.954C61.8387 124.984 62.1593 125 62.4799 125C64.9839 125 67.4194 124.071 69.2782 122.381C71.377 120.474 72.5807 117.754 72.5807 114.919V95.8286L74.5282 95.3407C76.9436 94.7379 78.6291 92.5786 78.6291 90.0907C78.6291 87.1048 76.2016 84.6774 73.2157 84.6774H71.3992L68.5484 81.8266V79.3064C80.1956 81.7863 88.0928 90.5645 88.1553 90.6331C89.2944 91.9718 90.9678 92.7419 92.742 92.7419C94.1875 92.7419 95.5867 92.2218 96.6774 91.2823C97.9033 90.2339 98.6492 88.7681 98.7722 87.1552ZM56.4516 50.0726C44.5807 45.9073 28.2137 44.3609 28.0424 44.3468C27.5081 44.3004 27.0222 44.0443 26.6774 43.629C26.3307 43.2157 26.1674 42.6915 26.2178 42.1613C26.3145 41.1109 27.1714 40.3206 28.1089 40.3185L28.4234 40.3327C30.0907 40.4839 44.5565 41.9012 56.4516 45.8286V50.0726ZM56.4536 35.627C51.4496 31.256 47.2722 28.7399 44.0242 28.1976C43.4859 28.1069 43.0343 27.8246 42.7157 27.381C42.3992 26.9355 42.2762 26.4153 42.367 25.873C42.5282 24.8992 43.3569 24.1895 44.3407 24.1895C44.4577 24.1895 44.5746 24.2016 44.7117 24.2258C48.002 24.7742 51.9536 26.8528 56.4536 30.371V35.627ZM103.401 64.6008C104.466 64.9193 105.073 66.0464 104.754 67.1109C104.438 68.1673 103.294 68.7661 102.248 68.4657C102.091 68.4173 86.6129 63.9133 68.5484 62.7722V58.7419C87.2641 59.8629 102.734 64.4012 103.401 64.6008ZM68.5484 30.3689C73.0484 26.8528 77.002 24.7742 80.3085 24.2238C81.4335 24.0181 82.4516 24.7823 82.6331 25.877C82.7238 26.4153 82.6008 26.9355 82.2843 27.381C81.9657 27.8266 81.5121 28.1069 80.9738 28.1976C77.7278 28.7399 73.5484 31.254 68.5484 35.625V30.3689ZM22.7661 68.4617C21.6371 68.7863 20.5625 68.1673 20.246 67.1109C19.9274 66.0464 20.5343 64.9193 21.5928 64.6008C22.2661 64.4012 37.7359 59.8629 56.4516 58.7419V62.7722C38.3871 63.9133 22.9093 68.4173 22.7661 68.4617ZM33.7742 88.0181C33.1008 88.8145 31.7661 88.9254 30.9415 88.2198C30.5363 87.871 30.2903 87.3851 30.248 86.8448C30.2057 86.3004 30.373 85.7943 30.7359 85.375C31.1633 84.873 40.9496 73.6149 56.4516 71.0968V75.2137C42.998 77.7198 34.1774 87.5605 33.7742 88.0181ZM69.7299 88.7097H73.2157C73.9778 88.7097 74.5968 89.3286 74.5968 90.0907C74.5968 90.7258 74.1653 91.2762 73.5504 91.4314L68.5484 92.6794V114.919C68.5484 116.621 67.8266 118.252 66.5686 119.397C65.2924 120.556 63.6472 121.093 61.9012 120.942C58.8428 120.649 56.4516 117.851 56.4516 114.573V92.6794L51.4496 91.4314C50.8347 91.2742 50.4032 90.7258 50.4032 90.0907C50.4032 89.3286 51.0222 88.7097 51.7843 88.7097H55.2702L60.4839 83.496V22.1774C60.4839 21.0645 61.3871 20.1613 62.5 20.1613C63.6129 20.1613 64.5161 21.0645 64.5161 22.1774V83.496L69.7299 88.7097ZM68.5444 50.0706V45.8266C80.4436 41.9012 94.9073 40.4839 96.494 40.3387L96.7903 40.3206C97.8287 40.3206 98.6835 41.1129 98.7803 42.1552C98.8287 42.6915 98.6653 43.2137 98.3186 43.627C97.9738 44.0423 97.4879 44.2984 96.9577 44.3448C96.7823 44.3589 80.4153 45.9052 68.5444 50.0706ZM94.752 86.8488C94.7117 87.3851 94.4637 87.871 94.0524 88.2238C93.242 88.9234 91.9174 88.8367 91.2037 87.996C90.8206 87.5605 82.002 77.7198 68.5484 75.2157V71.0988C84.0504 73.6169 93.8367 84.875 94.2722 85.3851C94.6291 85.7984 94.7944 86.3044 94.752 86.8488Z', fill='url(#paint1_linear)')
            path(d='M64.5161 88.7097H60.4839V92.742H64.5161V88.7097Z', fill='url(#paint2_linear)')
              path(d='M64.5161 96.7742H60.4839V100.806H64.5161V96.7742Z', fill='url(#paint3_linear)')
                path(d='M64.5161 104.839H60.4839V108.871H64.5161V104.839Z', fill='url(#paint4_linear)')
                  path(d='M64.5161 112.903H60.4839V116.935H64.5161V112.903Z', fill='url(#paint5_linear)')
      defs
        lineargradient#paint0_linear(x1='62.5', y1='0', x2='62.5', y2='108.871', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint1_linear(x1='62.5014', y1='16.129', x2='62.5014', y2='125', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint2_linear(x1='62.5', y1='88.7097', x2='62.5', y2='92.742', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint3_linear(x1='62.5', y1='96.7742', x2='62.5', y2='100.806', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint4_linear(x1='62.5', y1='104.839', x2='62.5', y2='108.871', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint5_linear(x1='62.5', y1='112.903', x2='62.5', y2='116.935', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
    symbol#solutions3(viewbox='0 0 125 125', fill='none', xmlns='http://www.w3.org/2000/svg')
      g(opacity='0.5', clip-path='url(#clip0)')
        path(d='M111.979 114.583H13.0208C5.72917 114.583 0 108.854 0 101.563V39.0626C0 31.7709 5.72917 26.0417 13.0208 26.0417H111.979C119.271 26.0417 125 31.7709 125 39.0626V101.563C125 108.854 119.271 114.583 111.979 114.583ZM13.0208 31.2501C8.85417 31.2501 5.20833 34.8959 5.20833 39.0626V101.563C5.20833 105.729 8.85417 109.375 13.0208 109.375H111.979C116.146 109.375 119.792 105.729 119.792 101.563V39.0626C119.792 34.8959 116.146 31.2501 111.979 31.2501H13.0208Z', fill='url(#paint0_linear)')
          path(d='M80.7292 31.2501C79.1667 31.2501 78.125 30.2084 78.125 28.6459V18.2292C78.125 16.6667 77.0833 15.6251 75.5208 15.6251H49.4792C47.9167 15.6251 46.875 16.6667 46.875 18.2292V28.6459C46.875 30.2084 45.8333 31.2501 44.2708 31.2501C42.7083 31.2501 41.6667 30.2084 41.6667 28.6459V18.2292C41.6667 14.0626 45.3125 10.4167 49.4792 10.4167H75.5208C79.6875 10.4167 83.3333 14.0626 83.3333 18.2292V28.6459C83.3333 30.2084 82.2917 31.2501 80.7292 31.2501Z', fill='url(#paint1_linear)')
            path(d='M62.5 72.9167C61.9792 72.9167 61.9792 72.9167 61.4583 72.9167L1.5625 52.0833C0.520831 51.5625 -0.520835 50 -1.93715e-06 48.4375C0.520831 47.3958 2.08333 46.3542 3.64583 46.875L62.5 67.7083L121.354 46.875C122.917 46.3542 123.958 46.875 124.479 48.4375C125 50 124.479 51.0417 122.917 51.5625L63.0208 72.3958C63.0208 72.9167 63.0208 72.9167 62.5 72.9167Z', fill='url(#paint2_linear)')
      defs
        lineargradient#paint0_linear(x1='62.5', y1='26.0417', x2='62.5', y2='114.583', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint1_linear(x1='62.5', y1='10.4167', x2='62.5', y2='31.2501', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint2_linear(x1='62.268', y1='46.6797', x2='62.268', y2='72.9167', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        clippath#clip0
          rect(width='125', height='125', fill='white')
    symbol#solutions4(viewbox='0 0 125 125', fill='none', xmlns='http://www.w3.org/2000/svg')
      g(opacity='0.6')
        path(d='M60.3017 0.0133063C36.182 0.00979068 14.3832 14.3869 4.88973 36.5597L4.13839 36.8088L4.42968 37.6827C-8.06987 68.5112 6.78842 103.636 37.6169 116.135C44.8172 119.055 52.5141 120.553 60.2839 120.549C93.5688 120.554 120.556 93.5751 120.561 60.2902C120.566 27.0053 93.5869 0.0180775 60.3017 0.0133063ZM107.575 90.6672L104.48 87.5745V80.3704C104.484 80.0596 104.415 79.7522 104.279 79.4725L96.4446 63.8249V56.2633C96.4446 55.5918 96.1094 54.9645 95.5507 54.5919L89.5239 50.574C89.0515 50.2586 88.4677 50.1579 87.9167 50.2968L80.5359 52.141L68.1388 46.8213L66.4332 34.8722L71.1603 30.1472H81.3074L84.7225 35.28C85.0309 35.7416 85.5168 36.0552 86.0645 36.1459L98.1181 38.1548C98.441 38.2091 98.772 38.1827 99.0823 38.0785L110.184 34.378C119.495 52.2462 118.499 73.737 107.575 90.6672ZM99.2893 19.8093L96.0228 21.987L86.9163 20.1649L81.008 18.1981C80.6464 18.0753 80.2572 18.0598 79.887 18.1539L72.4178 20.0202L69.1433 18.9294L71.5701 14.0758H78.3643C78.6759 14.0761 78.9833 14.004 79.2623 13.8649L86.2132 10.3894C90.9999 12.888 95.4035 16.0601 99.2893 19.8093ZM38.2801 8.5171L43.1016 11.7314C43.3386 11.8891 43.6063 11.9946 43.887 12.0408L53.6223 13.664L52.6721 16.5066L47.5995 18.2001C47.1453 18.3513 46.7598 18.6597 46.5127 19.07L40.7431 28.6847L31.4759 34.2454L17.8152 36.1961C16.825 36.336 16.0888 37.183 16.0875 38.1829V44.2097C16.0875 44.7426 16.2994 45.2534 16.6761 45.63L20.1054 49.0593V52.5106L11.7482 46.9379L8.71674 37.8434C14.4844 24.6649 25.0556 14.1783 38.2801 8.5171ZM32.5607 74.3838L23.4804 72.5658L20.1054 65.8338V61.1129L27.5906 53.6276L30.3609 59.1702C30.7012 59.8513 31.3975 60.2814 32.1589 60.2812H45.0844L50.5266 69.3515C50.8897 69.9559 51.5431 70.3256 52.2482 70.3258H57.833L56.4268 77.3711L48.821 84.9769C48.4435 85.3533 48.2311 85.8641 48.2303 86.3972V91.4196L40.9982 96.8437C40.4925 97.2231 40.1946 97.8185 40.1946 98.4508V105.707L37.6955 104.879L34.1678 96.0562V76.3526C34.1681 75.3979 33.4961 74.5747 32.5607 74.3838ZM26.5219 105.266C7.58044 91.0559 -0.429914 66.5028 6.48683 43.8562L8.15625 48.8624C8.29687 49.286 8.5746 49.6509 8.94575 49.899L18.9603 56.5747L16.6761 58.8608C16.2994 59.2375 16.0875 59.7483 16.0875 60.2812V66.3079C16.0872 66.6196 16.1593 66.927 16.2984 67.2059L20.3163 75.2417C20.5945 75.7966 21.1136 76.1919 21.7225 76.3124L30.16 77.9979V96.4419C30.1598 96.697 30.2083 96.9501 30.3027 97.1872L34.3205 107.232C34.5405 107.781 34.991 108.205 35.552 108.391L41.5788 110.4C41.7802 110.468 41.9911 110.503 42.2036 110.504C43.313 110.504 44.2125 109.605 44.2125 108.495V99.4553L51.4446 94.0312C51.9504 93.6517 52.2482 93.0563 52.2482 92.424V87.2289L59.6953 79.7818C59.9753 79.5013 60.1661 79.144 60.2437 78.7553L62.2527 68.7106C62.4701 67.6225 61.7645 66.5643 60.6764 66.3469C60.5471 66.321 60.4158 66.3079 60.2839 66.3079H53.3853L47.9431 57.2376C47.58 56.6332 46.9266 56.2636 46.2214 56.2633H33.4004L29.9491 49.3385C29.6601 48.7605 29.1106 48.3567 28.4725 48.2537C27.8347 48.1435 27.1836 48.3539 26.7308 48.8162L24.1232 51.4138V48.2276C24.1232 47.6947 23.9113 47.184 23.5346 46.8073L20.1054 43.378V39.9247L32.4442 38.1629C32.7091 38.1244 32.964 38.0335 33.1935 37.8957L43.2382 31.8689C43.5199 31.6996 43.756 31.4636 43.9252 31.1818L49.5703 21.774L54.892 19.9981C55.4929 19.801 55.9645 19.3297 56.1616 18.7285L58.1705 12.7017C58.5186 11.6483 57.9468 10.512 56.8933 10.1639C56.7962 10.1318 56.6965 10.1072 56.5955 10.0901L44.9678 8.15147L42.9248 6.78942C55.5667 2.67463 69.259 3.1839 81.5605 8.22581L77.8902 10.0579H70.3286C69.5634 10.0537 68.8625 10.4846 68.5205 11.1689L64.5027 19.2046C64.0077 20.1975 64.4113 21.4039 65.4042 21.8988C65.4888 21.941 65.5762 21.9772 65.6658 22.0071L71.6926 24.016C72.0542 24.1388 72.4435 24.1543 72.8136 24.0602L80.2828 22.1939L85.7551 24.016C85.8335 24.0441 85.9141 24.0657 85.9962 24.0803L96.0408 26.0892C96.5631 26.1957 97.1066 26.0887 97.5495 25.7919L102.122 22.7423C104.372 25.2487 106.394 27.9507 108.165 30.8162L98.2808 34.1108L87.5792 32.3269L84.0435 27.0234C83.6729 26.4676 83.0501 26.1326 82.3821 26.1294H70.3286C69.7957 26.1294 69.2849 26.3413 68.9082 26.718L62.8815 32.7448C62.434 33.192 62.2233 33.8241 62.3129 34.4504L64.3219 48.5129C64.4231 49.2082 64.8801 49.8001 65.5272 50.0738L79.5897 56.1006C79.9925 56.2751 80.442 56.311 80.8674 56.203L88.0413 54.4091L92.4268 57.3381V64.299C92.4232 64.6099 92.4921 64.9173 92.6277 65.197L100.462 80.8446V88.4062C100.462 88.939 100.674 89.4498 101.051 89.8265L105.254 94.0312C86.6152 118.875 51.3655 123.905 26.5219 105.266Z', fill='url(#paint0_linear)')
      defs
        lineargradient#paint0_linear(x1='60.2804', y1='0.0133057', x2='60.2804', y2='120.549', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
    symbol#solutions5(viewbox='0 0 96 125', fill='none', xmlns='http://www.w3.org/2000/svg')
      g(opacity='0.6')
        path(d='M80.5294 92.2156C79.5812 90.5818 77.8331 89.5784 75.944 89.5833C75.7956 89.5836 75.6477 89.5992 75.5026 89.6302L38.0367 97.7516L26.2635 89.9312C25.9216 89.7042 25.5203 89.5833 25.1099 89.5833H14.5833C14.5836 88.4331 13.6513 87.5003 12.501 87.5C12.5008 87.5 12.5003 87.5 12.5 87.5H2.08333C0.933073 87.4997 0.000260471 88.432 5.45433e-08 89.5823C5.45433e-08 89.5826 5.45433e-08 89.5831 5.45433e-08 89.5833V114.583C-0.000260362 115.734 0.932031 116.666 2.08229 116.667C2.08255 116.667 2.08307 116.667 2.08333 116.667H12.5C13.6503 116.667 14.5831 115.735 14.5833 114.584C14.5833 114.584 14.5833 114.584 14.5833 114.583H18.282L36.6474 124.74C37.3138 125.108 38.1281 125.084 38.7714 124.677L78.6109 99.4406C81.1359 97.975 81.9948 94.7404 80.5294 92.2156ZM10.4167 112.5H4.16667V91.6667H10.4167V112.5ZM76.4505 95.8792L37.5854 120.497L19.8284 110.677C19.5195 110.507 19.1721 110.417 18.8193 110.417H14.5833V93.75H24.4812L38.1857 102.852C39.6167 103.798 40.0099 105.725 39.0641 107.156C39.0292 107.209 38.9927 107.261 38.9549 107.311C37.9508 108.638 36.0875 108.955 34.7008 108.035L26.2638 102.431L23.9565 105.902L32.3937 111.506C35.7018 113.773 40.2208 112.928 42.4872 109.62C44.262 107.03 44.1706 103.592 42.2607 101.1L76.1193 93.7602C76.5698 93.8117 76.9388 94.1414 77.0409 94.5831C77.1883 95.1013 76.9385 95.6503 76.4505 95.8792Z', fill='url(#paint0_linear)')
          path(d='M56.25 5.45433e-08C55.0997 -0.000260362 54.1669 0.932031 54.1667 2.08229C54.1667 2.08255 54.1667 2.08307 54.1667 2.08333V39.5833C54.1664 40.7336 55.0987 41.6664 56.2489 41.6667C56.2492 41.6667 56.2497 41.6667 56.25 41.6667H93.75C94.9002 41.6669 95.8331 40.7346 95.8333 39.5844C95.8333 39.5841 95.8333 39.5836 95.8333 39.5833C95.8086 17.7323 78.101 0.0247396 56.25 5.45433e-08ZM58.3333 37.5V4.2276C76.2432 5.30625 90.5271 19.5901 91.6057 37.5H58.3333Z', fill='url(#paint1_linear)')
            path(d='M64.5833 10.4167C63.4331 10.4165 62.5003 11.3488 62.5 12.499C62.5 12.4993 62.5 12.4998 62.5 12.5001V31.2501C62.4997 32.4003 63.432 33.3332 64.5823 33.3334C64.5826 33.3334 64.5831 33.3334 64.5833 33.3334H83.3333C84.4836 33.3337 85.4164 32.4014 85.4167 31.2511C85.4167 31.2509 85.4167 31.2503 85.4167 31.2501C85.4034 19.7496 76.0839 10.43 64.5833 10.4167ZM66.6667 29.1667V14.7126C74.2146 15.6756 80.1573 21.6188 81.1198 29.1667H66.6667Z', fill='url(#paint2_linear)')
              path(d='M85.4177 45.8333C85.4175 45.8333 85.4169 45.8333 85.4167 45.8333H50V10.4166C50.0003 9.26632 49.068 8.33351 47.9177 8.33325C47.9175 8.33325 47.9169 8.33325 47.9167 8.33325C26.0555 8.33325 8.33334 26.0554 8.33334 47.9166C8.33334 69.7778 26.0555 87.4999 47.9167 87.4999C69.7779 87.4999 87.5 69.7778 87.5 47.9166C87.5003 46.7663 86.568 45.8335 85.4177 45.8333ZM47.9167 83.3333C28.3565 83.3333 12.5 67.4765 12.5 47.9163C12.5 29.1655 27.1149 13.664 45.8333 12.5611V47.9166C45.8331 49.0668 46.7654 49.9997 47.9156 49.9999C47.9159 49.9999 47.9164 49.9999 47.9167 49.9999H83.2724C82.1471 68.7082 66.6586 83.3109 47.9167 83.3333Z', fill='url(#paint3_linear)')
      defs
        lineargradient#paint0_linear(x1='40.6222', y1='87.5', x2='40.6222', y2='125', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint1_linear(x1='75', y1='0', x2='75', y2='41.6667', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint2_linear(x1='73.9583', y1='10.4167', x2='73.9583', y2='33.3334', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint3_linear(x1='47.9167', y1='8.33325', x2='47.9167', y2='87.4999', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
    symbol#solutions6(viewbox='0 0 125 125', fill='none', xmlns='http://www.w3.org/2000/svg')
      g(opacity='0.6', clip-path='url(#clip0)')
        path(d='M120.051 27.5808L63.2962 0.181885C62.793 -0.060791 62.207 -0.060791 61.7041 0.181885L4.94898 27.5808C4.31616 27.8862 3.91406 28.5271 3.91406 29.2297V95.77C3.91406 96.4726 4.31616 97.1135 4.94898 97.4189L61.7039 124.818C61.9553 124.939 62.2278 125 62.5 125C62.7722 125 63.0444 124.939 63.2962 124.818L120.051 97.4189C120.684 97.1135 121.086 96.4726 121.086 95.77V29.23C121.086 28.5269 120.684 27.8865 120.051 27.5808ZM62.5 3.86426L115.043 29.2297L99.812 36.5828C99.7156 36.5093 99.6138 36.4414 99.502 36.3875L47.3157 11.1946L62.5 3.86426ZM43.1804 13.2649L95.6472 38.5935L84.9014 43.7812L32.4563 18.4629L43.1804 13.2649ZM96.8748 42.0671V61.2434L86.8374 66.0891V46.9128L96.8748 42.0671ZM117.424 94.6211L64.3311 120.251V57.7778L76.9954 51.6641C77.906 51.2244 78.2879 50.1299 77.8482 49.219C77.4085 48.3086 76.314 47.9263 75.4031 48.3662L62.5 54.5955L57.4229 52.1443C56.512 51.7041 55.4175 52.0864 54.9778 52.9971C54.5381 53.9077 54.9199 55.0024 55.8306 55.4421L60.669 57.7778V120.251L7.57617 94.6206V32.147L48.0059 51.6648C48.2625 51.7888 48.5337 51.8474 48.8005 51.8474C49.4812 51.8474 50.135 51.4661 50.4507 50.812C50.8904 49.9014 50.5086 48.8066 49.5979 48.3669L9.95679 29.2297L28.1465 20.4485L83.1499 47.002C83.158 47.0132 83.167 47.0232 83.1753 47.0342V69.0066C83.1753 69.6367 83.4993 70.2224 84.033 70.5576C84.3294 70.7437 84.6675 70.8376 85.0066 70.8376C85.2781 70.8376 85.5503 70.7773 85.8025 70.6555L99.502 64.042C100.135 63.7366 100.537 63.0959 100.537 62.3931V40.2996L117.424 32.1472V94.6211Z', fill='url(#paint0_linear)')
          path(d='M22.687 87.5192L14.3582 83.4984C13.447 83.0583 12.3528 83.4406 11.9131 84.3512C11.4734 85.2619 11.8552 86.3566 12.7659 86.7963L21.0947 90.817C21.3513 90.9411 21.6226 90.9996 21.8894 90.9996C22.5701 90.9996 23.2239 90.6183 23.5396 89.9643C23.9795 89.0534 23.5977 87.9591 22.687 87.5192Z', fill='url(#paint1_linear)')
            path(d='M30.3523 82.5297L14.3696 74.8139C13.4587 74.3742 12.3643 74.756 11.9246 75.6669C11.4851 76.5776 11.8669 77.6723 12.7776 78.112L28.7603 85.8278C29.0168 85.9516 29.2881 86.0104 29.5549 86.0104C30.2356 86.0104 30.8894 85.6291 31.2051 84.975C31.6448 84.0639 31.2629 82.9692 30.3523 82.5297Z', fill='url(#paint2_linear)')
      defs
        lineargradient#paint0_linear(x1='62.5', y1='-0.00012207', x2='62.5', y2='125', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint1_linear(x1='17.7264', y1='83.3157', x2='17.7264', y2='90.9996', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        lineargradient#paint2_linear(x1='21.5649', y1='74.6313', x2='21.5649', y2='86.0104', gradientunits='userSpaceOnUse')
          stop(stop-color='#E7E7E7')
            stop(offset='1', stop-color='#E7E7E7', stop-opacity='0.25')
        clippath#clip0
          rect(width='125', height='125', fill='white')



  | {block 'content'}

  section.home-slider-tmp#home-slider-tmp
    .container
      .flex.flex_width3.flex_align-items-center
        .flex__item
          .home-slider-animation
            svg(height='0', width='0', x='0px', y='0px', viewBox='9 80 800 400')
              style(type='text/css').
                .st0 {
                  fill: #1D1D1D;
                  stroke: #000000;
                  stroke-miterlimit: 10;
                }

                .st1 {
                  fill: #CCCCCC;
                }
              path#check_mark(d='M44.55 118.3 61.18 103.21 90.77 132.79 152.41 71.15 168.63 86.93 90.91 164.65 44.55 118.3z')
              path#diagram(d='M70.2092684,148.280485 L70.2092684,103.250733 L93.5027824,103.250733 L93.5027824,148.280485 L97.9888016,148.280485 L97.9888016,85.881967 L119.81122,85.881967 L119.81122,148.280485 L124.562365,148.280485 L124.562365,57 L146,57 L146,152.945915 C96.6443382,153.018028 71.380761,153.018028 70.2092684,152.945915 C69.7050955,152.91488 70.2794816,152.618235 70.2092684,152.037836 C70.1473125,151.525695 70.1473125,150.273245 70.2092684,148.280485 Z')
              path#triangle(d='M84.81 78.95 84.81 143.52 141.93 111.24 141.93 111.24 84.81 78.95z')
              path#figur_L(d='M80.67 69.02 80.67 137.89 149.54 137.89 149.54 115.56 102.35 115.56 102.35 69.02 80.67 69.02z')
              path#figur_horiz(d='M218.92 98.9 106.59 98.9 106.6 123.58 218.91 123.58 218.92 98.9z')
              path#mountain(d='M10.02 133.74 70.02 133.74 109.02 82.74 148.02 133.74 208.02 133.74 208.02 109.74 160.52 109.74 109.02 43.74 57.52 109.74 10.02 109.74 10.02 133.74z')
              path#zigzag(d='M65.38 154.93 95.39 124.93 134.7 124.93 170.38 88.93 152.38 70.93 123.07 100.93 83.13 100.85 47.66 136.3 65.38 154.93z')
              circle#circle(cx='110', cy='110', r='35')
              rect#circle_center(width='112.5', height='24.5', rx='0', ry='0', x='50.5', y='99')
              path#frameUp_center(d='M1.91 0.24 1.91 73.24 23.91 73.24 23.91 24.24 193.91 24.24 193.91 73.24 217.91 73.24 217.91 0.24 9.91 0.24z')
              path#frameDown_center(d='M193.91 194.24 23.91 194.24 23.91 145.24 0.91 145.24 0.91 218.24 217.91 218.24 217.91 145.24 193.91 145.24 193.91 184.24z')

            svg#clips(viewBox='9 80 800 400', height='0', width='0')
              style(type='text/css').
                .st1 {
                  fill: #fff;
                }
              defs
                clippath#svgPath(transform='scale(2)')
                  path#frameUp(d='M9.91 10.24 9.91 73.24 33.91 73.24 33.91 34.24 183.91 34.24 183.91 73.24 207.91 73.24 207.91 10.24 9.91 10.24z')
                  path#animateSvg(d='M10.02 133.74 70.02 133.74 109.02 82.74 148.02 133.74 208.02 133.74 208.02 109.74 160.52 109.74 109.02 43.74 57.52 109.74 10.02 109.74 10.02 133.74z')
                  path#frameDown(d='M183.91 184.24 33.91 184.24 33.91 145.24 9.91 145.24 9.91 208.24 207.91 208.24 207.91 145.24 183.91 145.24 183.91 184.24z')
          .home-slider-animation__block
        .flex__item.flex__item_width2
          .home-slider-tmp__carousel.owl-carousel
            .home-slider-tmp__item(data-anim-name='zigzag', data-dot='SORP Group')
              .title.title_black.title_font-w-500
                | SORP
                span  Group
              .home-slider-tmp__text
                | SORP GROUP - ведущая консалтинговая группа в Арабских Эмиратах, которая оказывает
                | предпринимателям всего мира уникальные услуги, опираясь на возможности законодательства ОАЭ
                | и 15 лет экспертизы в организации и развитии бизнеса
              a.btn.btn_h45.btn_radius5.home-slider-tmp__button.btn_w-auto(href='#', onclick="toggleModal('form01')") Заказать консультацию

            .home-slider-tmp__item(data-anim-name='check_mark', data-dot='Решения')
              .title.title_black.title_font-w-500
                | Решения
                span  SORP
              .home-slider-tmp__text
                | Понимая потребности клиентов, мы разработали уникальные решения, открывающие возможности для
                | международной деятельности, выхода на рынок ОАЭ, релокации бизнеса, инкорпорации юридических
                | лиц в ОАЭ, оптимизации налогов.
              a.btn.btn_h45.btn_radius5.home-slider-tmp__button.btn_w-auto(href='#', onclick="toggleModal('form01')") Заказать консультацию
            .home-slider-tmp__item(data-anim-name='circle', data-dot='Наша миссия')
              .title.title_black.title_font-w-500
                | Наша
                span  миссия
              .home-slider-tmp__text
                | Мы заинтересованы в успехе наших клиентов и работаем на результат. Бизнес получает доступ к
                | услугам профессиональных управленцев, налоговых консультантов, бухгалтеров, юристов и PRO по
                | принципу аутсорсинга услуг.
              a.btn.btn_h45.btn_radius5.home-slider-tmp__button.btn_w-auto(href='#', onclick="toggleModal('form01')") Заказать консультацию
            .home-slider-tmp__item(data-anim-name='figur_L', data-dot='Вектор развития')
              .title.title_black.title_font-w-500
                | Вектор
                span  развития
              .home-slider-tmp__text
                | Являясь носителями колоссального опыта и практики, мы трансформировались в школу бизнеса,
                | бизнес-акселератор, площадку для обмена опытом и нетворкинга, центр бизнес-экспертизы и
                | методологии.
              a.btn.btn_h45.btn_radius5.home-slider-tmp__button.btn_w-auto(href='#', onclick="toggleModal('form01')") Заказать консультацию
            .home-slider-tmp__item(data-anim-name='figur_horiz', data-dot='Локация и активы')
              .title.title_black.title_font-w-500
                | Локация
                span  и активы
              .home-slider-tmp__text
                | SORP Group - не виртуальное пространство. Мы владеем бизнес-центром в престижном районе
                | Дубая площадью 5000 кв.м., в нашем штате 54 эксперта и мы обладаем большим инвестиционным
                | потенциалом.
              a.btn.btn_h45.btn_radius5.home-slider-tmp__button.btn_w-auto(href='#', onclick="toggleModal('form01')") Заказать обратный звонок
            .home-slider-tmp__item(data-anim-name='mountain', data-dot='Платформа SORP')
              .title.title_black.title_font-w-500
                | Платформа
                span  SORP
              .home-slider-tmp__text
                | SORP Group создала уникальную платформу для бизнеса на базе значимых подразделений Группы,
                | прошедших лицензирование и имеющих аккредитацию и поддержку ряда международных и локальных
                | ведомств.
              a.btn.btn_h45.btn_radius5.home-slider-tmp__button.btn_w-auto(href='#', onclick="toggleModal('form01')") Заказать консультацию
            .home-slider-tmp__item(data-anim-name='diagram', data-dot='Статус платформы')
              .title.title_black.title_font-w-500
                | Статус
                span  платформы
              .home-slider-tmp__text
                | Бизнес-платформа признана международными и локальными ведомствами, является официальным
                | партнером Дубайского Экономического Департамента и 45 свободно-экономических зон ОАЭ.
              a.btn.btn_h45.btn_radius5.home-slider-tmp__button.btn_w-auto(href='#', onclick="toggleModal('form01')") Заказать консультацию

  .flex.flex_width2.flex_no-gutters
    .flex__item
      .btn.btn_w100.btn_dark.btn_h45.btn_font-s14 О платформе SORP Group
    .flex__item
      .btn.btn_w100.btn_h45.btn_font-s14 ОТПРАВИТЬ ЗАЯВКУ
        svg.btn__icon-svg.btn__icon-svg-right.btn__icon-svg-opacity5(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
          use(xlink:href='#btn__icon-modal')

  section.ss-slider
    .container
      .owl-carousel
        .ss-slider-item
          .ss-slider-top_section
            .ss-slider-item__logo
              img(src='/assets/templates/main/img/mobile_slider/3.svg')
            .ss-slider-item__header
              | SORP
              span Group
          .ss-slider-item__text
            | SORP Group - ведущая консалтинговая Группа в Арабских Эмиратах, которая с опорой на возможности
            | законодательства ОАЭ и 15 лет экспертизы в организации и развитии бизнеса оказывает предпринимателям
            | всего мира уникальные услуги.
          a.ss-slider-item__button(href='#', onclick="toggleModal('form01')") Узнать подробнее
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/4.svg')
          .ss-slider-item__header
            | Решения
            span SORP
          .ss-slider-item__text
            | Понимая потребности клиентов, мы разработали уникальные решения, открывающие возможности для
            | международной деятельности, выхода на рынок ОАЭ, релокации бизнеса, инкорпорации юридических лиц в
            | ОАЭ, оптимизации налогов.
          a.ss-slider-item__button(href='#solution') Ознакомиться с решениями
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/1.svg')
          .ss-slider-item__header
            | Наша
            span миссия
          .ss-slider-item__text
            | Мы заинтересованы в успехе наших клиентов и работаем на результат. Бизнес получает доступ к услугам
            | профессиональных управленцев, налоговых консультантов, бухгалтеров, юристов и PRO по принципу
            | аутсорсинга услуг.
          a.ss-slider-item__button(href='#', onclick="toggleModal('form01')") Заказать консультацию
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/5.svg')
          .ss-slider-item__header
            | Вектор
            span развития
          .ss-slider-item__text
            | Являясь носителями колоссального опыта и практики, мы трансформировались в школу бизнеса,
            | бизнес-акселератор, площадку для обмена опытом и нетворкинга, центр бизнес-экспертизы и методологии.
          a.ss-slider-item__button(href='#', onclick="toggleModal('form01')") Заказать консультацию
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/6.svg')
          .ss-slider-item__header
            | Локация
            span и активы
          .ss-slider-item__text
            | SORP Group - не виртуальное пространство. Мы владеем бизнес-центром в престижном районе Дубая
            | площадью 5000 кв.м., в нашем штате 54 эксперта и мы обладаем большим инвестиционным потенциалом.
          a.ss-slider-item__button(href='#', onclick="toggleModal('form01')") Заказать обратный звонок
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/2.svg')
          .ss-slider-item__header
            | Платформа
            span SORP
          .ss-slider-item__text
            | SORP Group создала уникальную платформу для бизнеса на базе значимых подразделений Группы, прошедших
            | лицензирование и имеющих аккредитацию и поддержку ряда международных и локальных ведомств.
          a.ss-slider-item__button(href='#platforma') Перейти в раздел
        .ss-slider-item
          .ss-slider-item__logo
            img(src='/assets/templates/main/img/mobile_slider/7.svg')
          .ss-slider-item__header
            | Статус
            span платформы
          .ss-slider-item__text
            | Бизнес-платформа признана международными и локальными ведомствами, является официальным партнером
            | Дубайского Экономического Департамента и 45 свободно-экономических зон ОАЭ.
          a.ss-slider-item__button(href='#', onclick="toggleModal('form01')") Заказать консультацию

  section.bg.bg_fa
    .r50
    .container
      h3.title Решения SORP Group111
        span.title__color-dark  открывают возможности и перспективы:
      .r50

      .block21
        .block21__item
          .block21__title
            | Выйти на рынок и вести бизнес в ОАЭ
          .block21__text
            | От адаптации бизнес-стратегии до запуска локального проекта «под ключ»
          a.block21__btn.btn.btn_h35.btn_font-s14.btn_space-between.btn_radius5.btn_w-auto(href='#', onclick="toggleModal('form01');")
            svg.block21__icon-svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
              use(xlink:href='#btn__icon-modal')

          svg.block21__icon(xmlns='http://www.w3.org/2000/svg')
            use(href='#solutions1')
        .block21__item
          .block21__title
            | Релокация бизнеса в ОАЭ и иммиграция
          .block21__text
            | Комплексные решения по иммиграции бизнеса и физических лиц
          a.block21__btn.btn.btn_h35.btn_font-s14.btn_space-between.btn_radius5.btn_w-auto(href='#', onclick="toggleModal('form01');")
            svg.block21__icon-svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
              use(xlink:href='#btn__icon-modal')
          svg.block21__icon(xmlns='http://www.w3.org/2000/svg')
            use(href='#solutions2')
        .block21__item
          .block21__title
            | Инкорпорация юридических лиц в ОАЭ
          .block21__text
            | Ведение бизнеса без налогов и границ, выгодно и свободно
          a.block21__btn.btn.btn_h35.btn_font-s14.btn_space-between.btn_radius5.btn_w-auto(href='#', onclick="toggleModal('form01');")
            svg.block21__icon-svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
              use(xlink:href='#btn__icon-modal')
          svg.block21__icon(xmlns='http://www.w3.org/2000/svg')
            use(href='#solutions3')
        .block21__item
          .block21__title
            | Вести международную деятельность
          .block21__text
            | Престиж, стабильность и свободное движение капитала без налогов
          a.block21__btn.btn.btn_h35.btn_font-s14.btn_space-between.btn_radius5.btn_w-auto(href='#', onclick="toggleModal('form01');")
            svg.block21__icon-svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
              use(xlink:href='#btn__icon-modal')
          svg.block21__icon(xmlns='http://www.w3.org/2000/svg')
            use(href='#solutions4')
        .block21__item
          .block21__title
            | Оптимизировать налоговое бремя
          .block21__text
            | Эффективные инструменты международного налогового планирования
          a.block21__btn.btn.btn_h35.btn_font-s14.btn_space-between.btn_radius5.btn_w-auto(href='#', onclick="toggleModal('form01');")
            svg.block21__icon-svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
              use(xlink:href='#btn__icon-modal')
          svg.block21__icon(xmlns='http://www.w3.org/2000/svg')
            use(href='#solutions5')
        .block21__item
          .block21__title
            | Размещение бизнеса и поддержка в ОАЭ
          .block21__text
            | Экономия затрат на сопровождение бизнеса и аренде
          a.block21__btn.btn.btn_h35.btn_font-s14.btn_space-between.btn_radius5.btn_w-auto(href='#', onclick="toggleModal('form01');")
            svg.block21__icon-svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
              use(xlink:href='#btn__icon-modal')
          svg.block21__icon(xmlns='http://www.w3.org/2000/svg')
            use(href='#solutions6')
    .r50

  .bg.bg_red
    .r30
    .container
      .feedback-block
        .feedback-block__text Проводите деловые собрания не отвлекаясь на организационные вопросы
        .feedback-block__btn Получить консультацию
    .r30

  section.bg.bg_f9
    .r60
    .container
      h3.title.title_dark Платформа SORP
      .r20
      .r5
      .description.
        Ведущая консалтинговая группа ОАЭ, которая более 15 лет предоставляет полный спектр консалтинговых услуг и решает задачи,
        возникающие в процессе организации бизнеса. У нас безупречная репутация, щирокие возможности и активы. Мы стали базой для
        роста тысяч международных и локальных проектов.
      .r20
      .flex.flex_width4
        .flex__item.flex__item_width2
          .block22.block22_width1
            .block22__item
              .block22__content
                .block22__title Бизнес-центр 5000&nbsp;
                  span.m2.m2_font-bold м
                .block22__text
                  p.block22__text-p.
                    Профессиональный бизнес центр в Дубаи для локальных (mainland and free zone) международных компаний для размещения персонала и
                    регистрации бизнеса: переговорные комнаты, конференц-зал, а также аудитории для тренингов и ивентов.
                  p.block22__text-p.
                    Это возможность незамедлительно приступить к работе и пользоваться инфраструктурой и атрибутами крупного бизнеса.
              .block22__footer.block22__footer_border
                .block22__footer-item
                  .block22__footer-number 40
                  .block22__footer-text офисов с Ejari
                .block22__footer-item
                  .block22__footer-number 110
                  .block22__footer-text sustainability spaces
                .block22__footer-item
                  .block22__footer-number 180
                  .block22__footer-text мест коворкинга
        .flex__item
          .block22.block22_width1
            .block22__item
              .block22__content
                .block22__title Бизнес школа
                .block22__text
                  p.block22__text-p.
                    SORP — образовательная платформа нового поколения, объединяющая академические знания, бизнес-компетенции, уникальный нетворкинг,
                    встречи инвесторов и владельцев бизнеса.
              .block22__footer.block22__footer_first
                .block22__footer-item
                  .block22__footer-number 34
                  .block22__footer-text курса
        .flex__item
          .block22.block22_width1
            .block22__item
              .block22__content
                .block22__title Doing Business in Dubai
                .block22__text
                  p.block22__text-p.
                    Тренинг Doing Business In Dubai, который посвящен основам ведения бизнеса в Объединенных Арабских Эмиратах и перспективам
                    оптимизации международного бизнеса с опорой на ОАЭ.
              .block22__footer.block22__footer_first
                .block22__footer-item
                  .block22__footer-number 6
                  .block22__footer-text ноября 2020
        .flex__item
          .block22.block22_width1
            .block22__item
              .block22__content
                .block22__title.block22__title_height90 Центр экспертиз и методологий
                .block22__text
                  p.block22__text-p.
                    Ведение бизнеса в ОАЭ и выход на международный рынок требует глубокого понимания устоявшихся в стране бизнес-традиций и
                    особенностей местного законодательства — мы делимся 15 летним опытом успешной работы.
              .block22__footer.block22__footer_first
                .block22__footer-item
                  .block22__footer-number 25
                  .block22__footer-text стратегических направлений
        .flex__item.flex__item_width2
          .block22.block22_width1
            .block22__item
              .block22__content
                .block22__title.block22__title_height90 Мультифункциональный аутсорсинговый центр
                .block22__text
                  p.block22__text-p.
                    Мультифункциональный центр оказывает широкий спектр аутсорсинговых услуг, необходимых на этапе создания и ведения бизнеса в ОАЭ,
                    а также на международном рынке. Наши эксперты 24/7 готовы оказать помощь предпринимателям от операционной деятельности до решения
                    стратегических задач.
                  p.block22__text-p.
                    Вы сможет отказаться от услуг дорогостоящих специалистов, получив выгодные аутсорсиноговые решения по сопровождению вашего бизнеса
                    и сконцентрироваться только на его развитии.
              .block22__footer.block22__footer_border
                .block22__footer-item
                  .block22__footer-number 54
                  .block22__footer-text эксперта в штате
                .block22__footer-signature В числе которых: менеджеры, аналитики, маркетологи, IT-специалисты и специалисты юридического отдела
        .flex__item
          .block22.block22_width1
            .block22__item
              .block22__content
                .block22__title.block22__title_height90 Бизнес-акселератор
                .block22__text
                  p.block22__text-p.
                    Бизнес-планы прошедшие экспертизу смогут получить до 70% финансирования. Утвержденные проекты будут направлены профессиональным
                    инвесторам, с которыми мы находимся в постоянной коммуникации
              .block22__footer.block22__footer_first
                .block22__footer-item
                  .block22__footer-number-box
                    .block22__footer-number-box-title до
                    .block22__footer-number 70%
                  .block22__footer-text экономии на<br> развитии<br> проекта

    .r60
    .r10

  .r60
  .container
    .about-company.lazy(data-bg="./dist/img/blocks/about-company/bg.svg")
      .about-company__left
        h3.about-company__title Ваши надежные партнеры в долгосрочной работе на территории ОАЭ
        p.about-company__text.
          Бизнес-платформа признана международными и локальными ведомствами, является официальным партнером Дубайского Экономического
          Департамента и 45 свободных экономических зон ОАЭ.
        .btn.btn_white.btn_space-between Необходима консультация?
          svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg', width='36', height='36', viewBox='0 0 128 128')
            use(xlink:href='#btn__icon-modal')
      .about-company__right
        picture
          source(type='image/webp', data-srcset='./dist/img/blocks/about-company/about_video.webp, ./dist/img/blocks/about-company/about_video_2x.webp 2x')
          source(type='image/jpeg', data-srcset='./dist/img/blocks/about-company/about_video.jpg, ./dist/img/blocks/about-company/about_video_2x.jpg 2x')
          img.about-company__img.lazy(src="./dist/img/blocks/mask.png" data-src='./dist/img/blocks/about-company/about_video.jpg', alt='Ваши надежные партнеры в долгосрочной работе на территории ОАЭ')


  .r60
  .r1.r_bg-e5

  .r60
  .container
    .slider-number.lazy(data-bg="./dist/img/blocks/slider-number/bg.svg")
      .slider-number__box
        img.slider-number__box-logo.lazy(src="./dist/img/blocks/mask.png" data-src='./dist/img/blocks/slider-number/SRP-stat.png', alt='Ваши надежные партнеры в долгосрочной работе на территории ОАЭ')
      .slider-number__carousel.owl-carousel
        .slider-number__item
          .slider-number__number.counterAnimate.animated 54
          .slider-number__text эксперта<br> в офисе
        .slider-number__item
          .slider-number__number 4657
          .slider-number__text проведенных<br> консультаций
        .slider-number__item
          .slider-number__number 7
          .slider-number__text юридических<br> лиц
        .slider-number__item
          .slider-number__number 94%
          .slider-number__text CSI индекс удовлетворенности<br> потребителей
        .slider-number__item
          .slider-number__number 15
          .slider-number__text лет опыта<br> в ОАЭ
        .slider-number__item
          .slider-number__number 1589
          .slider-number__text зарегистрированных<br> юр лиц
        .slider-number__item
          .slider-number__number 10
          .slider-number__text государственных<br> аккредитаций
        .slider-number__item
          .slider-number__number 4000
          .slider-number__text + гостей посетили<br> бизнес-центр в прошлом году
        .slider-number__item
          .slider-number__number 5000
          .slider-number__text м2<br> офисных<br> пространств
        .slider-number__item
          .slider-number__number 503
          .slider-number__text компаний<br> в управлении
        .slider-number__item
          .slider-number__number 725
          .slider-number__text проведенных<br> экспертиз
        .slider-number__item
          .slider-number__number 9 NPS
          .slider-number__text индекс<br> лояльности<br> потребителя
    .r60
    .r20


    //-.tslider
      .tslider__border3
      .tslider__border
      .tslider__border2
      .tslider__image

      .owl-carousel
        .tslider-item
          .tslider-item__number 9 NPS
          .tslider-item__text индекс<br> лояльности<br> потребителя
  .r60

  //-br
  //-br
  //-#opportunities
  //-.page-block.page-block--z2.page-block--white.sorp_opportunities
    .container.container--w
      h2.red.wow.fadeInUp
        | Решения
        span SORP Group
        |  открывают
        br
        |             возможности и перспективы:
      .clpa-list
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Выйти на рынок и вести бизнес в ОАЭ
          .clpa-block__text
            | От адаптации бизнес-стратегии до запуска локального проекта “под ключ”
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Релокация бизнеса в ОАЭ и иммиграция
          .clpa-block__text
            | Комплексные решения по иммиграции бизнеса и физических лиц
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Инкорпорация юридических лиц в ОАЭ
          .clpa-block__text
            | Ведение бизнеса без налогов и границ, выгодно и свободно
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Вести международную деятельность
          .clpa-block__text
            | Престиж, стабильность и свободное движение капитала без налогов
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Оптимизировать налоговое бремя
          .clpa-block__text
            | Эффективные инструменты международного налогового планирования
        .clpa-block.wow.fadeInUp
          .clpa-block__name
            | Усовершенствовать торговлю и логистику
          .clpa-block__text
            | Импорт, экспорт, реэкспорт, трансфертное ценообразование и логистические решения
  // 55 решений - моб.
  #solution
  .container
    .big-header.wow.fadeInUp
      | SORP - это
      b.counterAnimate 55
      |  решений для вашего бизнеса на территории ОАЭ и всего мира
    #m-sitemap.m-sitemap
      .m-sitemap__content.m-sitemap--general.m-sitemap--open
        .m-sitemap__list
          .m-sitemap__item(onclick="openMobileSitemap('01')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/4.png', width='38', alt='')
            span
              | СОЗДАНИЕ
              br
              | БИЗНЕСА В ОАЭ
          .m-sitemap__item(onclick="openMobileSitemap('03')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/2.png', width='38', alt='')
            span
              | БИЗНЕС
              br
              | ПОД ФЛАГОМ ОАЭ
          .m-sitemap__item(onclick="openMobileSitemap('02')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/5.png', width='38', alt='')
            span
              | РЕГИСТРАЦИЯ
              br
              | БИЗНЕСА В ОАЭ
          .m-sitemap__item(onclick="openMobileSitemap('04')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/6.png', width='38', alt='')
            span
              | ПОДДЕРЖКА
              br
              | БИЗНЕСА В ОАЭ
          .m-sitemap__item(onclick="openMobileSitemap('05')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/3.png', width='58px', alt='')
            span
              | БИЗНЕС-ЦЕНТР
              br
              | В ДУБАЕ
          .m-sitemap__item(onclick="openMobileSitemap('06')")
            .m-sitemap__burger
            img.lazy(data-src='/assets/templates/main/img/front/1.png', width='38px', alt='')
            span
              | ЛИЦЕНЗИРОВАНИЕ
              br
              | БИЗНЕСА
      // СОЗДАНИЕ БИЗНЕСА В ОАЭ
      .m-sitemap__content.m-sitemap--el01
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='biznes-v-oae')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon1.png', width='38px', style='width:38px!important', alt='')
              span Какой бизнес открыть в ОАЭ
            a.m-sitemap__item(href='uae-business-setup')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon2.png', width='25', style='width:38px!important', alt='')
              span Как начать бизнес в ОАЭ
            a.m-sitemap__item(href='uae-market')
              img.lazy(data-src='/assets/templates/main/img/icon-007_w.png', width='25', style='width:38px!important', alt='')
              span Как выйти на рынок ОАЭ
            a.m-sitemap__item(href='investment')
              img.lazy(data-src='/assets/templates/main/img/i15_w.png', width='25', style='width:38px!important', alt='')
              span Как инвестировать в ОАЭ
          .m-sitemap__list
            a.m-sitemap__item(href='license')
              img.lazy(data-src='/assets/templates/main/img/icon026_w.png', width='25', style='width:38px!important', alt='')
              span Как лицензировать бизнес в ОАЭ
            a.m-sitemap__item(href='buy-business')
              img(src='/assets/templates/main/img/w20.svg', width='25', style='width:32px!important', alt='')
              span Как купить бизнес в ОАЭ
            a.m-sitemap__item(href='business-services')
              img(src='/assets/tabs/config-01.svg', width='25', style='width:38px!important', alt='')
              span Как организовать бизнес в сфере услуг и сервиса
            a.m-sitemap__item(href='manufacturing')
              img(src='/assets/tabs/i23.svg', width='25', style='width:38px!important', alt='')
              span Как открыть производство
          .m-sitemap__list
            a.m-sitemap__item(href='trade-hub')
              img(src='/assets/templates/main/img/i35_w.svg', width='25', style='width:38px!important', alt='')
              span Как начать торговлю в ОАЭ
            a.m-sitemap__item(href='import-trade')
              img.lazy(data-src='/assets/templates/main/img/i24_w.png', width='25', style='width:38px!important', alt='')
              span Как импортировать в ОАЭ
            a.m-sitemap__item(href='product-certification')
              img(src='/assets/tabs/i21.svg', width='25', style='width:32px!important', alt='')
              span Как сертифицировать продукцию
      // //СОЗДАНИЕ БИЗНЕСА В ОАЭ
      // БИЗНЕС ПОД ФЛАГОМ ОАЭ
      .m-sitemap__content.m-sitemap--el03
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='trading-opportunities')
              img.lazy(data-src='/assets/templates/main/img/f02_w.png', width='25', style='width:38px!important', alt='')
              span Международная торговля из ОАЭ
            a.m-sitemap__item(href='investment')
              img.lazy(data-src='/assets/tabs/w10.svg', width='25', style='width:38px!important', alt='')
              span Инвестиции под флагом ОАЭ
            a.m-sitemap__item(href='export-trading')
              img(src='/assets/templates/main/img/i25_w.svg', width='25', style='width:38px!important', alt='')
              span Как вести экспорт и реэкспорт из ОАЭ
            a.m-sitemap__item(href='tax-adviser')
              img.lazy(data-src='/assets/tabs/lic5.svg', width='25', style='width:38px!important', alt='')
              span Инструменты Международного налогового планирования
          .m-sitemap__list
            a.m-sitemap__item(href='tax-residency-in-uae')
              img.lazy(data-src='/assets/templates/main/img/icon-006_w.png', width='25', style='width:38px!important', alt='')
              span Статус налогового резидента ОАЭ
            a.m-sitemap__item(href='consolidation')
              img.lazy(data-src='/assets/templates/main/img/i15_w.png', width='25', style='width:38px!important', alt='')
              span Консолидация бизнеса и активов
            a.m-sitemap__item(href='kyc')
              img.lazy(data-src='/assets/templates/main/img/icon-002_w.png', width='25', style='width:38px!important', alt='')
              span Сохранность банковской тайны
            a.m-sitemap__item(href='holding-company-in-uae')
              img.lazy(data-src='/assets/templates/main/img/i32_w.png', width='25', style='width:38px!important', alt='')
              span Построение холдингов и структур
          .m-sitemap__list
            a.m-sitemap__item(href='[[~60]]')
              img.lazy(data-src='/assets/tabs/event-list-icon.svg', width='25', style='width:38px!important', alt='')
              span Подтверждение центра управления и контроля и Economic substance
            a.m-sitemap__item(href='international-business')
              img.lazy(data-src='/assets/tabs/i07.svg', width='25', style='width:38px!important', alt='')
              span Оптимизация международного бизнеса из ОАЭ
      // //БИЗНЕС ПОД ФЛАГОМ ОАЭ
      // РЕГИСТРАЦИЯ БИЗНЕСА В ОАЭ
      .m-sitemap__content.m-sitemap--el02
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='registratsiya-kompanii')
              img.lazy(data-src='/assets/templates/main/img/f06_w.png', width='25', style='width:38px!important', alt='')
              span Инкорпорация компаний в ОАЭ
            a.m-sitemap__item(href='local-company-in-uae')
              img(src='/assets/templates/main/img/i43_w.svg', width='25', style='width:38px!important', alt='')
              span Регистрация локальных компаний
            a.m-sitemap__item(href='freezone-company-in-uae')
              img.lazy(data-src='/assets/templates/main/img/i13_w.png', width='25', style='width:38px!important', alt='')
              span Регистрация фризон компаний
            a.m-sitemap__item(href='buy-company')
              img.lazy(data-src='/assets/templates/main/img/icon025_w.png', width='25', style='width:38px!important', alt='')
              span Продажа и покупка юридических лиц
          .m-sitemap__list
            a.m-sitemap__item(href='uae-offshore')
              img.lazy(data-src='/assets/tabs/w23.svg', width='25', style='width:38px!important', alt='')
              span Регистрация оффшорных компаний
            a.m-sitemap__item(href='holding-company-in-uae')
              img.lazy(data-src='/assets/templates/main/img/i32_w.png', width='25', style='width:38px!important', alt='')
              span Построение холдингов и структур
            a.m-sitemap__item(href='trust')
              img.lazy(data-src='/assets/templates/main/img/i14_w.png', width='25', style='width:38px!important', alt='')
              span Создание Арабского траста
            a.m-sitemap__item(href='bank-account')
              img.lazy(data-src='/assets/templates/main/img/i01_w.png', width='25', style='width:38px!important', alt='')
              span Открытие банковских счетов в ОАЭ
          .m-sitemap__list
            a.m-sitemap__item(href='business-management')
              img.lazy(data-src='/assets/templates/main/img/cc6_w.png', width='25', style='width:38px!important', alt='')
              span Номинальный сервис и управление бизнесом
            a.m-sitemap__item(href='tax-adviser')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon1.png', width='25', style='width:38px!important', alt='')
              span Инструменты Международного налогового планирования
      // //РЕГИСТРАЦИЯ БИЗНЕСА В ОАЭ
      // ПОДДЕРЖКА БИЗНЕСА В ОАЭ
      .m-sitemap__content.m-sitemap--el04
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='business-support')
              img.lazy(data-src='/assets/tabs/why-sopr4.svg', width='25', style='width:38px!important', alt='')
              span Сопровождение бизнеса
            a.m-sitemap__item(href='legal-support')
              img.lazy(data-src='/assets/tabs/lic2.svg', width='25', style='width:38px!important', alt='')
              span Правовая поддержка бизнеса
            a.m-sitemap__item(href='bank-account')
              img.lazy(data-src='/assets/templates/main/img/i01_w.png', width='25', style='width:38px!important', alt='')
              span Поддержка банковского обслуживания
            a.m-sitemap__item(href='license-renewal')
              img.lazy(data-src='/assets/templates/main/img/config-02_w.png', width='25', style='width:38px!important', alt='')
              span Сопровождение в продлении лицензий
          .m-sitemap__list
            a.m-sitemap__item(href='trade-and-logistic')
              img(src='/assets/templates/main/img/i45_w.svg', width='38', style='width:58px!important', alt='')
              span Решения по торговле и логистике
            a.m-sitemap__item(href='taxes-and-accounting')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon5.png', width='25', style='width:34px!important', alt='')
              span Налоги и бухгалтерия в ОАЭ
            a.m-sitemap__item(href='business-management')
              img.lazy(data-src='/assets/templates/main/img/cc6_w.png', width='25', style='width:38px!important', alt='')
              span Решения по управлению бизнесом и номинальному сервису
            a.m-sitemap__item(href='documents-legalization')
              img.lazy(data-src='/assets/templates/main/img/f06_w.png', width='25', style='width:35px!important', alt='')
              span Легализация документов в ОАЭ
          .m-sitemap__list
            a.m-sitemap__item(href='immigration-services')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon1.png', width='25', style='width:38px!important', alt='')
              span Иммиграция и релокация бизнеса
            a.m-sitemap__item(href='business-center')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='25', style='width:38px!important', alt='')
              span Размещение бизнеса в ОАЭ
      // //ПОДДЕРЖКА БИЗНЕСА В ОАЭ
      // БИЗНЕС-ЦЕНТР В ДУБАЕ
      .m-sitemap__content.m-sitemap--el05
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='office-rent-dubai')
              img.lazy(data-src='/assets/templates/main/img/vv4_w.png', width='25', style='width:38px!important', alt='')
              span Офисы для размещения бизнеса
            a.m-sitemap__item(href='coworking-dubai')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon4.png', width='25', style='width:28px!important', alt='')
              span Аренда рабочих мест в коворкинге
            a.m-sitemap__item(href='sustainability-office-dubai')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon5.png', width='25', style='width:34px!important', alt='')
              span Аренда Sustainability Spaces
            a.m-sitemap__item(href='virtual-office-dubai')
              img.lazy(data-src='/assets/templates/main/img/v4_w.png', width='25', style='width:38px!important', alt='')
              span Виртуальный (удалённый) офис
          .m-sitemap__list
            a.m-sitemap__item(href='meeting-room-dubai')
              img.lazy(data-src='/assets/tabs/w18.svg', width='25', style='width:52px!important', alt='')
              span Аренда переговорных и конференц-зала
            a.m-sitemap__item(href='meeting-room-dubai')
              img.lazy(data-src='/assets/tabs/w27.svg', width='25', style='width:38px!important', alt='')
              span Аудитории для тренингов и обучения
            a.m-sitemap__item(href='business-support')
              img.lazy(data-src='/assets/templates/main/img/vv4_w.png', width='25', style='width:38px!important', alt='')
              span Поддержка бизнеса
            a.m-sitemap__item(href='[[~60]]')
              img.lazy(data-src='/assets/templates/main/img/why_sopr3_w.png', width='25', style='width:38px!important', alt='')
              span Центр управления и Economic Substance
      // //БИЗНЕС-ЦЕНТР В ДУБАЕ
      // ЛИЦЕНЗИРОВАНИЕ БИЗНЕСА
      .m-sitemap__content.m-sitemap--el06
        .m-sitemap__link(onclick='closeMobileSitemap()') Назад
        .m-sitemap__carousel.owl-carousel
          .m-sitemap__list
            a.m-sitemap__item(href='trading-license')
              img(src='/img/i11_white.svg', width='15', style='width:51px!important', alt='')
              span Лицензирование торгового бизнеса в ОАЭ
            a.m-sitemap__item(href='professional-license')
              img.lazy(data-src='/assets/templates/main/img/p23_w.png', width='25', style='width:38px!important', alt='')
              span Лицензирование профессиональной деятельности в ОАЭ
            a.m-sitemap__item(href='construction-license')
              img.lazy(data-src='/assets/templates/main/img/p23_w.png', width='25', style='width:38px!important', alt='')
              span Лицензирование строительного бизнеса в ОАЭ
            a.m-sitemap__item(href='international-license')
              img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='25', style='width:38px!important', alt='')
              span Получение особых лицензий
          .m-sitemap__list
            a.m-sitemap__item(href='tourism-license')
              img.lazy(data-src='/assets/templates/main/img/i23_w.png', width='25', style='width:38px!important', alt='')
              span Лицензирование туристического бизнеса
            a.m-sitemap__item(href='educational-license')
              img.lazy(data-src='/assets/templates/main/img/pw4.png', width='25', style='width:38px!important', alt='')
              span Лицензирование в сфере образования
            a.m-sitemap__item(href='real-estate-license')
              img.lazy(data-src='/assets/templates/main/img/certificate.svg', width='25', style='width:38px!important', alt='')
              span Лицензирование в сфере недвижимости
            a.m-sitemap__item(href='investment-license')
              img.lazy(data-src='/img/w30.svg', width='25', style='width:44px!important', alt='')
              span Лицензирование инвестиционной деятельности
          .license-engineering
            a.m-sitemap__item(href='inzhiniringovaya')
              img.lazy(data-src='/img/w24.svg', width='25', style='width:43px!important', alt='')
              span Лицензирование инженерной и инжиниринговой деятельности
      // //ЛИЦЕНЗИРОВАНИЕ БИЗНЕСА
  // //55 решений - моб.
  // 55 решений - десктоп
  #napravleniya
  #home-sitemap.subpage
    #home-sitemap-bookmarks
      .home-sitemap-bookmark
        span Создание бизнеса в ОАЭ
      .home-sitemap-bookmark
        span Бизнес под флагом ОАЭ
      .home-sitemap-bookmark.active
        span Регистрация бизнеса в ОАЭ
      .home-sitemap-bookmark
        span Поддержка бизнеса в ОАЭ
      .home-sitemap-bookmark
        span Бизнес-центр в Дубае
      .home-sitemap-bookmark
        span Лицензирование бизнеса
    #home-sitemap-items
      // Создание бизнеса в ОАЭ
      .home-sitemap-items
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='biznes-v-oae/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon1.png', width='48', alt='')
            span Какой бизнес открыть в ОАЭ
          a(href='uae-business-setup/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon2.png', width='46', alt='')
            span Как начать бизнес в ОАЭ
          a(href='uae-market/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/icon-007_w.png', width='40', alt='')
            span Как выйти на рынок ОАЭ
          br
          a(href='investment/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i15_w.png', width='42', alt='')
            span Как инвестировать в ОАЭ
          a(href='license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/icon026_w.png', width='48', alt='')
            span Как лицензировать бизнес в ОАЭ
          a(href='buy-business/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/templates/main/img/w20.svg', width='37', alt='')
            span Как купить бизнес в ОАЭ
          a(href='business-services/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/tabs/config-01.svg', width='42', alt='')
            span Как организовать бизнес в сфере услуг и сервиса
          a(href='manufacturing/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/tabs/i23.svg', width='42', alt='')
            span Как открыть производство в ОАЭ
          a(href='trade-hub/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/templates/main/img/i35_w.svg', width='40', alt='')
            span Как начать торговлю в ОАЭ
          a(href='import-trade/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i24_w.png', width='46', alt='')
            span Как импортировать в ОАЭ
          a(href='product-certification/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/tabs/i21.svg', width='45', alt='')
            span Как сертифицировать продукцию в ОАЭ
          //
            a href="international-business">
            <div class="home-sitemap-item-redbg"></div>
            <img data-src="/assets/templates/main/img/d/sitemap_icon3.png" class="lazy" width="42" alt="">
            <span>Международная деятельность из ОАЭ</span>
            </a
      // //Создание бизнеса в ОАЭ
      // Бизнес под флагом ОАЭ
      .home-sitemap-items
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='trading-opportunities/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/f02_w.png', width='48', alt='')
            span Международная торговля из ОАЭ
          a(href='investment/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/w10.svg', width='42', alt='')
            span Инвестиции под флагом ОАЭ
          br
          a(href='export-trading/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/templates/main/img/i25_w.svg', width='42', alt='')
            span Как вести экспорт и реэкспорт из ОАЭ
          a(href='tax-adviser/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='48', alt='')
            span Инструменты Международного налогового планирования
          a(href='tax-residency-in-uae/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/icon-006_w.png', width='41', alt='')
            span Статус налогового резидента ОАЭ
          a(href='consolidation/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i15_w.png', width='51', alt='')
            span Консолидация бизнеса и активов
          br
          a(href='kyc/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/icon-002_w.png', width='44', alt='')
            span Сохранность банковской тайны
          a(href='holding-company-in-uae/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i32_w.png', width='52', alt='')
            span Построение холдингов и структур
          a(href='[[~60]]', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/event-list-icon.svg', width='42', alt='')
            span Подтверждение центра управления и контроля и Economic substance
          a(href='international-business/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/i07.svg', width='42', alt='')
            span Оптимизация международного бизнеса из ОАЭ
      // //Бизнес под флагом ОАЭ
      // Регистрация бизнеса в ОАЭ
      .home-sitemap-items.active
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='registratsiya-kompanii/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/f06_w.png', width='38', alt='')
            span Инкорпорация компаний в ОАЭ
          a(href='local-company-in-uae/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/templates/main/img/i43_w.svg', width='40', alt='')
            span Регистрация локальных компаний
          a(href='freezone-company-in-uae/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i13_w.png', width='42', alt='')
            span Регистрация фризон компаний
          br
          a(href='buy-company/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/icon025_w.png', width='38', alt='')
            span Продажа и покупка юридических лиц
          a(href='uae-offshore/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/w23.svg', width='50', alt='')
            span Регистрация оффшорных компаний
          a(href='holding-company-in-uae/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i32_w.png', width='52', alt='')
            span Построение холдингов и структур
          br
          a(href='trust/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i14_w.png', width='52', alt='')
            span Создание арабского траста
          a(href='bank-account/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i01_w.png', width='42', alt='')
            span Открытие банковских счетов в ОАЭ
          a(href='business-management/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/cc6_w.png', width='46', alt='')
            span Номинальный сервис и управление бизнесом
          a(href='tax-adviser/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/lic5.svg', width='48', alt='')
            span Инструменты Международного налогового планирования
      // //Регистрация бизнеса в ОАЭ
      // Поддержка бизнеса в ОАЭ
      .home-sitemap-items
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='business-support/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/why-sopr4.svg', width='42', alt='')
            span Сопровождение бизнеса
          a(href='legal-support/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/lic2.svg', width='42', alt='')
            span Правовая поддержка бизнеса
          a(href='bank-account/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i01_w.png', width='42', alt='')
            span Поддержка банковского обслуживания
          br
          a(href='license-renewal/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/config-02_w.png', width='42', alt='')
            span Сопровождение в продлении лицензий
          a(href='trade-and-logistic/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/assets/templates/main/img/i45_w.svg', width='52', alt='')
            span Решения по торговле и логистике
          a(href='taxes-and-accounting/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon5.png', width='30', alt='')
            span Налоги и бухгалтерия в ОАЭ
          br
          a(href='business-management/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/cc6_w.png', width='46', alt='')
            span Решения по управлению бизнесом и номинальному сервису
          a(href='documents-legalization/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/f06_w.png', width='38', alt='')
            span Легализация документов в ОАЭ
          a(href='immigration-services/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon1.png', width='48', alt='')
            span Иммиграция и релокация бизнеса в ОАЭ
          a(href='business-center/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='48', alt='')
            span Размещение бизнеса в ОАЭ
      // //Поддержка бизнеса в ОАЭ
      // Бизнес-центр в Дубае
      .home-sitemap-items
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='office-rent-dubai/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/vv4_w.png', width='46', alt='')
            span Офисы для размещения бизнеса
          br
          a(href='coworking-dubai/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon4.png', width='30', alt='')
            span Аренда рабочих мест в коворкинге
          a(href='sustainability-office-dubai/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon5.png', width='30', alt='')
            span Аренда SUSTAINABILITY SPACES
          a(href='virtual-office-dubai/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/v4_w.png', width='52', alt='')
            span Виртуальный (удалённый) офис
          br
          a(href='meeting-room-dubai/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/w18.svg', width='52', alt='')
            span Аренда переговорных и конференц-зала
          a(href='conference-room/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/tabs/w27.svg', width='42', alt='')
            span Аудитории для тренингов и обучения
          a(href='business-support/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='42', alt='')
            span Консалтинговая поддержка арендаторам
          a(href='[[~60]]', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/why_sopr3_w.png', width='42', alt='')
            span Подтверждение центра управления и контроля и Economic substance
          //
            a href="business-school">
            <div class="home-sitemap-item-redbg"></div>
            <img data-src="/assets/templates/main/img/pw01.png" class="lazy" width="44" alt="">
            <span>Бизнес-школа</span>
            </a
      // //Бизнес-центр в Дубае
      // Лицензирование бизнеса
      .home-sitemap-items
        img.bookmark-bg(src='/assets/templates/main/img/labirint.jpg', alt='')
        .home-sitemap-items-list
          a(href='trading-license/', target='_blank')
            .home-sitemap-item-redbg
            img(src='/img/i11_white.svg', width='50', alt='')
            span Лицензирование торгового бизнеса в ОАЭ
          a(href='professional-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/p23_w.png', width='42', alt='')
            span Лицензирование профессиональной деятельности в ОАЭ
          br
          a(href='construction-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/p01_w.png', width='42', alt='')
            span Лицензирование строительного бизнеса в ОАЭ
          a(href='international-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/d/sitemap_icon3.png', width='42', alt='')
            span Получение особых лицензий
          a(href='tourism-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/i23_w.png', width='42', alt='')
            span Лицензирование туристического бизнеса
          br
          a(href='educational-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/pw4.png', width='42', alt='')
            span Лицензирование в сфере образования
          a(href='real-estate-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/assets/templates/main/img/certificate.svg', width='42', alt='')
            span Лицензирование в сфере недвижимости
          a(href='investment-license/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/img/w30.svg', width='51', alt='')
            span Лицензирование инвестиционной деятельности
          a(href='inzhiniringovaya/', target='_blank')
            .home-sitemap-item-redbg
            img.lazy(data-src='/img/w24.svg', width='45', alt='')
            span Лицензирование инженерной и инжиниринговой деятельности
      // //Лицензирование бизнеса
    div
  // 55 решений - десктоп
  #platform
  // Платформа SORP
  .page-block.page-block--z2.page-block--white.sorp_platform
    .container.container--w
      h2.red.wow.fadeInUp
        | Платформа
        span SORP
      b.wow.fadeInUp.desc(style='visibility: visible; animation-name: fadeInUp;')
        | SORP Group создал уникальную
        | платформу для решения задач, возникающих в процессе организации и развития бизнеса. Платформа стала базой
        | для роста тысячи международных и локальных проектов.
      .lpb-list.lpb-list--desktop
        a.lpb-block.wow.fadeInUp(href='business-center')
          .lpb-block__name Бизнес центр
          .lpb-block__text
            p
              br
              | Офисы и рабочие места в аренду
            p Переговорные комнаты и конференц-залы
            |                     Консалтинговая и юридическая поддержка
        a.lpb-block.wow.fadeInUp(href='business-school')
          .lpb-block__name
            | Бизнес
            br
            |  школа
          .lpb-block__text
            p Бизнес-образование от практиков бизнеса
            p Государственное академическое признание и выдача дипломов
        .lpb-block.lpb-block--gray.wow.fadeInUp
          .lpb-block__name
            | Doing
            br
            |  Business
            br
            |  in Dubai
          .lpb-block__text
            p Уникальный обучающий опыт и нетворкинг
        a.lpb-block.wow.fadeInUp(href='uae-market')
          .lpb-block__name
            | Центр экспертиз
            br
            |  и методологий
          .lpb-block__text
            p Проверка гипотез и адаптация бизнес-стратегии
            p Анализ рынка и конкурентов
            p Лицензирование, выход на рынок
        .lpb-block.lpb-block--gray.wow.fadeInUp
          .lpb-block__name
            | Мульти-
            br
            | функциональный центр
          .lpb-block__content
            .lpb-block__text
              p
                | Комплексная налоговая, бухгалтерская, правовая и консалтинговая поддержка арендаторов SORP
                | Бизнес-центра
        .lpb-block.lpb-block--gray.wow.fadeInUp
          .lpb-block__name Бизнес-акселератор
          .lpb-block__text
            p Стартовая площадка для бизнеса
            p Экономия на развитии проекта до 70% при утверждении инвест плана
      .lpb-list.lpb-list--mobile
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('01')")
          .lpb-block__name Бизнес центр
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('02')")
          .lpb-block__name
            | Бизнес
            br
            |  университет
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('03')")
          .lpb-block__name
            | Doing
            br
            |  Business
            br
            |  in Dubai
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('04')")
          .lpb-block__name
            | Бизнес
            br
            |  экспертиза
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('05')")
          .lpb-block__name
            | Мульти-
            br
            | функциональный центр
        .lpb-block.wow.fadeInUp(onclick="lpbOpen('06')")
          .lpb-block__name
            | Бизнес-акселератор
        .lpb-block-info.lpb-block-info--01
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Бизнес центр
          .lpb-block__text
            div
              br
              | Офисы и рабочие места в аренду
            div Переговорные комнаты и конференц-залы
            |                     Консалтинговая и юридическая поддержка
          br
          .lpb-block__link
            a(href='business-center') Смотреть
        .lpb-block-info.lpb-block-info--02
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Бизнес
            br
            |  университет
          .lpb-block__text
            div
              | Бизнес-образование от практиков бизнеса
            small
              | Государственное академическое
              | признание и выдача дипломов
          br
          .lpb-block__link
            a(href='business-school') Смотреть
        .lpb-block-info.lpb-block-info--03
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Doing
            br
            |  Business
            br
            |  in Dubai
          .lpb-block__text
            small
              | Уникальный обучающий
              | опыт и нетворкинг
        .lpb-block-info.lpb-block-info--04
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Бизнес
            br
            |  экспертиза
          .lpb-block__text
            small
              div
                | Проверка гипотез
                | и адаптация бизнес-стратегии
              |                         Анализ рынка и конкурентов
              |                         Лицензирование, выход на рынок
          br
          .lpb-block__link
            a(href='uae-market') Смотреть
        .lpb-block-info.lpb-block-info--05
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Мультифункциональный центр
          .lpb-block__content
            .lpb-block__text
              div
                | Аутсорсинг всех необходимых бизнес-процессов:
              small
                | От операционной деятельности
                | до решения стратегических задач
            .lpb-block__text
              | 54 эксперта
              br
              |  в штате
        .lpb-block-info.lpb-block-info--06
          .lpb-block__link(onclick='lpbClose()') Назад
          .lpb-block__name
            | Бизнес-акселератор
          .lpb-block__text
            div
              | Стартовая площадка для бизнеса
            small
              | Экономия на развитии
              | проекта до 70% при
              | утверждении инвест плана
      b#the-last-block.red-big.wow.fadeInUp.acreditation_block
        | Мы аккредитованы
        span
          | десятью
          | международными
        |  и локальными
        |             ведомствами:
      .rb-slider.owl-carousel
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l1.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l2.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l3.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l4.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l5.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l6.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l7.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l8.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l9.png')
        img.lazy.wow.fadeInUp(data-src='/assets/templates/main/img/Logo_SRP/l10.png')

  | {/block}



