
@media only screen and (max-width : 1025px) {
  .nav {margin-left: -90px;}
  header::before {
    left:62%;
  }
  .un_js {
    height: 50vh;
  }
  .un {
    padding-top: 10vh;
    height: 50vh;
     .btn {
      width: 30vw;
      height: 65px;

    }
  }
  .decor_blk {
    max-width: 350px;
  }
  .decor_blk3 {
    right: 20px;
  }
  .decor_blk1 {
    right: 20px;
  }
}
/*-------------------------------------------*/
@media only screen and (max-width : 769px) {
  html {font-size: 14px;}
  .tb {max-width: 350px;}
  .srv_decor {display: none;}
  header {
    .wrap {padding:0 10px;}
  }
  #srv {
    height: auto;
    .wrap {
      .flex(space-between);
      flex-wrap: wrap;
      height: auto;
    }
  }
  .decor_blk {
    position: static;
    margin: 20px auto;
  }
  .nav, .headr_info {display: none;}
  #items li {padding:20px 5px;}
  .mob {
    display: block;
  }
}
/*-------------------------------------------*/
@media only screen and (max-width : 450px) {
  header::before {
    left:50%;
  }
  .un_js {
    height: 80vh;
  }
  .un {
    height: 80vh;
    .btn {width: 85vw;}
  }
  h1 {font-size: 1.6rem;}
  h2 {font-size: 1.3rem;}
  #items  {
    li {padding:10px 5px;}
    svg {
      max-width: 40px;
      max-height: 40px;
    }
    a {
      span {font-size: 0.9rem;}
    }  
  }
  .tb {
    display: none;
  }
  #srv {
    .wrap {padding:0 10px;}
  }
  #about {
    .wrap {
      padding: 0 10px;
      display: block;
    }
  }
  .about_item {
    max-width: 100%;
  }
  .feed_item {padding: 10px;}
  footer {
    .nav {
      display: block;
      li {
        margin-bottom: 10px;
      }
    }
  }
  .overlay {
    form {
      width: 95%;
      padding: 35px 20px;
    }
  }
  .adres_wrap {
    display: block;
    li {
      text-align: center;
    }
  }
  .tb1 {
    width: 100%;
  }
}



