.hr1 {
      position:absolute;
      top:0;
      width:1px;
      display: inline-block;
      background: #E3E3E3;
      left:5%;
      height:100%;
  }
    .hr2 {
      position:absolute;
      top:0;
      width:1px;
      display: inline-block;
      background: #E3E3E3;
      left:50%;
      height:100%;
  }
    .hr3 {
      position:absolute;
      top:0;
      width:1px;
      display: inline-block;
      background: #E3E3E3;
      right:5%;
      height:100%;
  }