/* Блок №5 */
.block5 {
    padding: 30px 15px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    border: 1px solid #262C3A;
}

.block5__text {
    color: #818A9F;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.block5__icon {
    flex: none;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
}

@media (min-width: 767.98px) {
    .block5 {
        padding: 45px;
        flex-wrap: nowrap;
    }
    .block5__icon {
        margin: 0 25px 0 0;
    }
    .block5__text {
        font-size: 19px;
        line-height: 30px;
    }
}