.block-line {
    position: relative;
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.block-line--line-right:before {
    position: absolute;
    content: '';
    width: calc(100% - 50px);
     height: calc(100% + 1px);
    -webkit-border-top-right-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid #d64356;
    top: 88px;
    left: 57px;
    border-left: 0;
    /*height: calc(100% + 1px);*/
}

.block-line--line-left:before {
    position: absolute;
    content: '';
    width: calc(100% - 50px);
    -webkit-border-top-left-radius: 50px;
    border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 2px solid #d64356;
    top: 88px;
    right: 57px;
    border-right: 0;
    height: calc(100% + 2px);
}

.block-line--line-last:before {
    border: none;
}

.block-line__item {
    position: relative;
    z-index: 2;
    width: calc(33.333% - 30px);
    margin: 0 15px;
    margin-top: 50px;
}

.block-line__item_bg-white {
    background: #fff;
}

.block-line__item b {
    /* min-height: 70px; */
    padding-bottom: 10px;display: block;/* margin-bottom: 10px; */
}

.block-line--2 .block-line__item {
    /* margin-right: 15%; */
    width: 50%;
    margin: 0;
    padding: 0 15px;
    margin-top: 50px;
}

.block-line__item span.warning {
    color: #d64356;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 10px;
}

.block-line__item span.warning:before {
    content: '';
    width: 21px;
    height: 17px;
    margin-top: 7px;
    margin-right: 7px;
    background: url("../img/warning.svg") no-repeat center / contain;
}

.block-line__img {
    width: 85px;
    height: 85px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #d64356;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 35px;

    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.block-line__item img {
    width: 40px;
    /* height: 40px; */
    max-height: 100%;
}
.block-line__item b {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #292F3D;
}

.block-line__item span {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6E7990;
}
@media (max-width: 576px) {
   .block-line__item {
        width: 100%;
        margin: 15px !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center
    }

    .block-line--2 .block-line__item {
        width: 100%
    }

    .block-line__item b {
        padding-bottom: 0;
        margin-left: 10px;
        width: calc(100% - 95px);
        height: auto
    }

    .block-line__item > span {
        display: block;
        margin-top: 10px
    }

    .block-line__img {
        margin-bottom: 0;
        width: 40px;
        height: 40px;
        font-size: 21px
    }

    .block-line__img img {
        max-width: 25px;
        max-height: 25px
    }

    .block-line__item b {
        padding-bottom: 0 !important
    }

}