.block18 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__text {
        &-pr120 {
            padding-right: 120px;
        }
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        position: relative;

        width: 40%;
        margin-bottom: 60px;
        z-index: 1;

        &_small { 
            width: 33.33%; 
            .block18__icon { width: 60px; height: 50px; } }
            
        &_align-center { text-align: center; align-items: center; }

            &_bg-shape {
                position: absolute;
                display: block;
                width: 210px;
                height: 210px;
                box-sizing: border-box;
                border: #FFF solid 15px;
                bottom: -75px;
                left: -90px;
                z-index: -1;
        
                &_gray { border-color: #F9F9F9; }
                
                &_XY-Lside { bottom: 120px; left: 400px; }
            }
        
            &_bg-shape-thin {
                position: absolute;
                display: block;
                width: 180px;
                height: 180px;
                box-sizing: border-box;
                border: #e0e0e0 solid 1px;
                bottom: -89px;
                left: -104px;
                z-index: -1;
        
                &_XY-Lside  { bottom: 100px; left: 450px; }
            }
    }

    &__icon {
        height: 70px;
        width: 75px;
        margin-bottom: 20px;
    }

    &__title {
        color: #262c3a;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        padding: 10px 0 15px;

        &_big { font-weight: 600; font-size: 20px; }
    }

    &__description {
        color: #6C7A94;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }   
    
    &__text_p30-sides { padding: 0 30px; }
}




@media (max-width: 700px) {
    .block18 {
        &__item { 
        width: 100%; flex-direction: row; align-items: center; margin-bottom: 30px; 
        
        &_bg-shape-thin, &_bg-shape { display: none; }    
        }
        
        &__text  {
            &-pr120  { padding-right: 0; }
        }

        &__item_align-center { text-align: left; }
        &__icon { margin-right: 30px; height: 50px; width: 50px; margin-bottom: 0; }
        &__title_big { font-size: 18px; }
    }
    
    .block18__description_p30-sides { padding: 0; }
}