.r60,.r50, .r40, .r30,.r20,.r10,.r5,.r2,.r1 { width: 100%; }
.r60 { height: 60px; }
.r50 { height: 50px; }
.r40 { height: 40px; }
.r30 { height: 30px; }
.r20 { height: 20px; }
.r10 { height: 10px; }
.r5 { height: 5px; }
.r2 { height: 2px; }
.r1 { height: 1px; }

.r_bg-e5 { background: #E5E5E5; }
.r_bg-с4 { background: #C4C4C4; }
.r_bg-red { background: #CC4052; }