.ss-slider {
  display: none;
  background: #f9f9f9;
  z-index: 2;
  position: relative;
  padding: 120px 0 50px;
}

.ss-slider .owl-stage {
  display: flex;
  align-items: stretch;
}

.ss-slider-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ss-slider-item__header {
  color: #262c3a;
  line-height: 48px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 20px 0;
}

.ss-slider-item__header span {
  font-size: 30px;
  display: block;
  font-weight: 400;
}

.ss-slider-item__text {
  color: #262c3a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: auto;
}

@media (max-width: 768px) {
  .ss-slider-item__logo img {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }

  .ss-slider-item__header {
    font-size: 27px;
    margin: 15px 0 10px;
    line-height: 1.2;
  }

  .ss-slider-item__header span {
    font-size: 23px;
  }

  .ss-slider-item__text {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: unset;
  }
}

.ss-slider-item__logo img {
  width: 40% !important;
  margin: 0 auto;
}

.ss-slider-item__button {
  height: 50px;
  border: 1px solid #e44d59;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: center;
  margin: 80px auto 0;
  color: #e44d59;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
}

.ss-slider .owl-dots {
  display: flex !important;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 85px;
}

.ss-slider .owl-dots > .owl-dot, .m-sitemap .owl-dots > .owl-dot, .rb-slider .owl-dots > .owl-dot {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .ss-slider {
    display: block
  }

  .p-2cc3nop2--desktop {
    display: none
  }
}

.ss-slider--ab {
  margin-bottom: 0;
  border-bottom: 0
}

.ss-slider .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.ss-slider-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center
}

.ss-slider-item .ul2 {
  display: flex
}

.ss-slider-item .ul2 .ul-type-2:first-child {
  padding-right: 15px
}

.ss-slider-item .ul2 .ul-type-2 li:before {
  margin-right: 5px;
  margin-top: 5px
}

.ss-slider-item--center {
  justify-content: center
}

.ss-slider-item strong {
  font-weight: 700 !important
}

.ss-slider-item__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px
}

.ss-slider-item__header {
  color: #262c3a;
  line-height: 48px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 20px 0
}

.ss-slider-item__header strong {
  font-weight: 700
}

.ss-slider-item__header span {
  font-size: 30px;
  display: block;
  font-weight: 400
}

.ss-slider-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center
}

.ss-slider-item__text strong {
  font-weight: 700 !important
}

.ss-slider-item__text:before {
  content: '';
  width: 12px;
  height: 12px;
  min-width: 12px;
  margin-top: 0;
  display: inline-block;
  background: url(//sorp.ae/wp-content/themes/twentyseventeen/../img/event_icon.svg) no-repeat center/contain;
  margin-right: 5px;
  display: none
}

@media (max-width: 768px) {
  .ss-slider-item__logo img {
    height: 80px;
    width: 60px;
    object-fit: contain
  }

  .ss-slider-item__header {
    font-size: 27px;
    margin: 0 0 10px;
    line-height: 1.2
  }

  .ss-slider-item__header span {
    font-size: 23px
  }

  .ss-slider-item__text {
    font-size: 14px
  }
}

.ss-slider-item__logo img {
  width: 40% !important;
  margin: 0 auto
}

.ss-slider-item__button {
  height: 50px;
  border: 1px solid #e44d59;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: center;
  margin: 20px auto 0;
  color: #e44d59;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
}

.ss-slider .owl-dots {
  display: flex !important;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
  bottom: -30px
}

.ss-slider .owl-dots > .owl-dot {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}